Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

fixup review comments
  ocaml/idl/datamodel_repository.ml
  ocaml/xapi/helpers.ml
  ocaml/xapi/repository.ml
  ocaml/xapi/repository.mli
  ocaml/xapi/repository_helpers.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Call `firewall-port` in IPv6 when management is in IPv6
  ocaml/xapi/dbsync_slave.ml
  ocaml/xapi/helpers.ml
  ocaml/xapi/nm.ml
  ocaml/xapi/xapi_clustering.ml
  ocaml/xapi/xapi_host.ml
Due: ocaml

xapi-nbd: service depends on host certificate being present
  scripts/xapi-nbd.service
Due: none

xapi: remove unneeded definitions
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi.mli
  ocaml/xapi/xapi_main.ml
  ocaml/xapi/xapi_main.mli
  quality-gate.sh
Due: ocaml

scripts: add all missing .service files
  scripts/Makefile
  scripts/forkexecd.service
  scripts/message-switch.service
  scripts/squeezed.service
  scripts/xapi-storage-script.service
  scripts/xenopsd-simulator.service
  scripts/xenopsd-xc.service
Due: none

CA-342973: remove xapi-wait-init-complete.service
  scripts/Makefile
  scripts/xapi-wait-init-complete
  scripts/xapi-wait-init-complete.service
  scripts/xapi.service
Due: none

CA-342973: use systemd_notify for xapi finishing initialisation
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_main.ml
  scripts/xapi.service
Due: ocaml

CA-342973: Remove all waits on xapi.service
  python3/perfmon/perfmon.service
  scripts/control-domain-params-init.service
  scripts/generate-iscsi-iqn.service
  scripts/network-init.service
  scripts/xapi-nbd.service
Due: python3

xapi-wait-socket: new service that waits for xapi to be available locally
  scripts/Makefile
  scripts/xapi-wait-socket
  scripts/xapi-wait-socket.service
  scripts/xapi.service
Due: none

Update datamodel_lifecycle.ml
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

CA-401274: Remove external auth limitation during set_hostname_live
  ocaml/xapi/xapi_host.ml
Due: ocaml

CP-52114: Add pool.license_server for pool level licensing
  ocaml/idl/datamodel_common.ml
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/datamodel_pool.ml
  ocaml/idl/schematest.ml
  ocaml/tests/common/test_common.ml
  ocaml/xapi-cli-server/records.ml
  ocaml/xapi/dbsync_master.ml
Due: ocaml

CP-49134: tracing: do not destroy stacktrace
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/tests/test_observer.ml
  ocaml/xapi/context.ml
  ocaml/xapi/context.mli
  ocaml/xapi/taskHelper.ml
  ocaml/xenopsd/lib/xenops_server.ml
Due: ocaml

CP-49078: Preprocess fields into a Hashtbl
  ocaml/idl/ocaml_backend/gen_db_actions.ml
Due: ocaml

CP-49078: Construct a hash table inside API
  ocaml/idl/ocaml_backend/gen_api.ml
Due: ocaml

CP-49078: Use Hashtbl within Schema
  ocaml/database/db_cache_types.ml
  ocaml/database/schema.ml
  ocaml/database/test_schemas.ml
  ocaml/idl/datamodel_schema.ml
Due: ocaml

opam: update vhd packages' opam metadata
  dune-project
  vhd-format-lwt.opam
  vhd-format.opam
  vhd-format.opam.template
Due: none

maintenance: compatibility with cstruct 6.2.0
  ocaml/xcp-rrdd/lib/transport/base/rrd_protocol_v1.ml
Due: ocaml

CA-401651: stunnel_cache: run the cache expiry code periodically
  ocaml/libs/stunnel/stunnel_cache.ml
  ocaml/libs/stunnel/stunnel_cache.mli
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_periodic_scheduler_init.ml
Due: ocaml

CA-401652: stunnel_cache: decrease limit on pool members
  ocaml/xapi/xapi_globs.ml
Due: ocaml

CA-401652: stunnel_cache: set stunnel size limit based on host role
  ocaml/libs/stunnel/stunnel_cache.ml
  ocaml/libs/stunnel/stunnel_cache.mli
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_globs.ml
Due: ocaml

CP-51701: [perf] Xapi_event: do not convert to lowercase if already lowercase
  ocaml/xapi/xapi_event.ml
Due: ocaml

CP-51701: [perf] Xapi_events: replace List.any+map with List.exists
  ocaml/xapi/xapi_event.ml
Due: ocaml

CP-51701: [perf] Xapi_event: drop duplicate lowercase_ascii
  ocaml/xapi/xapi_event.ml
Due: ocaml

CP-49158: [prep] Add Task completion latency benchmark
  ocaml/tests/bench/bench_throttle2.ml
  ocaml/tests/bench/dune
  ocaml/xapi/taskHelper.mli
Due: ocaml

CP-51690: [bugfix] Xapi_periodic_scheduler: avoid 10s sleep on empty queue
  ocaml/tests/test_event.ml
  ocaml/xapi/xapi_periodic_scheduler.ml
Due: ocaml

CP-51690: [prep] Xapi_periodic_scheduler: Factor out Delay.wait call
  ocaml/xapi/xapi_periodic_scheduler.ml
Due: ocaml

CP-51693: feat(use-xmlrpc): [perf] use JSONRPC instead of XMLRPC for internal communication
  ocaml/tests/common/mock_rpc.ml
  ocaml/xapi/helpers.ml
  ocaml/xapi/xapi_globs.ml
Due: ocaml

CP-51488: Set `tgroup` based on request header.
  ocaml/libs/tgroup/dune
  ocaml/libs/tgroup/tgroup.ml
  ocaml/libs/tgroup/tgroup.mli
Due: ocaml

CP-51489: Classify threads based on http requests.
  dune-project
  http-lib.opam
  ocaml/libs/http-lib/dune
  ocaml/libs/http-lib/http_svr.ml
  ocaml/libs/tgroup/tgroup.ml
Due: ocaml

CP-49064: Init cgroups at xapi startup
  dune-project
  ocaml/libs/tgroup/dune
  ocaml/xapi/dune
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_globs.ml
  tgroup.opam
  xapi.opam
Due: ocaml

CP-50537: Propagate originator as a http request header
  ocaml/libs/http-lib/http.ml
  ocaml/libs/http-lib/http.mli
  ocaml/xapi/sm_exec.ml
  ocaml/xapi/xapi_observer_components.ml
  ocaml/xapi/xapi_observer_components.mli
  python3/examples/XenAPI/XenAPI.py
Due: ocaml, python3

CP-49064:`Tgroup` library
  ocaml/libs/tgroup/dune
  ocaml/libs/tgroup/tgroup.ml
  ocaml/libs/tgroup/tgroup.mli
Due: ocaml

CP-51493: Add `set_cgroup`
  ocaml/libs/tgroup/dune
  ocaml/libs/tgroup/tgroup.ml
  ocaml/libs/tgroup/tgroup.mli
Due: ocaml

CP-50537: Always reset `_extra_headers` when making a connection.
  python3/examples/XenAPI/XenAPI.py
Due: python3

CP-50537: Add a guard in `xapi_globs`, `Xapi_globs.tgroups_enabled`.
  ocaml/libs/http-lib/http_svr.ml
  ocaml/libs/tgroup/tgroup.ml
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_globs.ml
Due: ocaml

CP-52625: workaround Rpc.Int32 parsing bug
  ocaml/xapi-types/event_types.ml
Due: ocaml

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
