Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

Refactor Hashtbl.find out of xenopsd/xc/readln.ml
  ocaml/xenopsd/xc/readln.ml
Due: ocaml

Transition from exception-raising Unix.getenv to Sys.getenv_opt with
  ocaml/libs/stunnel/stunnel.ml
  ocaml/networkd/lib/network_utils.ml
  ocaml/tapctl/tapctl.ml
  ocaml/xapi-idl/lib/coverage/enabled.ml
  ocaml/xapi-idl/lib/xcp_service.ml
  ocaml/xapi-storage-script/examples/volume/org.xen.xcp.storage.plainlvm/common.ml
  ocaml/xapi/helpers.ml
  ocaml/xapi/xapi_host.ml
  ocaml/xapi/xapi_support.ml
  ocaml/xapi/xha_scripts.ml
  ocaml/xe-cli/newcli.ml
  ocaml/xe-cli/options.ml
  ocaml/xenopsd/cli/xn.ml
  ocaml/xsh/xsh.ml
  quality-gate.sh
Due: ocaml

Add a gate for Hashbtl.find
  quality-gate.sh
Due: none

CP-49926: Removed shell.py from scripts/examples/python
  scripts/Makefile
  scripts/examples/python/shell.py
Due: none

Stop testing scripts/plugins/extauth-hook-AD.py with Python2.7
  .github/workflows/other.yml
  scripts/plugins/test_extauth_hook_AD.py
Due: none

extauth-hook-AD.py: Fix `pytype` warnings, cleanup `pylint` suppressions
  pyproject.toml
  scripts/plugins/extauth-hook-AD.py
Due: none

CP-50135: Bump datamodel_lifecycle for anti-affinity
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

IH-621: Add IPMI host power on support and remove DRAC
  ocaml/idl/datamodel_host.ml
  scripts/Makefile
  scripts/poweron/DRAC.py
  scripts/poweron/IPMI.py
  scripts/poweron/power-on.py
Due: ocaml

opam: remove unversioned opam dependencies
  dune-project
  xapi-stdext-threads.opam
  xapi-stdext-zerocheck.opam
Due: none

opam: generate xapi-forkexecd with dune
  dune-project
  forkexec.opam
  forkexec.opam.template
  xapi-forkexecd.opam
  xapi-forkexecd.opam.template
Due: none

opam: generate xapi-networkd using dune
  dune-project
  xapi-networkd.opam
  xapi-networkd.opam.template
Due: none

IH-621 Add changed line to power_on_mode
  ocaml/idl/datamodel_host.ml
Due: ocaml

fix(fe_test): make it compatible with fd-send-recv 2.0.2
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

fe_test: print stacktrace on unit test failure
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

IH-621: Python tweaks suggested by pylint
  scripts/poweron/IPMI.py
Due: none

Fix indentation in C code
  ocaml/xenopsd/c_stubs/sockopt_stubs.c
Due: ocaml

CP-50100: backup-sr-metadata.py: apply 2to3 and change shebang to python3
  pyproject.toml
  scripts/backup-sr-metadata.py
Due: none

CP-50100: backup-sr-metadata.py: Fix pyright and pylint to prepare move
  python3/stubs/XenAPI.pyi
  scripts/backup-sr-metadata.py
Due: python3

Improve spelling and fix typos in Python3 scripts
  python3/bin/perfmon
  python3/libexec/nbd_client_manager.py
  python3/packages/observer.py
  python3/perfmon/perfmon
  scripts/examples/python/XenAPIPlugin.py
  scripts/plugins/extauth-hook-AD.py
Due: python3

Python3: Cleanup unused imports
  python3/extensions/pool_update.apply
  scripts/plugins/extauth-hook-AD.py
Due: python3

CA-394343: After clock jump the xapi assumed the host is HOST_OFFLINE
  ocaml/xapi/db_gc.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_ha.ml
Due: ocaml

scripts/restore-sr-metadata.py: Apply 2to3, fix pytype(prepare moving it)
  pyproject.toml
  scripts/restore-sr-metadata.py
Due: none

Fixes: 99c43569a0 ("Transition from exception-raising Unix.getenv to Sys.getenv_opt with")
  ocaml/xapi-idl/lib/xcp_service.ml
Due: ocaml

IH-642 Restructure xs-trace to use Cmdliner
  ocaml/xs-trace/dune
  ocaml/xs-trace/xs_trace.ml
Due: ocaml

scripts/xe-reset-networking: Convert tabs to spaces and fix whitespace
  scripts/xe-reset-networking
Due: none

CP-49906: Move scripts/plugins/extauth-hook-AD.py to python3/plugins
  python3/Makefile
  python3/plugins/extauth-hook
  python3/plugins/extauth-hook-AD.py
  python3/plugins/extauth_hook_ad.py
  python3/plugins/test_extauth_hook_AD.py
  scripts/Makefile
Due: python3

scripts/restore-sr-metadata.py: isort, fix pyright and pylint
  scripts/restore-sr-metadata.py
Due: none

CP-50193: Update new fingerprint fields on DB upgrade
  ocaml/idl/datamodel_certificate.ml
  ocaml/idl/datamodel_common.ml
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/schematest.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates.mli
  ocaml/xapi/certificates_sync.ml
Due: ocaml

CP-49906: extauth-hook-AD.py: Fix remaining pylint warnings
  python3/plugins/extauth-hook-AD.py
Due: python3

CP-49900: Removed templates folder from python3/ - Removed templates debian and debug from Makefile
  python3/Makefile
  python3/templates/debian
  python3/templates/debug
Due: python3

Only create watcher once
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

Refactor cluster change watcher interval
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

Refactor watcher creation code
  ocaml/xapi/xapi_cluster.ml
  ocaml/xapi/xapi_cluster_host.ml
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

XenAPIPlugin.py: Remove the superflous catch & raise of SystemExit
  scripts/examples/python/XenAPIPlugin.py
Due: none

CP-394109: Alert only once for cluster host leave/join
  ocaml/tests/test_cluster.ml
  ocaml/xapi/xapi_cluster_helpers.ml
  ocaml/xapi/xapi_cluster_host.ml
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

Add new internal API cstack_sync
  ocaml/idl/datamodel_cluster.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_cluster.ml
  ocaml/xapi/xapi_cluster.mli
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

Feature flag the cstack_sync call
  ocaml/xapi/xapi_cluster.ml
Due: ocaml
