Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

fixup! CP-50117: Adds specialized socket for sm
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

CA-395789: Add polling to cluster health state update
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

Fix pylint warnings
  python3/examples/XenAPIPlugin.py
Due: python3

Delete unused sed command in python3 Makefile
  python3/Makefile
Due: python3

Remove `universal=1` from setup.cfg to only support python3
  python3/examples/setup.cfg
Due: python3

Add more detailed debug message
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

ci: Avoid breaking through the opam sandbox in tests
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/test_systemd.t
Due: ocaml

ci: use ocaml-setup v3
  .github/workflows/format.yml
  .github/workflows/setup-xapi-environment/action.yml
Due: none

ci: Do not spend time pinning packages
  .github/workflows/setup-xapi-environment/action.yml
Due: none

xenopsd: Add pytest for common.VIF.get_locking_mode()
  ocaml/xenopsd/scripts/test_common_class_vif.py
Due: none

Removed shebang from XenAPI.py and XenAPIPlugin.py as they are library code.
  python3/examples/Makefile
  python3/examples/XenAPI/XenAPI.py
  python3/examples/XenAPIPlugin.py
  python3/examples/setup.cfg
Due: python3

Remove python2 related CI
  .github/workflows/main.yml
  .github/workflows/other.yml
Due: none

xenopsd: Fix warnings: remove inner function, use isinstance
  ocaml/xenopsd/scripts/common.py
Due: ocaml

xenopsd: Add pytest for common.VIF.get_ethtool()
  ocaml/xenopsd/scripts/test_common_class_vif.py
Due: none

xenopsd: get_ethtool(): Fix passing two args to append()
  ocaml/xenopsd/scripts/common.py
  ocaml/xenopsd/scripts/test_common_class_vif.py
Due: ocaml

Remove duplicated line.
  .github/workflows/main.yml
Due: none

CA-389345: fix incorrect data type in python3
  ocaml/xenopsd/scripts/igmp_query_injector.py
Due: ocaml

pytype: Enable checking on ocaml dirs, fix pythonpath
  pyproject.toml
Due: none

xenopsd: as Interface.online() is removed, remove get_ethtool() too
  ocaml/xenopsd/scripts/common.py
Due: ocaml

loop+blkback example: Fix pytype warning: Handle None(not found)
  ocaml/xapi-storage/python/examples/datapath/loop+blkback/datapath.py
Due: ocaml

xenopsd: remove the orphaned common.Interface.online() method
  ocaml/xenopsd/scripts/common.py
Due: ocaml

xenopsd: remove the orphaned qemu-vif-script (qemu backend was removed)
  Makefile
  ocaml/xenopsd/scripts/make-custom-xenopsd.conf
  ocaml/xenopsd/scripts/qemu-vif-script
  ocaml/xenopsd/xenopsd.conf
Due: ocaml

CP-50444: New `with_child_trace` function added to `tracing.ml`
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
Due: ocaml

CP-50444: Intrument `http_svr`
  dune-project
  ocaml/libs/http-lib/dune
  ocaml/libs/http-lib/http_svr.ml
  ocaml/libs/http-lib/http_svr.mli
  ocaml/xapi/api_server.ml
  ocaml/xapi/dune
  xapi-rrdd.opam
Due: ocaml

CP-49526: Resolve non-CDN design comments
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

CA-396540: Add API error for bundle syncing failure
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Quicktest: actually run the quickcheck tests too
  ocaml/quicktest/quicktest.ml
Due: ocaml

xapi-fd-test: generate inputs for select
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/dune
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/generate.ml
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/generate.mli
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/observations.ml
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/observations.mli
  ocaml/libs/xapi-stdext/lib/xapi-fdcaps/operations.ml
  ocaml/libs/xapi-stdext/lib/xapi-fdcaps/operations.mli
Due: ocaml

unixext_test: add test for select
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test.ml
Due: ocaml

xapi-fd-test: fix BLK tests
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test.ml
Due: ocaml

Quicktest: add unixext_test
  ocaml/quicktest/dune
  ocaml/quicktest/quicktest
  ocaml/quicktest/quicktest.ml
Due: ocaml

xapi-fd-test: introduce with kind list
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/observations.ml
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/observations.mli
Due: ocaml

CP-32622: Thread.wait_timed_read/wait_timed_write
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/threadext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/threadext.mli
Due: ocaml

xapi-fd-test: fix compatibility with old losetup
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/observations.ml
  ocaml/libs/xapi-stdext/lib/xapi-fdcaps/operations.ml
  ocaml/libs/xapi-stdext/lib/xapi-fdcaps/operations.mli
  ocaml/libs/xapi-stdext/lib/xapi-fdcaps/test/test_operations.ml
Due: ocaml

xapi-fd-test: introduce testable_file_kinds
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/generate.ml
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/generate.mli
Due: ocaml

xapi-fd-test: fix BLK EBADF
  ocaml/libs/xapi-stdext/lib/xapi-fdcaps/operations.ml
Due: ocaml

CP-32622: introduce select-as-epoll in Unixext
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.mli
Due: ocaml

xapi_fd_test: introduce testable_file_kind
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/generate.ml
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/generate.mli
Due: ocaml

xapi-fd-test: switch to testing Unixext.select
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test.ml
Due: ocaml

CP-32622: Replace: Unix.select and Thread.wait_timed_* with Unixext equivalents
  ocaml/database/block_device_io.ml
  ocaml/database/master_connection.ml
  ocaml/forkexecd/src/child.ml
  ocaml/libs/ezxenstore/core/dune
  ocaml/libs/ezxenstore/core/watch.ml
  ocaml/libs/http-lib/buf_io.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.mli
  ocaml/message-switch/unix/dune
  ocaml/networkd/lib/jsonrpc_client.ml
  ocaml/xapi-idl/lib/dune
  ocaml/xapi-idl/lib_test/dune
  ocaml/xapi-idl/lib_test/scheduler_test.ml
  ocaml/xe-cli/newcli.ml
  ocaml/xenopsd/cli/dune
  ocaml/xenopsd/cli/xn.ml
  ocaml/xsh/dune
  ocaml/xsh/xsh.ml
Due: ocaml
