Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

CP-47354: add unit tests for `func_name_suffix` and `string_of_ty_with_enums`
  ocaml/sdk-gen/go/test_gen_go.ml
Due: ocaml

Fix CI conflicts between master branch and feature/py3 branch
  .github/workflows/other.yml
  pyproject.toml
Due: none

.codecov.yml: Update Coverity config to cleanup obsolete python2 components
  .codecov.yml
Due: none

Merge feature/py3 to master
  pyproject.toml
Due: none

CP-48855: render APIVersion
  ocaml/sdk-gen/common/CommonFunctions.ml
  ocaml/sdk-gen/go/gen_go_binding.ml
  ocaml/sdk-gen/go/test_data/api_versions.go
  ocaml/sdk-gen/go/test_gen_go.ml
Due: ocaml

CP-48855: fix go lint var-naming warnings
  ocaml/sdk-gen/go/gen_go_helper.ml
Due: ocaml

tracing: replace global ref with Atomic
  ocaml/libs/tracing/tracing.ml
Due: ocaml

tracing: add missing locks on read
  ocaml/libs/tracing/tracing.ml
Due: ocaml

CP-48195: Set `Tracing.observe` default to `false`
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/tests/test_observer.ml
Due: ocaml

fix `StringOfTyWithEnumsTest` after merged
  ocaml/sdk-gen/go/test_gen_go.ml
Due: ocaml

CA-392163 clear scheduled assignments on startup
  ocaml/xapi/dbsync_master.ml
Due: ocaml

CA-392163 - backport adjustments
  ocaml/xapi/message_forwarding.ml
Due: ocaml

CA-392163 on start failure, clear a VM's resource allocations
  ocaml/xapi/message_forwarding.ml
Due: ocaml

CP-48969: Reduce amount of logspam created by iostat
  ocaml/xcp-rrdd/bin/rrdp-iostat/rrdp_iostat.ml
Due: ocaml

opam: update dependencies from the code
  xapi-idl.opam
  xapi-idl.opam.template
  xapi-xenopsd.opam
  xapi-xenopsd.opam.template
Due: none

idl: bump datamodel_lifecycle
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

CA-389319: Wait and retry for GET_UPDATES_IN_PROGRESS
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/xapi_pool_helpers.ml
Due: ocaml

CP-48855: it should be only one empty line at end of Go file
  ocaml/sdk-gen/go/gen_go_binding.ml
Due: ocaml

CP-47356: expose `published_release_for_param` and `compare_versions` for usage of other modules
  ocaml/sdk-gen/common/CommonFunctions.ml
  ocaml/sdk-gen/common/CommonFunctions.mli
Due: ocaml

Use templates to generate `Types.java`
  ocaml/sdk-gen/java/main.ml
  ocaml/sdk-gen/java/templates/Types.mustache
Due: ocaml

Use templates to generate Java classes
  ocaml/sdk-gen/java/main.ml
  ocaml/sdk-gen/java/templates/Class.mustache
Due: ocaml

Split generation of Types.java into separate functions
  ocaml/sdk-gen/java/main.ml
Due: ocaml

Split generation of classes into separate functions
  ocaml/sdk-gen/java/main.ml
Due: ocaml

CP-48195: Add unit tests for `tracing` library.
  ocaml/libs/tracing/dune
  ocaml/libs/tracing/test_tracing.ml
  ocaml/libs/tracing/test_tracing.mli
  ocaml/tests/test_observer.ml
Due: ocaml

CP-48195: Tracing -- Move `create`\`set`\`destroy`\...
  ocaml/libs/tracing/test_tracing.ml
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/libs/tracing/tracing_export.ml
  ocaml/tests/test_observer.ml
  ocaml/xapi/context.ml
  ocaml/xapi/xapi_observer.ml
  ocaml/xenopsd/lib/xenops_server.ml
Due: ocaml

CP-48195: Remove code duplication.
  ocaml/xapi/storage_mux.ml
Due: ocaml

CA-390883: python3/tests: Fix pylint and pyright warnings
  python3/bin/hfx_filename
  python3/libexec/nbd_client_manager.py
  python3/libexec/usb_reset.py
  python3/libexec/usb_scan.py
  python3/tests/test_observer.py
  python3/tests/test_perfmon.py
  python3/tests/test_usb_scan.py
Due: python3

CA-390883: Simplify GitHub Workflow to re-use venvs from pre-commit
  .github/workflows/main.yml
Due: none

CA-390883: pyproject.toml: Add config for pytest & other local checks
  pyproject.toml
  python3/stubs/XenAPI.pyi
  python3/stubs/xcp/branding.py
  python3/stubs/xcp/logger.pyi
  pytype_reporter.py
Due: python3

CA-390883: .pre-commit-config.yaml: Add venvs for running local tests
  .pre-commit-config.yaml
Due: none

Fixup the merge: fix duplicated pylint config and fix pytype with pyudev
  .github/workflows/other.yml
  pyproject.toml
  python3/libexec/usb_reset.py
  python3/libexec/usb_scan.py
  python3/tests/import_helper.py
  python3/tests/test_observer.py
  scripts/examples/python/provision.py
  scripts/mail-alarm
Due: python3

CA-390883: python3/tests: Fix remaining pylint and pyright comments in python3/*.py
  python3/bin/hfx_filename
  python3/libexec/nbd_client_manager.py
  python3/libexec/usb_reset.py
  python3/libexec/usb_scan.py
  python3/tests/test_perfmon.py
  python3/tests/test_usb_scan.py
Due: python3

CA-390883: Simplify GitHub Workflow to re-use venvs from pre-commit
  .github/workflows/other.yml
Due: none

CA-390883: python3/tests: Fix remaining pylint and pyright comments in python3/*.py
  python3/bin/hfx_filename
  python3/libexec/nbd_client_manager.py
  python3/libexec/usb_reset.py
  python3/libexec/usb_scan.py
  python3/tests/test_perfmon.py
  python3/tests/test_usb_scan.py
  scripts/test_mail-alarm.py
Due: python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
