Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

CP-49029: Instrument `xapi_session.ml` with tracing
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/xapi/context.ml
  ocaml/xapi/context.mli
  ocaml/xapi/xapi_session.ml
Due: ocaml

CP-32622: Use Unix.sleepf for sleeps instead of select
  ocaml/libs/stunnel/stunnel.ml
  ocaml/squeezed/src/squeeze_xen.ml
  ocaml/xe-cli/newcli.ml
  ocaml/xenopsd/cli/xn.ml
  ocaml/xenopsd/xc/memory_breakdown.ml
  ocaml/xenopsd/xc/memory_summary.ml
Due: ocaml

CP-47536: drop Unix.select in newcli
  ocaml/xe-cli/newcli.ml
Due: ocaml

update for using the generated sdk
  .github/workflows/go-ci/action.yml
  ocaml/sdk-gen/component-test/README.md
  ocaml/sdk-gen/component-test/jsonrpc-client/go/client.go
  ocaml/sdk-gen/component-test/jsonrpc-client/go/go.mod
  ocaml/sdk-gen/component-test/jsonrpc-client/go/main_test.go
  ocaml/sdk-gen/component-test/jsonrpc-server/server.py
  ocaml/sdk-gen/component-test/run-tests.sh
  ocaml/sdk-gen/component-test/spec/session.json
Due: ocaml

CA-390883: python3/tests: Fix remaining pylint and pyright comments in python3/*.py
  python3/bin/hfx_filename
  python3/libexec/nbd_client_manager.py
  python3/libexec/usb_reset.py
  python3/libexec/usb_scan.py
  python3/tests/test_perfmon.py
  python3/tests/test_usb_scan.py
  scripts/test_mail-alarm.py
Due: python3

CA-390883: pyproject.toml: Add config for pytest & other local checks
  pyproject.toml
  python3/stubs/XenAPI.pyi
  python3/stubs/xcp/branding.py
  python3/stubs/xcp/logger.pyi
  pytype_reporter.py
Due: python3

CA-390883: .pre-commit-config.yaml: Add venvs for running local tests
  .pre-commit-config.yaml
Due: none

CA-390883: Simplify GitHub Workflow to re-use venvs from pre-commit
  .github/workflows/other.yml
Due: none

tests/observer: Cover the changed lines of the merge from master
  python3/packages/observer.py
  python3/tests/observer/__init__.py
  python3/tests/observer/all.conf
  python3/tests/observer/it_handles_errors.py
  python3/tests/observer/it_traces.py
  python3/tests/observer/observer.conf
  python3/tests/observer/traced_script.py
Due: python3

Disable pylint warnings
  python3/tests/test_usb_scan.py
Due: none

Set up Github Action for go SDK component test (#5588)
  .github/workflows/go-ci/action.yml
  .github/workflows/go-lint/action.yml
  .github/workflows/sdk-ci/action.yml
  ocaml/sdk-gen/component-test/README.md
  ocaml/sdk-gen/component-test/jsonrpc-client/go/go.mod
  ocaml/sdk-gen/component-test/jsonrpc-client/go/main_test.go
  ocaml/sdk-gen/component-test/jsonrpc-server/requirements.txt
  ocaml/sdk-gen/component-test/jsonrpc-server/server.py
  ocaml/sdk-gen/component-test/run-tests.sh
  ocaml/sdk-gen/component-test/spec/session.json
Due: ocaml

Add Java SDK to SDK actions
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/release.yml
Due: none

Move `BadAsyncResult` at the bottom of exception list
  ocaml/sdk-gen/java/templates/Types.mustache
Due: ocaml

Add misc formatting adjustments
  ocaml/sdk-gen/java/main.ml
  ocaml/sdk-gen/java/templates/Class.mustache
  ocaml/sdk-gen/java/templates/Types.mustache
Due: ocaml

CP-49429 add IPv6 support for winbind/KDC
  ocaml/xapi/extauth_plugin_ADwinbind.ml
Due: ocaml

CP-49635: Add FIST point for corosync upgrade
  ocaml/xapi/xapi_clustering.ml
  ocaml/xapi/xapi_fist.ml
Due: ocaml

CP-48570: Add a field 'recommendations' in pool
  ocaml/idl/datamodel_pool.ml
  ocaml/idl/schematest.ml
  ocaml/tests/common/test_common.ml
  ocaml/xapi-cli-server/records.ml
  ocaml/xapi/dbsync_master.ml
Due: ocaml

CP-49429 store KDC in xapi as URI
  ocaml/xapi/extauth_plugin_ADwinbind.ml
Due: ocaml

CP-48570: Load recommendations from config file when Xapi starts
  ocaml/xapi/dbsync_master.ml
  ocaml/xapi/recommendations.ml
  ocaml/xapi/recommendations.mli
  ocaml/xapi/xapi_globs.ml
Due: ocaml

opam: add psq to xapi dependencies
  ocaml/xapi/dune
  xapi.opam
  xapi.opam.template
Due: ocaml

CP-48752: Update UT - add "power_state" for VM
  ocaml/tests/test_ha_vm_failover.ml
Due: ocaml

CP-48625: Anti-affinity support for host evacuation
  ocaml/xapi/xapi_ha_vm_failover.ml
Due: ocaml

CP-48752: Add UT for host evacuation with anti-affinity support
  ocaml/tests/test_ha_vm_failover.ml
  ocaml/xapi/xapi_ha_vm_failover.mli
Due: ocaml

CP-48752: Update UT - add "groups" for VM
  ocaml/tests/test_ha_vm_failover.ml
Due: ocaml

CP-48752: Update UT - vm set_resident_on host
  ocaml/tests/test_ha_vm_failover.ml
Due: ocaml

CP-48752: Update UT - support testing pool with more than 3 hosts
  ocaml/tests/test_ha_vm_failover.ml
Due: ocaml

CA-391381: Avoid errors for Partial Callables in observer.py
  python3/packages/observer.py
Due: python3

xapi-tracing: bind its test to the package
  ocaml/libs/tracing/dune
  xapi-tracing.opam
  xapi-tracing.opam.template
Due: ocaml

opam: generate xapi-tracing with dune
  dune-project
  xapi-tracing.opam
  xapi-tracing.opam.template
Due: none

opam: generate xapi-tracing-export with dune
  dune-project
  xapi-tracing-export.opam
  xapi-tracing-export.opam.template
Due: none

opam: generate rrdd-plugin with dune
  dune-project
  rrdd-plugin.opam
  rrdd-plugin.opam.template
Due: none

opam: generate xapi-rrd-transport-utils with dune
  dune-project
  xapi-rrd-transport-utils.opam
  xapi-rrd-transport-utils.opam.template
Due: none

opam: generate xapi-rrdd with dune
  dune-project
  xapi-rrdd.opam
  xapi-rrdd.opam.template
Due: none

opam: drop xapi-rrd-transport
  dune-project
  xapi-rrd-transport.opam
  xapi-rrd-transport.opam.template
Due: none

opam: drop xen-api-sdk
  dune-project
  xen-api-sdk.opam
  xen-api-sdk.opam.template
Due: none

update as comments
  scripts/examples/typescript/README.md
  scripts/examples/typescript/package.json
  scripts/examples/typescript/src/XenAPI.ts
  scripts/examples/typescript/tests/getXapiVersion.ts
Due: none

CP-48011: Xapi Support anti-affinity feature flag
  ocaml/xapi-types/features.ml
  ocaml/xapi-types/features.mli
  ocaml/xapi/xapi_vm.ml
  ocaml/xapi/xapi_vm_group.ml
  ocaml/xapi/xapi_vm_group_helpers.ml
  ocaml/xapi/xapi_vm_group_helpers.mli
  ocaml/xapi/xapi_vm_helpers.ml
Due: ocaml

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
