Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

pyproject.toml: Configure pytest and versions for testing
  pyproject.toml
Due: none

pytype_reporter: cleanup config to test files migrated to python3
  pyproject.toml
  pytype_reporter.py
Due: none

main.yml/CI: Cleanup pytest and pytype: They are run by pre-commit now
  .github/workflows/main.yml
Due: none

observer.py: Silence pyright warnings (which are expected)
  pyproject.toml
  python3/packages/observer.py
Due: python3

test_observer.py: Add setUp() and tearDown() of mock modules
  python3/tests/test_observer.py
Due: none

tests/observer: Add more tests that don't use Mock()
  python3/tests/observer/__init__.py
  python3/tests/observer/all.conf
  python3/tests/observer/it_handles_errors.py
  python3/tests/observer/it_traces.py
  python3/tests/observer/observer.conf
  python3/tests/observer/traced_script.py
Due: python3

observer.py: Allow debug by env var, and update error handling
  python3/packages/observer.py
Due: python3

Corrections as per code review.
  ocaml/doc/basics.md
  ocaml/doc/wire-protocol.md
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_certificate.ml
  ocaml/idl/markdown_backend.ml
  ocaml/idl/templates/api_errors.mustache
  ocaml/idl/templates/class.mustache
  ocaml/idl/templates/relationships.mustache
  ocaml/idl/templates/types.mustache
Due: ocaml

Github Actions: Update to falti/dotenv-action@v1 to fix Node 16 warnings
  .github/workflows/1.249-lcm.yml
  .github/workflows/format.yml
  .github/workflows/setup-xapi-environment/action.yml
Due: none

CP-47622: Add CLI interface 'xe host-updates-show-available'
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
Due: ocaml

Set `dependencyManagement` in Java SDK's `pom.xml`
  ocaml/sdk-gen/java/autogen/xen-api/pom.xml
Due: ocaml

Protocol_{lwt,async}: process requests concurrently (optional)
  ocaml/message-switch/async/protocol_async.ml
  ocaml/message-switch/core/s.ml
  ocaml/message-switch/lwt/protocol_lwt.ml
  ocaml/message-switch/switch/switch_main.ml
Due: ocaml

Make message switch concurrent processing optional
  ocaml/message-switch/core/dune
  ocaml/message-switch/core/make.ml
  ocaml/message-switch/core/s.ml
  ocaml/message-switch/unix/protocol_unix.ml
Due: ocaml

Set the unit test codcov target to 80%
  .codecov.yml
Due: none

Only test files migrated to python3
  .codecov.yml
  .github/workflows/main.yml
Due: none

formate with black
  scripts/usb_scan.py
Due: none

update some neccesary pylint issues
  pyproject.toml
  scripts/usb_scan.py
Due: none

remove usb_scan from expected_to_fail list in pyproject.toml
  pyproject.toml
Due: none

decode value produced by python3-pyudev which return bytes
  scripts/usb_scan.py
Due: none

fix pytype error: unsupported operand type(s) for +: str and UsbInterface
  scripts/usb_scan.py
Due: none

format with black for test_usb_scan.py
  scripts/test_usb_scan.py
  scripts/usb_scan.py
Due: none

Disable false positive in Pytype error reporting
  scripts/test_usb_scan.py
Due: none

increase code coverage
  scripts/test_usb_scan.py
  scripts/usb_scan.py
Due: none

update for comments
  scripts/test_usb_scan.py
Due: none

fix ut errors as python-pyudev return bytes instead of string
  .github/workflows/main.yml
  scripts/test_usb_scan.py
Due: none

move usb_scan.py with ut code into python3 folder
  python3/Makefile
  python3/libexec/usb_scan.py
  python3/unittest/import_file.py
  python3/unittest/test_usb_scan.py
  scripts/Makefile
Due: python3

Disable the code coverage of scripts folder
  .github/workflows/main.yml
Due: none

false positive for code coverage
  python3/unittest/test_hfx_filename.py
  python3/unittest/test_usb_scan.py
Due: none

CP-47653: Move perfmon.py to python3/bin
  python3/Makefile
  python3/bin/perfmon
  scripts/Makefile
Due: python3

solve the pylint warning
  pyproject.toml
  python3/libexec/usb_scan.py
  python3/unittest/test_usb_scan.py
Due: python3

CP-47653: Format the script using black and isort tools
  python3/bin/perfmon
Due: python3

Add test for concurrent message switch server
  ocaml/message-switch/core_test/async/server_async_main.ml
  ocaml/message-switch/core_test/basic-rpc-test.sh
  ocaml/message-switch/core_test/concur-rpc-test.sh
  ocaml/message-switch/core_test/dune
  ocaml/message-switch/core_test/lwt/server_main.ml
Due: ocaml

CA-389496: Avoid configuration conflicts for rotating xapi logs
  scripts/Makefile
  scripts/xapi-logrotate.conf
  scripts/xapi-logrotate.cron
  scripts/xapi-logrotate.sh
Due: none

CA-389929: xenopsd: fix Xen version comparison. 4.17 is > 4.2, not lower!
  ocaml/xenopsd/lib/xenops_utils.ml
  ocaml/xenopsd/xc/xenops_server_xen.ml
Due: ocaml

CP-47555 Porting usb_scan.py to python3 (#5424)
  .github/workflows/main.yml
  pyproject.toml
  python3/Makefile
  python3/libexec/usb_scan.py
  python3/unittest/import_file.py
  python3/unittest/test_hfx_filename.py
  python3/unittest/test_usb_scan.py
  scripts/Makefile
Due: python3

Bump maven plugin versions
  ocaml/sdk-gen/java/autogen/xen-api/pom.xml
Due: ocaml
