Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Use Magic MIME to determine fileserver's response content type
  ocaml/xapi/dune
  ocaml/xapi/fileserver.ml
Due: ocaml

Make it easier to run forkexecd tests manually
  ocaml/forkexecd/test/fe_test.sh
Due: ocaml

Add minor test to forkexec test_exitcode test
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

Add test for output strings
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

Add test for input strings
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

CP-48221: Support new gpg for XS9
  ocaml/xapi/gpg.ml
Due: ocaml

build: add sdk-build-c Makefile rule to test building C SDK locally
  Makefile
Due: none

CA_388624: fix(C SDK): fix build failure with recent GCC
  ocaml/sdk-gen/c/autogen/src/xen_common.c
  ocaml/sdk-gen/c/gen_c_binding.ml
Due: ocaml

CA-390988: Prevent varstored-guard from shutting down while domains run
  scripts/varstored-guard.service
Due: none

CP-46851: Allow metadata-exports of snapshots
  ocaml/xapi/export.ml
  quality-gate.sh
Due: ocaml

CP-46851: return snapshot refs when importing exclusively snapshots
  ocaml/xapi/import.ml
Due: ocaml

CP-46851: Add metadata_export to VM.allowed_operations
  ocaml/xapi/xapi_vm_lifecycle.ml
Due: ocaml

CP-46851: add parameter to skip device types on get_export_metadata
  ocaml/idl/datamodel.ml
  ocaml/xapi/export.ml
  ocaml/xapi/importexport.ml
  ocaml/xapi/xapi_dr.ml
Due: ocaml

CP-46851: Add device types excluded to exports in xe-cli
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
Due: ocaml

xapi-cli-server: simplify vm-export and helpers
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi-cli-server/record_util.ml
  quality-gate.sh
Due: ocaml

datamodel_vm: fix typo
  ocaml/idl/datamodel_vm.ml
  ocaml/idl/schematest.ml
Due: ocaml

.git-blame-ignore-revs: ignore another reformatting commit
  .git-blame-ignore-revs
Due: none

xapi/export: do not miss parameters for export_metadata on logs
  ocaml/xapi/export.ml
Due: ocaml

xapi/export: set a date when generating tarballs
  ocaml/xapi/export.ml
Due: ocaml

CP-48221: Support new gpg for XS9 (#5543)
  ocaml/xapi/gpg.ml
Due: ocaml

CP-46179 create backup VDI with determinstic UUID
  ocaml/xapi-aux/dune
  ocaml/xapi-aux/uuidx.ml
  ocaml/xapi-aux/uuidx.mli
  ocaml/xapi/sm.ml
  ocaml/xapi/sm_exec.ml
  ocaml/xapi/storage_access.ml
  ocaml/xapi/xapi_vdi.ml
Due: ocaml

CP-46179 update metadata backup/restore to use deterministic UUID
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CP-46179 improve quoting in shell code
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CP-46179 use -y (yes) flag to facilitate scripting
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

Refactored HTTP_actions template.
  ocaml/sdk-gen/csharp/friendly_error_names.ml
  ocaml/sdk-gen/csharp/gen_csharp_binding.ml
  ocaml/sdk-gen/csharp/templates/HTTP_actions.mustache
Due: ocaml

Detect automatically whether we are on cygwin.
  ocaml/sdk-gen/c/README.dist
  ocaml/sdk-gen/c/templates/Makefile.mustache
Due: ocaml

Remove mention of `dotnet-packages` in `sdk-gen`'s README
  ocaml/sdk-gen/README.md
Due: ocaml

CP-48768: Update Folder Structure section in PS SDK's READMEs
  ocaml/sdk-gen/powershell/autogen/README.md
  ocaml/sdk-gen/powershell/autogen/README_51.md
Due: ocaml

Use templates to generate all the C files. CA-387885 (do not call internal headers from the public ones).
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_observer.ml
  ocaml/sdk-gen/c/gen_c_binding.ml
  ocaml/sdk-gen/c/templates/Makefile.mustache
  ocaml/sdk-gen/c/templates/class.c.mustache
  ocaml/sdk-gen/c/templates/class.h.mustache
  ocaml/sdk-gen/c/templates/class_decl.h.mustache
  ocaml/sdk-gen/c/templates/map.c.mustache
  ocaml/sdk-gen/c/templates/map.h.mustache
  ocaml/sdk-gen/c/templates/xen_all.h.mustache
  ocaml/sdk-gen/c/templates/xen_api_failure.c.mustache
  ocaml/sdk-gen/c/templates/xen_api_failure.h.mustache
  ocaml/sdk-gen/c/templates/xen_api_version.c.mustache
  ocaml/sdk-gen/c/templates/xen_enum.c.mustache
  ocaml/sdk-gen/c/templates/xen_enum.h.mustache
  ocaml/sdk-gen/c/templates/xen_enum_internal.h.mustache
  ocaml/sdk-gen/c/templates/xen_enum_map_internal.h.mustache
  ocaml/sdk-gen/c/templates/xen_internal.mustache
Due: ocaml

Removed erroneously ported recipe.
  Makefile
Due: none

CP-47033: Protocol_{lwt,async}: process requests concurrently (optional)
  ocaml/message-switch/async/protocol_async.ml
  ocaml/message-switch/core/s.ml
  ocaml/message-switch/lwt/protocol_lwt.ml
  ocaml/message-switch/switch/switch_main.ml
Due: ocaml

CP-47033: Make message switch concurrent processing optional
  ocaml/message-switch/core/dune
  ocaml/message-switch/core/make.ml
  ocaml/message-switch/core/s.ml
  ocaml/message-switch/unix/protocol_unix.ml
Due: ocaml

CP-47033: Add test for concurrent message switch server
  ocaml/message-switch/core_test/async/server_async_main.ml
  ocaml/message-switch/core_test/basic-rpc-test.sh
  ocaml/message-switch/core_test/concur-rpc-test.sh
  ocaml/message-switch/core_test/dune
  ocaml/message-switch/core_test/lwt/server_main.ml
Due: ocaml

CA-391485: Avoid InterpolationSyntaxError by turning off interpolation
  python3/packages/observer.py
Due: python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
