Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, scripts/examples, ocaml, ocaml/xapi-storage, python3, test_cases

Path conditions:
  scripts: any of: scripts/**, but not: scripts/examples/**, **/test_*.py
  scripts/examples: any of: scripts/examples/**, but not: scripts/**/test_*.py
  ocaml: any of: ocaml/**, but not: **/test_*.py
  ocaml/xapi-storage: any of: ocaml/xapi-storage/**, ocaml/xapi-storage-script/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
  test_cases: any of: **/test_*.py

Quicktest_vm_lifecycle: use requested SR not default SR
  ocaml/quicktest/qt.ml
  ocaml/quicktest/qt.mli
  ocaml/quicktest/quicktest_vm_lifecycle.ml
Due: ocaml

CA-389241: import-update-key compatible with xs8 and xs9
  scripts/import-update-key
Due: scripts

CP-46157: Add unit test for `observed_components_of`
  ocaml/tests/test_observer.ml
Due: ocaml

opam: add hex to xapi dependencies
  xapi.opam
  xapi.opam.template
Due: none

CP-45888: Fix formatting in Java's `main.ml`
  ocaml/sdk-gen/java/main.ml
Due: ocaml

CP-45888: Update `Connection.java` to use new `JsonRpcClient`
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/Connection.java
Due: ocaml

CP-45888: Update Java SDK generation to use `JsonRpcClient`
  ocaml/sdk-gen/java/main.ml
Due: ocaml

CP-45888: Add `JsonRpcClient` classes
  ocaml/sdk-gen/java/autogen/xen-api/pom.xml
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcRequest.java
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcResponse.java
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcResponseError.java
Due: ocaml

CP-45888: Remove unsed functions from Java's `main.ml`
  ocaml/sdk-gen/java/main.ml
Due: ocaml

CP-45888: Update dependencies list Java SDK README
  ocaml/sdk-gen/java/autogen/xen-api/src/main/resources/README.txt
Due: ocaml

Use `Mustache.Json.t` as type for `json_releases`
  ocaml/sdk-gen/common/CommonFunctions.mli
Due: ocaml

Update number of `mli` files in quality gate script
  quality-gate.sh
Due: none

Remove all unused SDK generation functions
  ocaml/sdk-gen/c/gen_c_binding.ml
  ocaml/sdk-gen/common/CommonFunctions.ml
  ocaml/sdk-gen/csharp/gen_csharp_binding.ml
  ocaml/sdk-gen/powershell/common_functions.ml
  ocaml/sdk-gen/powershell/gen_powershell_binding.ml
Due: ocaml

Add missing `mli` files under `sdk-gen/`
  ocaml/sdk-gen/c/gen_c_binding.mli
  ocaml/sdk-gen/c/helper.mli
  ocaml/sdk-gen/common/CommonFunctions.mli
  ocaml/sdk-gen/common/dune
  ocaml/sdk-gen/common/license.mli
  ocaml/sdk-gen/csharp/friendly_error_names.mli
  ocaml/sdk-gen/csharp/gen_csharp_binding.mli
  ocaml/sdk-gen/java/main.mli
  ocaml/sdk-gen/powershell/common_functions.ml
  ocaml/sdk-gen/powershell/common_functions.mli
  ocaml/sdk-gen/powershell/gen_powershell_binding.ml
  ocaml/sdk-gen/powershell/gen_powershell_binding.mli
Due: ocaml

CP-45888: Improve deprecation info
  ocaml/sdk-gen/common/CommonFunctions.ml
  ocaml/sdk-gen/common/CommonFunctions.mli
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/EventBatch.java
  ocaml/sdk-gen/java/main.ml
Due: ocaml

Replace mentions of `java.net.http.HttpClient` in `JsonRpcClient.java`
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
Due: ocaml

CP-45888: Fix misc typos and comments
  ocaml/sdk-gen/c/helper.mli
  ocaml/sdk-gen/common/license.mli
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/Connection.java
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
  ocaml/sdk-gen/java/main.ml
  ocaml/sdk-gen/powershell/common_functions.ml
  ocaml/sdk-gen/powershell/common_functions.mli
Due: ocaml

CP-45888: Use `Pool.getAllRecords` and `Host.getRecord` to set API version
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/Connection.java
Due: ocaml

Remove use of custom `finally` in `sdk-gen`
  ocaml/sdk-gen/c/gen_c_binding.ml
  ocaml/sdk-gen/common/CommonFunctions.ml
  ocaml/sdk-gen/common/CommonFunctions.mli
  ocaml/sdk-gen/csharp/gen_csharp_binding.ml
Due: ocaml

Replace usage of escaped strings with `{||}` in Java's `main.ml`
  ocaml/sdk-gen/java/main.ml
Due: ocaml

CP-45888: Do not expose `JsonProcessingException` to SDK users
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/Connection.java
  ocaml/sdk-gen/java/main.ml
Due: ocaml

CP-45888: Fix incorrect URL presence check in `JsonRpcClient`
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
Due: ocaml

CP-45888: Use public setters for client settings in `JsonRpcClient`
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/Connection.java
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
Due: ocaml

CP-45888: Restore `toX` methods in `Types.java`
  ocaml/sdk-gen/java/main.ml
Due: ocaml

Apply misc formatting and style changes
  ocaml/sdk-gen/java/main.ml
  ocaml/sdk-gen/powershell/common_functions.ml
  ocaml/sdk-gen/powershell/common_functions.mli
  ocaml/sdk-gen/powershell/gen_powershell_binding.ml
Due: ocaml

Add missing function signature in `CommonFunctions.mli`
  ocaml/sdk-gen/common/CommonFunctions.mli
Due: ocaml

CP-45888: Bump Java SDK dependencies to latest stable versions
  ocaml/sdk-gen/java/autogen/xen-api/pom.xml
Due: ocaml

CP-45888: Add a custom date deserializer to handle outliers
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/CustomDateDeserializer.java
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
Due: ocaml

CA-368437 remove duplicate keys from SM.features
  ocaml/tests/test_sm_features.ml
  ocaml/xapi/smint.ml
Due: ocaml

shellscripts: fix the worse complaints from shellcheck
  ocaml/libs/http-lib/client_server_test.sh
  ocaml/message-switch/.coverage.sh
  ocaml/sdk-gen/windows-line-endings.sh
  ocaml/xenopsd/scripts/vif-real
  scripts/install-sdk-pool
  scripts/test-ha-sr2
  scripts/xe-install-supplemental-pack
Due: scripts, ocaml

The C# project files do not need to be rendered from mustache templates any more.
  ocaml/sdk-gen/csharp/autogen/src/XenServer.csproj
  ocaml/sdk-gen/csharp/gen_csharp_binding.ml
Due: ocaml

Replaced the generation code of a few more files with mustache templates.
  ocaml/sdk-gen/csharp/gen_csharp_binding.ml
  ocaml/sdk-gen/csharp/templates/Maps.mustache
  ocaml/sdk-gen/csharp/templates/Relation.mustache
  ocaml/sdk-gen/powershell/gen_powershell_binding.ml
  ocaml/sdk-gen/powershell/templates/ConvertTo-XenRef.mustache
  ocaml/sdk-gen/powershell/templates/HttpAction.mustache
Due: ocaml

GitHub Actions: Update actions/checkout to v4 to fix Node 16 warnings
  .github/workflows/1.249-lcm.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/hugo.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

Github Actions: Update up/download-artifact to v4 to fix Node 16 warnings
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/release.yml
Due: none

GitHub Actions: Node 16 warning fixes: update setup-dotnet to v4
  .github/workflows/generate-and-build-sdks.yml
Due: none

Split the API reference markdown into smaller files and use templates to generate it.
  Makefile
  ocaml/doc/basics.md
  ocaml/doc/vm-lifecycle.md
  ocaml/doc/wire-protocol.md
  ocaml/idl/autogen/api-ref-autogen.md
  ocaml/idl/autogen/dune
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_errors.ml
  ocaml/idl/datamodel_host.ml
  ocaml/idl/datamodel_main.ml
  ocaml/idl/dune
  ocaml/idl/markdown_backend.ml
  ocaml/idl/templates/api_errors.mustache
  ocaml/idl/templates/class.mustache
  ocaml/idl/templates/classes.mustache
  ocaml/idl/templates/relationships.mustache
  ocaml/idl/templates/toc.mustache
  ocaml/idl/templates/types.mustache
Due: ocaml

Generate the C enums with templates.
  ocaml/sdk-gen/c/gen_c_binding.ml
  ocaml/sdk-gen/c/templates/xen_enum.c.mustache
  ocaml/sdk-gen/c/templates/xen_enum.h.mustache
  ocaml/sdk-gen/c/templates/xen_enum_internal.h.mustache
  ocaml/sdk-gen/powershell/gen_powershell_binding.ml
Due: ocaml

Apply .codecov.yml change from #5492 and focus Coverage on python3 tree
  .codecov.yml
Due: none

.pre-commit-config.yaml: Add darker, pylint and pytest hooks for python3/
  .pre-commit-config.yaml
Due: none
