Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Extend Java deserialization support for xen-api dates
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/CustomDateDeserializer.java
Due: ocaml

storage/api/{volume,plugin,datapath}.py: Apply automatic conversion to 'if needle not in hay'
  ocaml/xapi-storage/python/xapi/storage/api/datapath.py
  ocaml/xapi-storage/python/xapi/storage/api/plugin.py
  ocaml/xapi-storage/python/xapi/storage/api/volume.py
Due: ocaml

Expand C deserialization support for xen-api dates
  ocaml/sdk-gen/c/autogen/src/xen_common.c
Due: ocaml

Expand Go deserialization support for xen-api dates
  ocaml/sdk-gen/go/templates/ConvertTime.mustache
  ocaml/sdk-gen/go/test_data/time_convert.go
Due: ocaml

Expand C# deserialization support for xen-api dates
  ocaml/sdk-gen/csharp/autogen/src/Converters.cs
Due: ocaml

CA-393578: Fix vbd cleanup in metadata scripts
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CP-49228: Updates to Portable SR Functionality
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CP-32622: Replace select in buf_io
  ocaml/libs/http-lib/buf_io.ml
  ocaml/libs/http-lib/http.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.mli
Due: ocaml

CP-47536: replace select in ezxenstore with Delay module
  ocaml/libs/ezxenstore/core/dune
  ocaml/libs/ezxenstore/core/watch.ml
Due: ocaml

CP-47536: replace Protocol_unix.scheduler.Delay with Threadext.Delay
  ocaml/message-switch/unix/dune
  ocaml/message-switch/unix/protocol_unix_scheduler.ml
Due: ocaml

CP-47536: Drop posix_channel and channel_helper: unused and a mix of Unix/Lwt
  ocaml/xapi-idl/README.md
  ocaml/xapi-idl/lib/posix_channel.ml
  ocaml/xapi-idl/lib/posix_channel.mli
  ocaml/xapi-idl/lib/xcp_channel.ml
  ocaml/xapi-idl/lib/xcp_channel.mli
  ocaml/xapi-idl/lib_test/channel_test.ml
  ocaml/xapi-idl/misc/channel_helper.ml
  ocaml/xapi-idl/misc/dune
  quality-gate.sh
Due: ocaml

CP-49499: Introduce 'Timer' and 'Timeout' modules in Unixext.
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test.ml
Due: ocaml

fix(master_connection): avoid Thread.wait_timed_read, just as bad as Unix.select
  ocaml/database/master_connection.ml
Due: ocaml

CP-32622: Replace select with polly in xsh
  ocaml/xsh/dune
  ocaml/xsh/xsh.ml
Due: ocaml

fix(xapi-idl): replace another Thread.wait_timed_read
  ocaml/xapi-idl/lib_test/dune
  ocaml/xapi-idl/lib_test/scheduler_test.ml
Due: ocaml

CP-49499: Unixext.time_limited_{read,write}: use Timer.t for deadlines
  ocaml/database/block_device_io.ml
  ocaml/database/db_globs.ml
  ocaml/database/dune
  ocaml/database/redo_log.ml
  ocaml/database/redo_log.mli
  ocaml/libs/http-lib/bufio_test.ml
  ocaml/libs/http-lib/dune
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/generate.ml
  ocaml/libs/xapi-stdext/lib/xapi-fd-test/generate.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/threadext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.mli
  ocaml/xapi/xapi_globs.ml
Due: ocaml

CP-32622: Replace select with polly in xn
  ocaml/xenopsd/cli/dune
  ocaml/xenopsd/cli/xn.ml
Due: ocaml

forkexecd: do not clip commandline in logs
  ocaml/forkexecd/src/child.ml
Due: ocaml

fix(xapi-idl): replace PipeDelay with Delay, avoid another Thread.wait_timed_read
  ocaml/xapi-idl/lib/scheduler.ml
Due: ocaml

Fix Short/Long duration printing
  ocaml/xapi/xapi_globs.ml
Due: ocaml

vhd-tool, ezxenstore: Remove duplicate xenstore module
  ocaml/vhd-tool/src/dune
  ocaml/vhd-tool/src/xenstore.ml
Due: ocaml

vhd-tool, xen-api-client: Remove duplicated cohttp_unbuffered_io module
  ocaml/vhd-tool/src/cohttp_unbuffered_io.ml
  ocaml/vhd-tool/src/dune
  ocaml/vhd-tool/src/impl.ml
  ocaml/xen-api-client/lwt/cohttp_unbuffered_io.ml
  ocaml/xen-api-client/lwt/disk.ml
  quality-gate.sh
Due: ocaml

storage/api/volume.py: Replace `if not(fn)`: `if not fn`
  ocaml/xapi-storage/python/xapi/storage/api/volume.py
Due: ocaml

storage/api/volume.py: Unfold very long line in test method SR_test.probe()
  ocaml/xapi-storage/python/xapi/storage/api/volume.py
Due: ocaml

CP-47617: Expose backwards compat info to update packaging tooling
  configure.ml
  ocaml/idl/api_version.ml
  ocaml/idl/api_version.ml.in
  ocaml/idl/api_version.mli
  ocaml/idl/datamodel_common.ml
  ocaml/idl/dune
Due: ocaml

pytest: Run xenopsd tests, rm pytest-cov (obsolete), update pyright
  .github/workflows/other.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/examples/python/setup.cfg
Due: none

Python3 CI: fix import error
  .github/workflows/other.yml
  pyproject.toml
  python3/dnf_plugins/ptoken.py
  python3/stubs/__init__.py
  python3/stubs/dnf.py
  python3/tests/test_dnf_plugins.py
Due: python3

http-lib: avoid double-queries to the radix tree
  ocaml/libs/http-lib/http_svr.ml
Due: ocaml

rrdd_proxy: Return 400 on bad vm request
  ocaml/xapi/rrdd_proxy.ml
Due: ocaml

rrdd_proxy: Use Option to encode where VMs might be available at
  ocaml/xapi/rrdd_proxy.ml
Due: ocaml

CA-395174: Try to unarchive VM's metrics when they aren't running
  ocaml/libs/http-lib/http.ml
  ocaml/libs/http-lib/http.mli
  ocaml/xapi/rrdd_proxy.ml
Due: ocaml

rrdd_proxy: Change *_at to specify the IP address
  ocaml/xapi/rrdd_proxy.ml
Due: ocaml

Remove unused `yes` parameter in xe-backup-metadata
  scripts/xe-backup-metadata
Due: none

Fixes for shellcheck
  scripts/xe-restore-metadata
Due: none

CA-383491: [Security fix] Use debugfs on xe-restore-metadata probes
  scripts/Makefile
  scripts/probe-device-for-file
  scripts/xe-restore-metadata
Due: none

CA-394148: Fix dry-run handling in xe-restore-metadata
  scripts/xe-restore-metadata
Due: none

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
