Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: scripts, scripts/examples, ocaml, ocaml/xapi-storage, python3, test_cases

Path conditions:
  scripts: any of: scripts/**, but not: scripts/examples/**, **/test_*.py
  scripts/examples: any of: scripts/examples/**, but not: scripts/**/test_*.py
  ocaml: any of: ocaml/**, but not: **/test_*.py
  ocaml/xapi-storage: any of: ocaml/xapi-storage/**, ocaml/xapi-storage-script/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
  test_cases: any of: **/test_*.py

ci: add differential ShellCheck
  .github/workflows/main.yml
Due: none

CA-383867: Share code for handling Tpm requests
  ocaml/xapi-guard/lib/server_interface.ml
  ocaml/xapi-guard/lib/types.ml
  ocaml/xapi-guard/lib/types.mli
Due: ocaml

CA-383867: Add local disk cache library for xapi guard
  doc/content/xapi-guard/_index.md
  ocaml/xapi-guard/lib/disk_cache.ml
  ocaml/xapi-guard/lib/disk_cache.mli
  ocaml/xapi-guard/lib/dune
  ocaml/xapi-guard/lib/lwt_bounded_stream.ml
  ocaml/xapi-guard/lib/lwt_bounded_stream.mli
  ocaml/xapi-guard/src/dune
  ocaml/xapi-guard/test/cache_test.ml
  ocaml/xapi-guard/test/cache_test.mli
  ocaml/xapi-guard/test/dune
Due: ocaml

CA-383867: Segregate vtpm persistance out of the callback
  ocaml/xapi-guard/lib/server_interface.ml
Due: ocaml

CA-383867: Delay conversion of VM's UUIDs to string
  ocaml/xapi-guard/lib/server_interface.ml
  ocaml/xapi-guard/src/main.ml
  ocaml/xapi-guard/test/xapi_guard_test.ml
Due: ocaml

xapi-guard: reduce the number of calls to fetch the vTPM ref
  ocaml/xapi-guard/lib/server_interface.ml
Due: ocaml

CA-383867: Integrate the cache into xapi-guard's main loop
  ocaml/xapi-guard/lib/server_interface.ml
  ocaml/xapi-guard/src/main.ml
  ocaml/xapi-guard/test/xapi_guard_test.ml
Due: ocaml

CA-383867: Add startup procedure to xapi-guard
  doc/content/xapi-guard/_index.md
  ocaml/xapi-guard/lib/disk_cache.ml
  ocaml/xapi-guard/lib/disk_cache.mli
  ocaml/xapi-guard/src/main.ml
  ocaml/xapi-guard/test/cache_test.ml
Due: ocaml

CA-383867: Prepare xapi-guard cache to change fallback on write error
  ocaml/xapi-guard/lib/disk_cache.ml
Due: ocaml

CA-383867: Allow xapi-guard to disable the disk cache
  ocaml/xapi-guard/lib/disk_cache.ml
  ocaml/xapi/xapi_fist.ml
Due: ocaml

CA-383867: Make xapi-guard's cache aware of read requests
  ocaml/xapi-guard/lib/disk_cache.ml
  ocaml/xapi-guard/lib/disk_cache.mli
  ocaml/xapi-guard/lib/server_interface.ml
  ocaml/xapi-guard/src/main.ml
  ocaml/xapi-guard/test/cache_test.ml
Due: ocaml

Create a new python3 directory for python3-only scripts
  .codecov.yml
  .github/workflows/main.yml
  Makefile
  pyproject.toml
  python3/Makefile
  python3/README.md
  python3/packages/observer.py
  scripts/Makefile
Due: scripts, python3

CA-383867: xapi-guard's cache contents are used in read requests
  ocaml/xapi-guard/lib/disk_cache.ml
Due: ocaml

CP-47935: Add unit tests for hfx_filename
  python3/unittest/import_file.py
  python3/unittest/test_hfx_filename.py
Due: python3, test_cases

CP-47935: Create a subdirectory for python3-only scripts insatlled in BIN
  .codecov.yml
  .github/workflows/main.yml
  pyproject.toml
  python3/Makefile
  python3/bin/hfx_filename
  scripts/Makefile
Due: scripts, python3

CA-383867: xapi-guard cache sort files by timestamp
  ocaml/xapi-guard/lib/disk_cache.ml
Due: ocaml

CP-43755: Pam: avoid sleep(1) call when multithreaded
  ocaml/auth/dune
  ocaml/auth/xa_auth_stubs.c
Due: ocaml

CP-45703 jemalloc: avoid bottlenecks with C threads
  scripts/xapi.service
Due: scripts

fix(ci): Move differential shellcheck to its own workflow
  .github/workflows/main.yml
  .github/workflows/shellcheck.yaml
Due: none

Update .github/workflows/shellcheck.yaml
  .github/workflows/shellcheck.yaml
Due: none

CP-43755: Split internal and external auth locks
  ocaml/xapi/xapi_session.ml
Due: ocaml

CP-43755: Locking_helpers: introduce Semaphore
  ocaml/xapi/locking_helpers.ml
  ocaml/xapi/locking_helpers.mli
  semaphore_vendored.ml
Due: ocaml

CP-43755: xapi_session: switch to using Semaphore instead of Mutex
  ocaml/xapi/xapi_session.ml
Due: ocaml

CP-43755 Increase threads for PAM logins
  ocaml/xapi/locking_helpers.ml
  ocaml/xapi/locking_helpers.mli
  ocaml/xapi/xapi_session.ml
Due: ocaml

CP-43755 - reformat
  ocaml/xapi/locking_helpers.ml
  ocaml/xapi/locking_helpers.mli
  semaphore_vendored.ml
Due: ocaml

CP-43755 add semaphore_vendored
  ocaml/xapi/semaphore_vendored.ml
Due: ocaml

CA-389506: fix platform:nested_virt typo
  ocaml/xenopsd/xc/domain.ml
Due: ocaml

CP-43755 add semaphore_vendored (2)
  semaphore_vendored.ml
Due: none

fix: typo in doc
  doc/content/xapi/walkthroughs/migration_overview.md
Due: none

CP-45496: Xapi writes host name/uuid to corosync.conf
  ocaml/xapi-idl/cluster/cluster_interface.ml
  ocaml/xapi-idl/cluster/dune
  ocaml/xapi-idl/cluster/ipaddr_rpc_type.ml
  ocaml/xapi-idl/cluster/ipaddr_rpc_type.mli
  ocaml/xapi/xapi_cluster.ml
  ocaml/xapi/xapi_cluster_host.ml
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

Add feature flag
  ocaml/xapi/xapi_cluster.ml
  ocaml/xapi/xapi_cluster_host.ml
Due: ocaml

Use consistent artefact naming for SDK binaries
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/release.yml
Due: none

Add and use `cleanup-xapi-environment` composite action
  .github/workflows/cleanup-xapi-environment/action.yml
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/main.yml
  .github/workflows/setup-xapi-environment/action.yml
Due: none

Replace use of `sdksanity` with reusable workflow for testing SDKs
  .github/workflows/main.yml
  Makefile
Due: none

Build and package C# and PowerShell SDKs when creating a release
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

Misc changes to SDK actions
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/release.yml
Due: none

CP-46151: Productise the observer.py.
  .github/workflows/main.yml
  pyproject.toml
  python3/packages/__init__.py
  python3/packages/observer.py
  python3/tests/__init__.py
  python3/tests/test_observer.py
Due: python3, test_cases

Quicktest_vm_lifecycle: use requested SR not default SR
  ocaml/quicktest/qt.ml
  ocaml/quicktest/qt.mli
  ocaml/quicktest/quicktest_vm_lifecycle.ml
Due: ocaml
