Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Refactor: Move to default optional parameters when they were reimplemented by hand
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/vhd/vhd_format/f.ml
  ocaml/xapi-idl/lib/typeCombinators.ml
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/workload_balancing.ml
  ocaml/xapi/xapi_mgmt_iface.ml
  ocaml/xenopsd/xc/service.ml
Due: ocaml

CP-50108: Use Ipaddr instead of string-based CIDR handling
  ocaml/tests/test_helpers.ml
  ocaml/xapi-idl/network/dune
  ocaml/xapi-idl/network/network_interface.ml
  ocaml/xapi/dune
  ocaml/xapi/helpers.ml
  ocaml/xapi/nm.ml
Due: ocaml

CP-50078: Augment RPC transport to use observer.py
  ocaml/xapi-consts/constants.ml
  ocaml/xapi-storage-script/main.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_observer_components.ml
Due: ocaml

CP-50078: Check if SMAPI observation is enabled
  ocaml/xapi-consts/constants.ml
  ocaml/xapi-storage-script/main.ml
  ocaml/xapi/xapi_globs.ml
Due: ocaml

CP-50078: Augment RPC transports for tracing
  ocaml/xapi-storage-script/dune
  ocaml/xapi-storage-script/main.ml
Due: ocaml

CP-50100: Moved backup-sr-metadata.py from scripts/ to python3/libexec directory - Modified python3/Makefile to include this change. - Removed backup-sr-metadata.py from scripts/Makefile
  python3/Makefile
  python3/libexec/backup-sr-metadata.py
  scripts/Makefile
Due: python3

CP-49919: mv scripts/extensions/pool_update.precheck to python3/extensions
  python3/Makefile
  python3/extensions/pool_update.precheck
  python3/stubs/XenAPI.pyi
  scripts/Makefile
Due: python3

python3/plugins/test_extauth_hook_AD.py: Assert the current bug
  python3/plugins/test_extauth_hook_AD.py
Due: none

python3/plugins/extauth-hook-AD.py: Fix logging of run_cmd()
  python3/plugins/extauth-hook-AD.py
  python3/plugins/test_extauth_hook_AD.py
Due: python3

mypy: Fix and improve the config to make it more usable
  pyproject.toml
Due: none

Fix pytype warnings.
  python3/dnf_plugins/accesstoken.py
  python3/dnf_plugins/ptoken.py
Due: python3

CP-50259 simplify raising error in record_util
  ocaml/xapi-cli-server/record_util.ml
Due: ocaml

dune: fix tests to packages
  ocaml/libs/xapi-stdext/lib/xapi-fdcaps/test/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/dune
  ocaml/tests/record_util/dune
Due: ocaml

Add new check for new parameters' default value
  ocaml/idl/dm_api.ml
Due: ocaml

Refactor to use List apis
  ocaml/idl/dm_api.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/listext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/listext.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/listext_test.ml
Due: ocaml

Refactored HTTP_actions template.
  ocaml/sdk-gen/csharp/friendly_error_names.ml
  ocaml/sdk-gen/csharp/gen_csharp_binding.ml
  ocaml/sdk-gen/csharp/templates/HTTP_actions.mustache
Due: ocaml

Update datamodel lifecycle
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

CP-50259 simplify parsing size with kib, mib, etc suffix
  ocaml/xapi-cli-server/record_util.ml
Due: ocaml

fixup! CP-50259 simplify parsing size with kib, mib, etc suffix
  ocaml/xapi-cli-server/record_util.ml
Due: ocaml

xapi-cli-server: remove function s2sm to serialize data
  doc/content/xapi/guides/howtos/add-field.md
  ocaml/xapi-cli-server/record_util.ml
  ocaml/xapi-cli-server/records.ml
Due: ocaml

xapi-cli-server: simplifications around error handling
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi-cli-server/cli_util.ml
  quality-gate.sh
Due: ocaml

xapi-cli-server: remove function s2brm to serialize data
  ocaml/xapi-cli-server/record_util.ml
  ocaml/xapi-cli-server/records.ml
Due: ocaml

scripts/generate-iscsi-iqn: Fix inline Python to work in Py3
  scripts/generate-iscsi-iqn
Due: none

rm ocaml/idl/ocaml_backend/python: remove obsolete example scripts
  ocaml/idl/ocaml_backend/python/list_vms.py
  ocaml/idl/ocaml_backend/python/pause_vm.py
  ocaml/idl/ocaml_backend/python/test_client.py
  ocaml/idl/ocaml_backend/python/unpause_vm.py
  pyproject.toml
Due: ocaml

xapi-storage/python/xapi/storage/common.py: Fix call() for Python2+3
  ocaml/xapi-storage/python/xapi/storage/common.py
Due: ocaml

Update scripts/test_mail-alarm.py to test with Python3 and move it
  python3/tests/test_mail-alarm.py
Due: none

Py3: Update tests to use unittest.mock and mocked_modules
  .pre-commit-config.yaml
  pyproject.toml
  python3/tests/import_helper.py
  python3/tests/test_hfx_filename.py
  python3/tests/test_nbd_client_manager.py
  python3/tests/test_perfmon.py
  python3/tests/test_usb_scan.py
Due: python3

storage-api: Add pytest for datapath.Datapath_server_dispatcher()
  ocaml/xapi-storage/python/xapi/storage/api/test_datapath.py
  pyproject.toml
Due: none

storage-api: Use Datapath_test.attach to test Datapath_server_dispatcher.attach
  ocaml/xapi-storage/python/xapi/storage/api/datapath.py
  ocaml/xapi-storage/python/xapi/storage/api/test_datapath.py
Due: ocaml

CP-49101: Fix pylint error
  python3/dnf_plugins/accesstoken.py
Due: python3

CA-395626: Fix (server status report generation report)
  ocaml/libs/http-lib/http_svr.ml
Due: ocaml

CP-50078: Instrument xapi-storage-script with tracing (#5808)
  ocaml/xapi-consts/constants.ml
  ocaml/xapi-storage-script/dune
  ocaml/xapi-storage-script/main.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_observer_components.ml
Due: ocaml

context: `complete_tracing` should be called last
  ocaml/xapi/taskHelper.ml
Due: ocaml

tracing: Instrument task related functionality
  ocaml/xapi/helpers.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/taskHelper.ml
  ocaml/xapi/xapi_task.ml
Due: ocaml

time: use `Date.now` over `Unix.time` in `taskHelper.ml`
  ocaml/xapi/taskHelper.ml
Due: ocaml

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
