Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

CP-49634: Add alerting for Corosync upgrade
  ocaml/xapi-consts/api_messages.ml
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

fixup! CP-49634: Add alerting for Corosync upgrade
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

Refactor watcher creation code
  ocaml/xapi/xapi_cluster.ml
  ocaml/xapi/xapi_cluster_host.ml
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

Only create watcher once
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

CP-49927: Removed smapiv2.py from scripts/examples
  scripts/examples/smapiv2.py
Due: none

CP-49927: Removed storage.py from scripts/examples
  scripts/examples/storage.py
Due: none

CP-49927: Removed storage-server from scripts/examples
  scripts/examples/storage-server
Due: none

CA-390277: Stop using records on CLI cross-pool migrations
  ocaml/xapi-cli-server/cli_operations.ml
Due: ocaml

Update datamodel lifecycle
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/schematest.ml
Due: ocaml

fixup! fixup! CA-394343: After clock jump the xapi assumed the host is HOST_OFFLINE
  ocaml/xapi/db_gc.ml
Due: ocaml

CA-394343: Change the type of Xapi_globs.host_assumed_dead_interval to Mtime.Span.t
  ocaml/xapi/db_gc.ml
  ocaml/xapi/xapi_globs.ml
Due: ocaml

Removed headers from the templates.
  ocaml/idl/templates/api_errors.mustache
  ocaml/idl/templates/class.mustache
  ocaml/idl/templates/classes.mustache
  ocaml/idl/templates/relationships.mustache
  ocaml/idl/templates/types.mustache
Due: ocaml

Renamed files and reordered table of contents.
  ocaml/idl/autogen/management-api.md
  ocaml/idl/markdown_backend.ml
  ocaml/idl/templates/toc.mustache
Due: ocaml

IH-583 Create standalone implementations of systemd functions
  dune-project
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.mli
  xapi-stdext-unix.opam
Due: ocaml

IH-583 Use standalone implementations of systemd functions
  dune-project
  ocaml/forkexecd/src/dune
  ocaml/forkexecd/src/fe_main.ml
  ocaml/networkd/bin/dune
  ocaml/networkd/bin/networkd.ml
  ocaml/networkd/lib/dune
  ocaml/xcp-rrdd/bin/rrdd/dune
  ocaml/xcp-rrdd/bin/rrdd/xcp_rrdd.ml
  xapi-rrdd.opam
Due: ocaml

IH-583 Create tests for the standalone implementations of systemd functions
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/test_systemd.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/test_systemd.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/test_systemd.t
Due: ocaml

CP-49922: Move scripts/probe-device-for-file to python3/libexec
  python3/Makefile
  python3/libexec/probe-device-for-file
  scripts/Makefile
Due: python3

CP-49910: Move scripts link-vms-by-sr.py from to python3/libexec
  python3/Makefile
  python3/libexec/link-vms-by-sr.py
  scripts/Makefile
Due: python3

Fix failing builds by attaching package to the cram test
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/dune
Due: ocaml

CP-49910/pylint: Fix bare-except: mkdir/symlink raise OSErrors
  python3/libexec/link-vms-by-sr.py
Due: python3

Fix pyright: Set stubPath and fix hfx_filename to work with it
  pyproject.toml
  python3/bin/hfx_filename
  python3/libexec/link-vms-by-sr.py
  python3/stubs/xcp/logger.pyi
Due: python3

CP-49910/pylint: Add docstrings and comments for link-vms-by-sr.py
  python3/Makefile
  python3/libexec/link-vms-by-sr.py
Due: python3

fixup! CA-390277: Stop using records on CLI cross-pool migrations
  ocaml/xapi-cli-server/cli_operations.ml
Due: ocaml

CP-49907: Moved host-display to python3/libexec directory - Modified Makefile to include host-display in python3 directory
  python3/Makefile
  python3/libexec/host-display
  scripts/Makefile
Due: python3

Add new internal API cstack_sync
  ocaml/idl/datamodel_cluster.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_cluster.ml
  ocaml/xapi/xapi_cluster.mli
Due: ocaml

CP-394109: Alert only once for cluster host leave/join
  ocaml/tests/test_cluster.ml
  ocaml/xapi/xapi_cluster_helpers.ml
  ocaml/xapi/xapi_cluster_host.ml
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

Refactor cluster change watcher interval
  ocaml/xapi/xapi_clustering.ml
Due: ocaml

CA-394883: fix race condition allocating task ids
  ocaml/xapi-idl/lib/task_server.ml
Due: ocaml

CA-394882: avoid error on tasks that are not ours
  ocaml/xenopsd/test/test.ml
Due: ocaml

CP-49368 Add a flag to xenstore before VM suspension
  ocaml/xenopsd/xc/domain.ml
Due: ocaml

CP-49921: Moved print-custom-templates from scripts to python3/libexec directory - Modified python3/Makefile to include this change.
  python3/Makefile
  python3/libexec/print-custom-templates
  scripts/Makefile
Due: python3

CA-381119: use JsonRPC V2 for error replies
  ocaml/xapi/api_server.ml
Due: ocaml

CA-394169: Allow task to have permissions on itself
  ocaml/xapi/taskHelper.ml
Due: ocaml

CP-49920: Moved power-on.py from scripts/poweron to python3/poweron - Modified Makefile to include power-on.py under python3 directory - Removed power-on.py from scripts/Makefile
  python3/Makefile
  python3/poweron/power-on.py
  scripts/Makefile
Due: python3

CP-49909: Moved install-sup-pack from scripts/plugins to python3/plugins directory - fixed bare-except and raise-missing errors
  python3/Makefile
  python3/plugins/install-supp-pack
  scripts/Makefile
Due: python3
