Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

CI: Complete parallel Coveralls uploads: Finish when done
  .github/workflows/other.yml
Due: none

CP-49116: Replace fingerprint in certificate DB with sha256 and sha1 equivalents.
  ocaml/idl/datamodel_certificate.ml
  ocaml/idl/datamodel_common.ml
  ocaml/idl/schematest.ml
  ocaml/xapi-cli-server/records.ml
  ocaml/xapi/api_server.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates_sync.ml
  ocaml/xapi/helpers.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

CP-49912: Moved scripts/mail-alarm to python3/libexec directory - Modified python3/Makefile to include these changes
  python3/Makefile
  python3/libexec/mail-alarm
  scripts/Makefile
Due: python3

fix(XenAPI.py): fix pylint warning
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

Refactor Hashtbl.find out of resources/table.ml
  ocaml/libs/resources/table.ml
  ocaml/libs/stunnel/stunnel_cache.ml
Due: ocaml

Further refactoring related to 636d055d66671bef suggested in review
  ocaml/xapi-idl/lib/xcp_service.ml
Due: ocaml

fixup! Transition from exception-raising Unix.getenv to Sys.getenv_opt with
  ocaml/libs/stunnel/stunnel.ml
Due: ocaml

Refactor Hashtbl.find out of xenopsd/xc/readln.ml
  ocaml/xenopsd/xc/readln.ml
Due: ocaml

fixup! Refactor Hashtbl.find out of resources/table.ml
  ocaml/libs/stunnel/stunnel_cache.ml
Due: ocaml

fixup! Replace Hashtbl.find with Hashtbl.find_opt in trivial cases
  ocaml/networkd/bin/network_monitor_thread.ml
  ocaml/xapi/binpack.ml
Due: ocaml

Add a gate for Hashbtl.find
  quality-gate.sh
Due: none

Transition from exception-raising Unix.getenv to Sys.getenv_opt with
  ocaml/libs/stunnel/stunnel.ml
  ocaml/networkd/lib/network_utils.ml
  ocaml/tapctl/tapctl.ml
  ocaml/xapi-idl/lib/coverage/enabled.ml
  ocaml/xapi-idl/lib/xcp_service.ml
  ocaml/xapi-storage-script/examples/volume/org.xen.xcp.storage.plainlvm/common.ml
  ocaml/xapi/helpers.ml
  ocaml/xapi/xapi_host.ml
  ocaml/xapi/xapi_support.ml
  ocaml/xapi/xha_scripts.ml
  ocaml/xe-cli/newcli.ml
  ocaml/xe-cli/options.ml
  ocaml/xenopsd/cli/xn.ml
  ocaml/xsh/xsh.ml
  quality-gate.sh
Due: ocaml

CI: Update endcover step to v2 to fix CI
  .github/workflows/other.yml
Due: none

CP-49928: static-vdis: Fix warnings in def fresh_name()
  scripts/static-vdis
Due: none

CP-49928: static-vdis: Fix pylint warnings in def fresh_name()
  scripts/static-vdis
Due: none

CP-49928: Rename all to not have warnings on overriding built-in
  scripts/static-vdis
Due: none

CP-49928: listdir: except OSError: Possible errors are subclasses of it
  scripts/static-vdis
Due: none

static-vdis: pyright: Add type hints and an assert for pyright
  pyproject.toml
  scripts/static-vdis
Due: none

fixup! Eliminate unnecessary usage of List.length to check for empty lists
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi-cli-server/cli_printer.ml
  ocaml/xenopsd/xc/hotplug.ml
Due: ocaml

CP-49212: Update datamodel for non-CDN update
  ocaml/idl/datamodel_repository.ml
  ocaml/idl/schematest.ml
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi-cli-server/record_util.ml
  ocaml/xapi-cli-server/records.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/repository.ml
  ocaml/xapi/repository.mli
  ocaml/xapi/repository_helpers.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xe-cli/bash-completion
Due: ocaml

CP-49212: Add UT for update datamodel for non-CDN update
  ocaml/tests/test_repository.ml
Due: ocaml

CA-392887: set_tls_config immediately after enabling clustering
  ocaml/xapi/xapi_cluster_host.ml
Due: ocaml

CP-49928: test_static_vids.py: mv to py3, test list_vdis & fresh_name (#5740)
  python3/tests/test_static_vdis.py
  scripts/test_static_vdis.py
Due: none

CI: Update endcover step to v2 to fix CI (#5763)
  .github/workflows/other.yml
Due: none

Addressing further PR review comments
  ocaml/xapi/db_gc.ml
  ocaml/xcp-rrdd/bin/rrdd/rrdd_monitor.ml
Due: ocaml

Increment the expected number of Sys.getenv to stop failing gate
  quality-gate.sh
Due: none

CA-386173: Update the message of WLB authentication issue
  ocaml/idl/datamodel_errors.ml
Due: ocaml

CP-49928: Add code coverage for static-vdis:attach() to fix warnings
  python3/tests/test_static_vdis.py
  scripts/static-vdis
Due: none

static-vdis: pyright: Add type hints and fix errors from pyright
  pyproject.toml
  scripts/static-vdis
Due: none

CP-49915: Moved openvswitch-config-update from scripts/plugins to python3/plugins/ - Modified Makefile to include this change - Removed openvswitch-config-update from scripts/Makefile
  python3/Makefile
  python3/plugins/openvswitch-config-update
  scripts/Makefile
Due: python3

Revert "CP-49953: Remove parse_uri, switch to using Uri module instead"
  ocaml/libs/http-lib/http.ml
  ocaml/libs/http-lib/http.mli
  ocaml/libs/http-lib/http_svr.ml
Due: ocaml

Fix a bug noticed by a quicktest run
  ocaml/libs/http-lib/http_svr.ml
Due: ocaml

CP-50172: Moved Test.test from scripts/extensions to python3/extensions - Modified python3/Makefile to include Test.test - Removed Test.test from scripts/Makefile - Fixed import order
  python3/Makefile
  python3/extensions/Test.test
  scripts/Makefile
  scripts/extensions/Test.test
Due: python3

CI: Merge pytest & Coveralls (1/2 of simplifying merges with master)
  .github/workflows/other.yml
Due: none

CA-390277: Stop using host records on CLI cross-pool migrations
  ocaml/xapi-cli-server/cli_operations.ml
Due: ocaml
