Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

wsproxy: test with alcotest instead of ounit
  dune-project
  ocaml/wsproxy/test/dune
  ocaml/wsproxy/test/test_helpers.ml
  ocaml/wsproxy/test/test_iteratees.ml
  ocaml/wsproxy/test/test_websockets.ml
  ocaml/wsproxy/test/wsproxy_tests.ml
  wsproxy.opam
  wsproxy.opam.template
Due: ocaml

xen-api-client: run tests with alcotest
  dune-project
  ocaml/xen-api-client/lib_test/dune
  ocaml/xen-api-client/lib_test/xen_api_test.ml
  xen-api-client.opam
  xen-api-client.opam.template
Due: ocaml

xapi-sdk: add empty packge to be able to run tests for it
  dune-project
  ocaml/sdk-gen/go/dune
  xapi-sdk.opam
Due: ocaml

CI: pin packages
  .github/workflows/setup-xapi-environment/action.yml
Due: none

CP-49934: Disabled upload coverage report for python2.7 in /.github/workflows/other.yml
  .github/workflows/other.yml
Due: none

Fix pytype errors
  pyproject.toml
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

CP-49896: Moved xe-scsi-dev-map to bin directory under python3 - Modified Makefile to include xe-scsi-dev-map - Removed xe-scsi-dev-map from scripts/Makefile
  python3/Makefile
  python3/bin/xe-scsi-dev-map
  scripts/Makefile
Due: python3

CA-390883: Add docs and improve comments on pytest and Coverage.py
  doc/content/python/_index.md
  pyproject.toml
Due: none

CP-49647 use URI for newcli.ml
  ocaml/xe-cli/newcli.ml
Due: ocaml

CP-49677 implement Http.Url using URI
  ocaml/libs/http-lib/http.ml
Due: ocaml

Update quality-gate.sh
  quality-gate.sh
Due: none

Hugo docs: Support reviews of Hugo updates by publishing to a clone's gh-pages
  .github/workflows/hugo.yml
Due: none

Hugo docs: Enable dark mode support and choosing the theme variant
  .github/workflows/hugo.yml
  doc/hugo.toml
Due: none

shell.py: Fix warning caused by overwriting cmd with str and whitespace
  pyproject.toml
  scripts/examples/python/shell.py
Due: none

shell.py: Fix warning caused by overwriting built-in str
  scripts/examples/python/shell.py
Due: none

doc/README.md: Improve the Hugo Quick start guide for an easier start
  doc/README.md
Due: none

CP-49901: Moved disk-space from scripts/plugins to python3/plugins - Modified Makefile to include disk-space in python3/plugins directory - Removed disk-space from scripts/Makefile
  python3/Makefile
  python3/plugins/disk-space
  scripts/Makefile
Due: python3

.codecov.yml: Remove scripts (Codecov is confused, we move scripts/ to python3/)
  .codecov.yml
Due: none

CA-394444: Update task cancellation in `message_forwarding.ml`
  ocaml/xapi/message_forwarding.ml
Due: ocaml

CA-394444: Update `vm_operation_table`
  ocaml/xapi-cli-server/record_util.ml
Due: ocaml

CA-394343: After clock jump the xapi assumed the host is HOST_OFFLINE
  ocaml/xapi/db_gc.ml
  ocaml/xapi/xapi_ha.ml
Due: ocaml

Hugo docs: Add dark mode support, theme variant selector and print
  .github/workflows/hugo.yml
  doc/hugo.toml
Due: none

CP-49930: Moved wlan.py from scripts/poweron to python3/poweron - Modified Makefile in python3 directory to include wlan.py - Fixed pytest error - Removed wlan.py from scripts/Makefile
  python3/Makefile
  python3/poweron/wlan.py
  scripts/Makefile
Due: python3

fixup! CA-394343: After clock jump the xapi assumed the host is HOST_OFFLINE
  ocaml/xapi/db_gc.ml
Due: ocaml

master_connection: log why we failed to connect
  ocaml/database/master_connection.ml
Due: ocaml

xapi.conf: introduce test_open
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.mli
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xenopsd/lib/xenopsd.ml
Due: ocaml

xapi_main: enable backtraces earlier to get backtraces from early startup failures
  ocaml/xapi/xapi.ml
Due: ocaml

CP-49902: Moved DRAC.py from scripts/poweron to python3/poweron
  python3/Makefile
  python3/poweron/DRAC.py
  scripts/Makefile
Due: python3

Don't generate link-local address for interfaces
  scripts/xe-enable-ipv6
Due: none

CP-49975: Replaced mkdir -p with \\\$(IPROG) -d for directory creation in install target
  python3/Makefile
Due: python3

CP-49904: Removed exportimport.py from scripts/examples/python/ - Removed exportimport.py from expected_to_fail in pyproject.toml
  pyproject.toml
  scripts/examples/python/exportimport.py
Due: none

CP-49914: Removed monitor-unwanted-domains.py from scripts/examples/python/ - Removed monitor-unwanted-domains.py from expected_to_fail in pyproject.toml
  pyproject.toml
  scripts/examples/python/monitor-unwanted-domains.py
Due: none

Make `cluster-stack-version` show up in the CLI
  ocaml/xapi-cli-server/records.ml
Due: ocaml

CP-49913: Removed mini-xenrt.py from scripts/examples/python/
  scripts/examples/python/mini-xenrt.py
Due: none

CP-49923: Removed provision.py from scripts/examples/python/
  scripts/examples/python/provision.py
Due: none

CP-49925: Removed renameif.py from scripts/examples/python/
  scripts/examples/python/renameif.py
Due: none
