Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

python3/qcow2-to-stdout: Switch to sparse interval format for nonzero_clusters
  python3/libexec/qcow2-to-stdout.py
Due: python3

qcow_tool_wrapper: Add note on using header information from VHD files
  ocaml/xapi/qcow_tool_wrapper.ml
Due: ocaml

qcow_tool_wrapper: Call qemu-img instead of qcow-stream-tool
  ocaml/xapi/qcow_tool_wrapper.ml
  ocaml/xapi/vhd_qcow_parsing.ml
  ocaml/xapi/vhd_qcow_parsing.mli
  ocaml/xapi/xapi_globs.ml
  python3/libexec/qcow2-to-stdout.py
Due: ocaml, python3

qcow-stream-tool: Drop read_headers
  ocaml/qcow-stream-tool/qcow_stream_tool.ml
Due: ocaml

stunnel: assign the tests to the package
  ocaml/libs/stunnel/test/dune
Due: ocaml

CP-310955: Update friendly error messages
  ocaml/sdk-gen/csharp/FriendlyErrorNames.resx
Due: ocaml

VLAN filtering design document
  doc/content/design/vlan-filtering.md
Due: none

xapi_pci: Disallow passthrough for boot devices
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/xapi_pci.ml
  ocaml/xapi/xapi_pci_helpers.ml
Due: ocaml

Update rate limit library name to avoid name clashes
  ocaml/libs/rate-limit/caller_table.ml
  ocaml/libs/rate-limit/caller_table.mli
  ocaml/libs/rate-limit/dune
  ocaml/libs/rate-limit/test/dune
  ocaml/libs/rate-limit/test/test_caller_statistics.ml
  ocaml/libs/rate-limit/test/test_caller_table.ml
  ocaml/libs/rate-limit/test/test_linked_list.ml
  ocaml/libs/rate-limit/test/test_lru.ml
  ocaml/libs/rate-limit/test/test_rate_limit.ml
  ocaml/libs/rate-limit/test/test_token_bucket.ml
Due: ocaml

Add rate limit and caller to xapi CLI
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi-cli-server/records.ml
  ocaml/xe-cli/bash-completion
Due: ocaml

Add quicktest for rate limiting
  ocaml/quicktest/quicktest.ml
  ocaml/quicktest/quicktest_rate_limit.ml
Due: ocaml

Instrument RPC calls with usage logging and rate limiting
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/server_helpers.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_http.ml
Due: ocaml

Add Caller and Rate_limit datamodels
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_caller.ml
  ocaml/idl/datamodel_common.ml
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/datamodel_rate_limit.ml
  ocaml/idl/dune
  ocaml/idl/schematest.ml
  ocaml/libs/uuid/uuidx.ml
  ocaml/libs/uuid/uuidx.mli
  ocaml/xapi/api_server_common.ml
  ocaml/xapi/context.ml
  ocaml/xapi/context.mli
  ocaml/xapi/dune
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_caller.ml
  ocaml/xapi/xapi_caller.mli
  ocaml/xapi/xapi_rate_limit.ml
  ocaml/xapi/xapi_rate_limit.mli
Due: ocaml

Add Caller and Rate_limit datamodels
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_caller.ml
  ocaml/idl/datamodel_common.ml
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/datamodel_rate_limit.ml
  ocaml/idl/dune
  ocaml/idl/schematest.ml
  ocaml/libs/uuid/uuidx.ml
  ocaml/libs/uuid/uuidx.mli
  ocaml/xapi/api_server_common.ml
  ocaml/xapi/context.ml
  ocaml/xapi/context.mli
  ocaml/xapi/dune
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_caller.ml
  ocaml/xapi/xapi_caller.mli
  ocaml/xapi/xapi_rate_limit.ml
  ocaml/xapi/xapi_rate_limit.mli
  quality-gate.sh
Due: ocaml

CA-428177: clarify ldaps trusted certificate error messages
  doc/content/design/external-auth-ldaps.md
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi/extauth_plugin_ADwinbind.ml
Due: ocaml

fixup! Add Caller and Rate_limit datamodels
  ocaml/idl/datamodel_caller.ml
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/datamodel_rate_limit.ml
  ocaml/idl/schematest.ml
  ocaml/xapi/xapi_caller.ml
  ocaml/xapi/xapi_caller.mli
Due: ocaml

fixup! Add quicktest for rate limiting
  ocaml/quicktest/quicktest_rate_limit.ml
Due: ocaml

CP-312094: Update rate limiting design document
  doc/content/design/rate_limit.md
Due: none

fixup! Add rate limit and caller to xapi CLI
  ocaml/xapi-cli-server/cli_operations.ml
Due: ocaml

Update rate limit design document with correct caller API
  doc/content/design/rate_limit.md
Due: none

xapi: Improve error reporting when pool join fails on TLS verification
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Make use of losetup conditional on file type
  ocaml/xapi-storage/python/examples/datapath/loop+blkback/datapath.py
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/volume.py
Due: ocaml

Rename to blktap
  ocaml/xapi-storage/python/examples/datapath/blkback/datapath.py
  ocaml/xapi-storage/python/examples/datapath/blkback/plugin.py
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/volume.py
Due: ocaml

Add operation symlinks
  ocaml/xapi-storage/python/examples/datapath/blkback/Datapath.activate
  ocaml/xapi-storage/python/examples/datapath/blkback/Datapath.attach
  ocaml/xapi-storage/python/examples/datapath/blkback/Datapath.close
  ocaml/xapi-storage/python/examples/datapath/blkback/Datapath.deactivate
  ocaml/xapi-storage/python/examples/datapath/blkback/Datapath.detach
  ocaml/xapi-storage/python/examples/datapath/blkback/Datapath.open
  ocaml/xapi-storage/python/examples/datapath/blkback/Plugin.Query
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/Plugin.Query
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/Plugin.diagnostics
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/SR.attach
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/SR.create
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/SR.destroy
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/SR.detach
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/SR.ls
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/SR.stat
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/Volume.create
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/Volume.destroy
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/Volume.resize
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/Volume.set_description
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/Volume.set_name
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/Volume.stat
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/volume.py
Due: ocaml

[design doc] LLDP support
  doc/content/design/lldp.md
Due: none

CP-312537: xc domain runstate on shared memory
  ocaml/libs/xenctrl-ext/xenctrlext.ml
  ocaml/libs/xenctrl-ext/xenctrlext.mli
  ocaml/libs/xenctrl-ext/xenctrlext_stubs.c
  ocaml/xcp-rrdd/bin/rrdp-cpu/dune
  ocaml/xcp-rrdd/bin/rrdp-cpu/rrdp_cpu.ml
Due: ocaml

storage: Preserve VDI tags on SMAPIv1 migrate
  ocaml/xapi-storage-script/main.ml
  ocaml/xapi/storage_smapiv1_migrate.ml
Due: ocaml

CA-428436: validate DC LDAPS certificate before joining domain
  ocaml/xapi/extauth_plugin_ADwinbind.ml
Due: ocaml

Add DHCP setting for VIF IP configuration
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_common.ml
  ocaml/idl/schematest.ml
  ocaml/tests/record_util/old_enum_all.ml
  ocaml/tests/record_util/old_record_util.ml
  ocaml/xapi-idl/xen/xenops_interface.ml
  ocaml/xapi/xapi_vif.mli
  ocaml/xapi/xapi_xenops.ml
  ocaml/xe-cli/bash-completion
  ocaml/xenopsd/lib/xenops_server.ml
  ocaml/xenopsd/xc/xenops_server_xen.ml
Due: ocaml

Update attach-static-vdis - Fix failed service.
  scripts/attach-static-vdis
Due: none

[design doc] Add shared LLDP data into networkd interface
  doc/content/design/lldp.md
Due: none

CP-312361 [Design doc] SXM V3 support
  doc/content/xapi/storage/sxm/sxm-v3-with-snapshot.md
Due: none

xapi_vm_snapshot: shorten length of comments
  ocaml/xapi/xapi_vm_snapshot.ml
Due: ocaml

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
