Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

CP-50614: Tracing: use a map instead of Span list
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/tests/test_observer.ml
Due: ocaml

CP-50614: Tracing: replace locks with atomic operations
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/tests/test_observer.ml
Due: ocaml

CP-50614: Tracing: be more acceptive of span/trace ids
  ocaml/libs/tracing/tracing.ml
Due: ocaml

CA-397599 XSI-1704 reformat
  ocaml/xapi/xapi_vm.mli
Due: ocaml

CP-51483: epoll tests: support QCHECK_LONG_FACTOR
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test.ml
  ocaml/quicktest/quicktest
Due: ocaml

CA-397599 XSI-1704 implement setter for blocked ops manually
  ocaml/idl/datamodel_vm.ml
  ocaml/idl/schematest.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_vm.ml
  ocaml/xapi/xapi_vm.mli
Due: ocaml

[ci]: enable merge queues
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/other.yml
  .github/workflows/shellcheck.yaml
Due: none

datamodel: document how timezone-less datetimes are handled
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_host.ml
  ocaml/idl/datamodel_vm.ml
Due: ocaml

Clock: Change implementation of Date to use Ptime.t
  ocaml/libs/clock/date.ml
  ocaml/libs/clock/date.mli
  ocaml/libs/clock/dune
  ocaml/libs/clock/test_date.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-date/date.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-date/date.mli
  quality-gate.sh
Due: ocaml

idl: add test to ensure datetime parameters are documented correctly
  ocaml/idl/dune
  ocaml/idl/test_datetimes.ml
  ocaml/idl/test_datetimes.mli
Due: ocaml

clock: Add timezone to all parsed dates
  ocaml/libs/clock/date.ml
  ocaml/libs/clock/test_date.ml
Due: ocaml

Specify OCaml version for ocamlformat's output
  .ocamlformat
Due: none

CP-50615: increase max_spans
  ocaml/xapi/xapi_globs.ml
Due: ocaml

opam: declare missing dependencies
  clock.opam
  dune-project
Due: none

IH-533: Remove usage of forkexecd daemon to execute processes
  Makefile
  ocaml/forkexecd/helper/Makefile
  ocaml/forkexecd/helper/algo_fuzzer.c
  ocaml/forkexecd/helper/close_from.c
  ocaml/forkexecd/helper/close_from.h
  ocaml/forkexecd/helper/dune
  ocaml/forkexecd/helper/logs.c
  ocaml/forkexecd/helper/logs.h
  ocaml/forkexecd/helper/redirect_algo.h
  ocaml/forkexecd/helper/syslog.c
  ocaml/forkexecd/helper/syslog.h
  ocaml/forkexecd/helper/vfork_helper.c
  ocaml/forkexecd/helper/vfork_helper.h
  ocaml/forkexecd/lib/dune
  ocaml/forkexecd/lib/fe_stubs.c
  ocaml/forkexecd/lib/forkhelpers.ml
  ocaml/forkexecd/test/dune
  ocaml/forkexecd/test/fe_test.sh
  ocaml/forkexecd/test/syslog.c
  ocaml/libs/stunnel/stunnel.ml
Due: ocaml

xe autocompletion: Fix prefix escaping bug
  ocaml/xe-cli/bash-completion
Due: ocaml

[ci]: make concurrency group more unique
  .github/workflows/main.yml
  .github/workflows/other.yml
  .github/workflows/shellcheck.yaml
Due: none

Fix network reset script in static IPv6
  scripts/xe-reset-networking
Due: none

Use None4 if MODE is set to none
  ocaml/networkd/lib/network_config.ml
Due: ocaml

Fix network reset script in static IPv6
  python3/bin/xe-reset-networking
Due: python3

CA-398128: Be wary that dates in database lose precision
  ocaml/xapi/xapi_xenops.ml
Due: ocaml

CA-398138: Handle enum value unknown error for Go SDK
  ocaml/sdk-gen/go/templates/ConvertEnum.mustache
  ocaml/sdk-gen/go/templates/Enum.mustache
  ocaml/sdk-gen/go/test_data/enum.go
  ocaml/sdk-gen/go/test_data/enum_convert.go
Due: ocaml

CA-399229: Assert no host pending mandatory guidance for pool.join
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Fix the definition of the Data.mirror operation
  ocaml/xapi-storage/generator/lib/data.ml
Due: ocaml

CP-51479: [maintenance]: synchronize api_version.ml and api_version.ml.in
  .gitignore
  ocaml/idl/api_version.ml
  ocaml/idl/api_version.ml.in
Due: ocaml

CP-51479: [maintenance]: do not install cmxs
  Makefile
Due: none

CP-51479: [maintenance]: reduce scope of dune aliases
  Makefile
Due: none

CP-51479: [maintenance]: make install.sh more quiet
  scripts/install.sh
Due: none

CP-51479: [maintenance]: running make install twice in a row should succeed
  Makefile
Due: none

CP-51479: [maintenance]: ocaml/sdk-gen should create directories before writing files
  ocaml/sdk-gen/common/CommonFunctions.ml
  ocaml/sdk-gen/common/dune
  ocaml/sdk-gen/java/dune
  ocaml/sdk-gen/java/main.ml
Due: ocaml

CP-51479: [maintenance]: add @sdkgen rule for convenience in dune
  Makefile
  ocaml/sdk-gen/csharp/autogen/dune
  ocaml/sdk-gen/dune
Due: ocaml

CP-51479: [maintenance]: install SDK files using dune rules
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/go-ci/action.yml
  .github/workflows/sdk-ci/action.yml
  .gitignore
  Makefile
  dune
  dune-project
  ocaml/doc/README.md
  ocaml/sdk-gen/c/dune
  ocaml/sdk-gen/c/gen_c_binding.ml
  ocaml/sdk-gen/component-test/README.md
  ocaml/sdk-gen/csharp/XE_SR_ERRORCODES.xml
  ocaml/sdk-gen/csharp/autogen/dune
  ocaml/sdk-gen/csharp/dune
  ocaml/sdk-gen/csharp/friendly_error_names.ml
  ocaml/sdk-gen/csharp/gen_csharp_binding.ml
  ocaml/sdk-gen/dune
  ocaml/sdk-gen/go/dune
  ocaml/sdk-gen/java/autogen/dune
  ocaml/sdk-gen/java/dune
  ocaml/sdk-gen/java/main.ml
  ocaml/sdk-gen/powershell/autogen/dune
  ocaml/sdk-gen/powershell/dune
  ocaml/sdk-gen/powershell/gen_powershell_binding.ml
  ocaml/sdk-gen/windows-line-endings.sh
Due: ocaml

CP-51479: [maintenance]: make xapi-xenopsd, and rrd-plugins.lib internal
  dune-project
  ocaml/tests/dune
  ocaml/xapi/dune
  ocaml/xcp-rrdd/bin/read-blktap-stats/dune
  ocaml/xcp-rrdd/bin/rrdd/dune
  ocaml/xcp-rrdd/bin/rrdp-dcmi/dune
  ocaml/xcp-rrdd/bin/rrdp-iostat/dune
  ocaml/xcp-rrdd/bin/rrdp-squeezed/dune
  ocaml/xcp-rrdd/bin/rrdp-xenpm/dune
  ocaml/xcp-rrdd/lib/blktap/lib/dune
  ocaml/xcp-rrdd/lib/rrdd/dune
  ocaml/xenopsd/c_stubs/dune
  ocaml/xenopsd/dbgring/dune
  ocaml/xenopsd/lib/dune
  ocaml/xenopsd/simulator/dune
  ocaml/xenopsd/suspend_image_viewer/dune
  ocaml/xenopsd/test/dune
  ocaml/xenopsd/xc/dune
  xapi-xenopsd-simulator.opam
  xapi-xenopsd-simulator.opam.template
  xapi-xenopsd-xc.opam
  xapi-xenopsd-xc.opam.template
  xapi-xenopsd.opam
  xapi-xenopsd.opam.template
  xapi.opam
Due: ocaml

CP-51479: [maintenance]: merge dune rules and use -j consistently
  Makefile
Due: none

CP-51479: [maintenance]: merge rrdd-plugins with xapi, and remove xapi-rrdd-plugin
  Makefile
  dune-project
  ocaml/xcp-rrdd/bin/read-blktap-stats/dune
  ocaml/xcp-rrdd/bin/rrdp-dcmi/dune
  ocaml/xcp-rrdd/bin/rrdp-dummy/dune
  ocaml/xcp-rrdd/bin/rrdp-iostat/dune
  ocaml/xcp-rrdd/bin/rrdp-squeezed/dune
  ocaml/xcp-rrdd/bin/rrdp-xenpm/dune
  rrdd-plugins.opam
  rrdd-plugins.opam.template
  xapi-rrdd-plugin.opam
  xapi-rrdd-plugin.opam.template
Due: ocaml

CP-51479: [maintenance]: parallelize install rule
  Makefile
Due: none

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
