Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

context: catch error inside span
  ocaml/xapi/context.ml
Due: ocaml

formatting: Use `let@` and `match` statements.
  ocaml/xapi/taskHelper.ml
Due: ocaml

CA-395626: Add a unit test to detect incorrect cookie parsing
  ocaml/libs/http-lib/test_client.ml
  ocaml/libs/http-lib/test_server.ml
Due: ocaml

quicktest: associate unit-test with xapi package
  ocaml/quicktest/dune
Due: ocaml

CP-50270: Set the correct parent in `make_connection`
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

CP-49931: Move scripts/xe-reset-networking to python3/bin, fix pyright
  pyproject.toml
  python3/Makefile
  python3/bin/xe-reset-networking
  scripts/Makefile
Due: python3

gen_empty_custom: avoid wildcards for actions
  ocaml/idl/ocaml_backend/gen_empty_custom.ml
Due: ocaml

CA-390277: Reduce record usage on CLI cross-pool migrations
  ocaml/xapi-cli-server/cli_operations.ml
  quality-gate.sh
Due: ocaml

CA-390277: Add API to fetch references matching a query
  ocaml/idl/datamodel_types.ml
  ocaml/idl/datamodel_types.mli
  ocaml/idl/datamodel_utils.ml
  ocaml/idl/ocaml_backend/gen_db_actions.ml
  ocaml/idl/ocaml_backend/gen_empty_custom.ml
  ocaml/xapi/xapi_role.ml
Due: ocaml

xapi-cli-server: use helper remote in migrate function
  ocaml/xapi-cli-server/cli_operations.ml
Due: ocaml

CP-49633: Pass traceparent for non-local `XenAPI.py` sessions.
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

Refactor: Move to default optional parameters when they were reimplemented by hand
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/vhd/vhd_format/f.ml
  ocaml/xapi-idl/lib/typeCombinators.ml
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/workload_balancing.ml
  ocaml/xapi/xapi_mgmt_iface.ml
  ocaml/xenopsd/xc/service.ml
Due: ocaml

Moved PS destructors to a template.
  ocaml/sdk-gen/powershell/gen_powershell_binding.ml
  ocaml/sdk-gen/powershell/templates/Remove-XenObject.mustache
Due: ocaml

CA-395626: Fix (server status report generation report)
  ocaml/libs/http-lib/http_svr.ml
Due: ocaml

CP-49212: Update datamodel for non-CDN update
  ocaml/idl/datamodel_repository.ml
  ocaml/idl/schematest.ml
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi-cli-server/record_util.ml
  ocaml/xapi-cli-server/records.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/repository.ml
  ocaml/xapi/repository.mli
  ocaml/xapi/repository_helpers.ml
  ocaml/xapi/xapi_globs.ml
Due: ocaml

CP-49212: Add UT for update datamodel for non-CDN update
  ocaml/tests/test_repository.ml
Due: ocaml

CP-50079: Add correct cookie parsing alongside the old style
  ocaml/libs/http-lib/http.ml
  ocaml/libs/http-lib/http.mli
  ocaml/libs/http-lib/http_client.ml
  ocaml/libs/http-lib/http_svr.ml
Due: ocaml

CP-50079: Remove unused unixpwd function and its associated tests
  unixpwd/c/Makefile
  unixpwd/c/main.c
  unixpwd/c/unixpwd.c
  unixpwd/c/unixpwd.h
  unixpwd/c/unixpwd_stubs.c
  unixpwd/src/unixpwd.ml
  unixpwd/src/unixpwd.mli
  unixpwd/test/main.ml
Due: none

Add -run-only and -list-tests parameters to quicktests
  ocaml/quicktest/quicktest.ml
  ocaml/quicktest/quicktest_args.ml
Due: ocaml

CP-50079: Remove legacy sync_config_files interface
  ocaml/xapi/config_file_sync.ml
Due: ocaml

CP-50079: Expands http quicktests to also check parsing of cookies.
  ocaml/quicktest/dune
  ocaml/quicktest/quicktest.ml
  ocaml/quicktest/quicktest_http.ml
  quality-gate.sh
Due: ocaml

CA-394148: Fix dry-run handling in xe-restore-metadata
  scripts/xe-restore-metadata
Due: none

CA-393578: Fix vbd cleanup in metadata scripts
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CA-383491: [Security fix] Use debugfs on xe-restore-metadata probes
  scripts/Makefile
  scripts/probe-device-for-file
  scripts/xe-restore-metadata
Due: none

Updates to Portable SR Functionality
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CP-49228: Updates to Portable SR Functionality
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

plugins/extauth-hook-AD.py: Fix 'Stray abstractmethod' pytype warning
  python3/plugins/extauth-hook-AD.py
Due: python3

quality-gate: fix list.hd
  quality-gate.sh
Due: none

CP-49811: Remove redundant method object from span name
  python3/packages/observer.py
Due: python3

Fixes for shellcheck
  scripts/xe-restore-metadata
Due: none

storage-api: attach() Deduplicate type checks for Blkback, Tapdisk3 and Qdisk
  ocaml/xapi-storage/python/xapi/storage/api/datapath.py
Due: ocaml

plugins/extauth-hook-AD.py: Cleanup obsolete per-method pylint comments
  python3/plugins/extauth-hook-AD.py
Due: python3

Apply UPD-999 updates
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none
