Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

fixup! Design proposal for supported image formats
  doc/content/design/sm-supported-image-formats.md
Due: none

CP-48676: Reuse pool sessions on slave logins.
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_session.ml
Due: ocaml

CP-48676: Don't check resuable pool session validity by default
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_session.ml
Due: ocaml

Restructure valid allowed_operations computation
  ocaml/xapi/xapi_pool_helpers.ml
Due: ocaml

CP-52365 adjust interface to dmv-utils
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_host_driver.ml
  ocaml/xapi/xapi_host_driver_tool.ml
Due: ocaml

(docs) Mention that wait_xen_free_mem aborts on physinfo.scrub_pages==0
  doc/content/xenopsd/walkthroughs/VM.build/Domain.build.md
Due: none

CA-407033: Call `receive_finalize2` synchronously
  ocaml/xapi/storage_migrate.ml
Due: ocaml

Add internal links to XenAPI reference
  doc/assets/css/xenapi.css
  doc/assets/js/parse.js
  doc/layouts/partials/content.html
Due: none

CA-405643: Update DNF to DNF5
  ocaml/tests/test_pkg_mgr.ml
  ocaml/xapi/pkg_mgr.ml
  ocaml/xapi/pkg_mgr.mli
  ocaml/xapi/repository.ml
  ocaml/xapi/repository_helpers.ml
Due: ocaml

CP-53314: Read and watch <domain>/data/service in xenstore to DB
  ocaml/xapi/xapi_guest_agent.ml
  ocaml/xenopsd/xc/xenops_server_xen.ml
Due: ocaml

CP-53314: Add limit when read service for secure
  ocaml/xenopsd/xc/xenops_server_xen.ml
Due: ocaml

Design proposal to support import/export of Qcow2 VDI
  doc/content/design/add-qcow-tool-for-vdi-import-export.md
Due: none

message_forwarding: Change call_slave_... functions to reduce repetition
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_host.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Add filter_by to Dm_api
  ocaml/idl/dm_api.ml
  ocaml/idl/dm_api.mli
Due: ocaml

Prefer Dm_api.filter_by over Dm_api.filter
  ocaml/idl/datamodel_main.ml
  ocaml/idl/dm_api.mli
  ocaml/idl/json_backend/gen_json.ml
  ocaml/idl/markdown_backend.ml
  ocaml/idl/ocaml_backend/gen_api.ml
  ocaml/idl/ocaml_backend/gen_api_main.ml
  ocaml/idl/ocaml_backend/gen_client.ml
  ocaml/idl/ocaml_backend/gen_db_actions.ml
  ocaml/idl/ocaml_backend/gen_empty_custom.ml
  ocaml/sdk-gen/c/gen_c_binding.ml
  ocaml/sdk-gen/common/CommonFunctions.ml
  ocaml/sdk-gen/csharp/gen_csharp_binding.ml
  ocaml/sdk-gen/java/main.ml
  ocaml/sdk-gen/powershell/gen_powershell_binding.ml
Due: ocaml

Use Cmdliner for gen_api_main.exe
  ocaml/idl/ocaml_backend/dune
  ocaml/idl/ocaml_backend/gen_api.ml
  ocaml/idl/ocaml_backend/gen_api_main.ml
  ocaml/idl/ocaml_backend/gen_api_types.ml
  ocaml/idl/ocaml_backend/gen_rbac.ml
  ocaml/idl/ocaml_backend/gen_server.ml
  ocaml/xapi-cli-server/dune
  ocaml/xapi-client/dune
  ocaml/xapi-types/dune
  ocaml/xapi/dune
  quality-gate.sh
Due: ocaml

CA-407322 - libs/rrd: Keep lastupdate XML field as int, XenCenter relies on it
  ocaml/libs/xapi-rrd/lib/rrd.ml
Due: ocaml

fixup! Design proposal to support import/export of Qcow2 VDI
  doc/content/design/add-qcow-tool-for-vdi-import-export.md
Due: none

CP-53161: Append `baggage` to the env vars list passed by `forkexecd`
  ocaml/libs/tracing/dune
  ocaml/libs/tracing/propagator.ml
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
Due: ocaml

CP-53161: `observer.py` adds the `baggage` to `smapi`'s attributes
  python3/packages/observer.py
Due: python3

CP-53161: Link traces even when `smapi` component is experimental
  python3/examples/XenAPI/XenAPI.py
Due: python3

CP-53161: Pass `baggage` back into `xapi` from `smapi`.
  python3/examples/XenAPI/XenAPI.py
Due: python3

(docs) xenguest: Add a walk-through on populating VM memory
  doc/content/lib/xenctrl/get_free_buddy-flowchart.md
  doc/content/lib/xenctrl/populate_physmap-dataflow.md
  doc/content/lib/xenctrl/struct/xen_memory_reservation.md
  doc/content/lib/xenctrl/xc_domain_node_setaffinity.md
  doc/content/lib/xenctrl/xc_domain_populate_physmap.md
  doc/content/xenopsd/walkthroughs/VM.build/xenguest.md
  doc/content/xenopsd/walkthroughs/VM.build/xenguest/do_hvm_build.md
  doc/content/xenopsd/walkthroughs/VM.build/xenguest/mode_vm_build.md
Due: none

CA-407328: Change vm parameter names of SXM calls
  ocaml/xapi/xapi_vm_migrate.ml
Due: ocaml

Fix review comments and add unit test for guest_agent
  ocaml/tests/test_guest_agent.ml
  ocaml/xapi/xapi_guest_agent.ml
  ocaml/xenopsd/xc/xenops_server_xen.ml
Due: ocaml

Add unit test for Limit module in xenopsd-xc
  ocaml/xenopsd/test/dune
  ocaml/xenopsd/test/test_xc.ml
  ocaml/xenopsd/test/test_xc.mli
Due: ocaml

CP-53708: Expose the existing PCI vendor/device IDs
  ocaml/idl/datamodel.ml
  ocaml/idl/schematest.ml
Due: ocaml

CP-53444: For XenServer 9, remove python dnf plugins
  python3/Makefile
  python3/README.md
  python3/dnf_plugins/__init__.py
  python3/dnf_plugins/accesstoken.py
  python3/dnf_plugins/ptoken.py
  python3/dnf_plugins/xapitoken.py
  python3/stubs/dnf.py
  python3/tests/test_dnf_plugins.py
Due: python3

XSI-1821: Add pre-condition for host.emergency_reenable_tls_verification
  ocaml/idl/datamodel_errors.ml
  ocaml/idl/datamodel_host.ml
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/xapi_host.ml
Due: ocaml

Revert "CA-403867: Block pool join if IP not configured on cluster network"
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Update datamodel lifecycle
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

CA-407370: Use remote.conf for customer rsyslog forwarding rules
  scripts/xe-syslog-reconfigure
Due: none

CP-53747 document PEM/Certificate relation
  doc/content/xapi/internals/certificates.md
Due: none

CP-50934: fix qemu cgroups to be compatible with cgroupv2
  ocaml/xenopsd/scripts/qemu-wrapper
Due: ocaml

(docs) Improve xc_domain_node_setaffinity.md, add xc_vcpu_setaffinity.md
  doc/content/lib/xenctrl/xc_domain_node_setaffinity.md
  doc/content/lib/xenctrl/xc_vcpu_setaffinity-simplified.md
  doc/content/lib/xenctrl/xc_vcpu_setaffinity-xenopsd.md
  doc/content/lib/xenctrl/xc_vcpu_setaffinity.md
Due: none

Update to the current situation where numa_placement calls xc_vcpu_setaffinity()
  doc/content/lib/xenctrl/xc_vcpu_setaffinity-xenopsd.md
Due: none

stdext: replace all ignore_type with annotated ignores
  ocaml/database/block_device_io.ml
  ocaml/libs/stunnel/stunnel.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-pervasives/pervasiveext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-pervasives/pervasiveext.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.ml
  ocaml/rrd2csv/src/rrd2csv.ml
  ocaml/xapi/repository_helpers.ml
  ocaml/xapi/xapi_host.ml
  ocaml/xcp-rrdd/bin/rrdd/xcp_rrdd.ml
Due: ocaml

xapi_vdi_helpers: actually write raw vdi when possible
  ocaml/xapi/xapi_vdi_helpers.ml
Due: ocaml

opam: move stunnel metadata to dune-project
  dune-project
  stunnel.opam
  stunnel.opam.template
Due: none

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
