Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Apply the pytype check to the new path for perfmon
  .github/workflows/main.yml
  pyproject.toml
Due: none

CA-389840: Bug in parsing output of 'xen-livepatch list'
  ocaml/tests/test_livepatch.ml
  ocaml/xapi/livepatch.ml
Due: ocaml

CP-48430 Update the running_domains metrics to count the not paused state domains
  ocaml/xcp-rrdd/bin/rrdd/xcp_rrdd.ml
Due: ocaml

fix typos: priviledges -> privileges
  ocaml/idl/datamodel.ml
  ocaml/xapi/xapi_session.ml
Due: ocaml

CP-47334: Move nbd_client_manager.py to python3/libexec
  python3/Makefile
  python3/libexec/nbd_client_manager.py
  python3/unittest/test_nbd_client_manager.py
  scripts/Makefile
Due: python3

CP-47334: Add unit tests for nbd_client_manager.py
  python3/libexec/nbd_client_manager.py
  python3/unittest/test_nbd_client_manager.py
Due: python3

CP-47334: Migrate nbd_client_manager.py to python3
  python3/libexec/nbd_client_manager.py
Due: python3

CP-47334: Fix pylint and pytype issues
  python3/libexec/nbd_client_manager.py
  python3/unittest/test_nbd_client_manager.py
Due: python3

CP-47334: Formatting by "black" tool
  python3/libexec/nbd_client_manager.py
Due: python3

CP-47334: Adjust pytype config for new python3 directory
  pyproject.toml
Due: none

pyproject.toml update settings for pytest etc for running CI locally
  pyproject.toml
Due: none

pre-commit: Add pytest,pytype-analysis: Configure for quick local CI tests
  .github/workflows/shellcheck.yaml
  .pre-commit-config.yaml
  python3/tests/pytype_reporter.py
  python3/tests/reviewdog.sh
  scripts/Makefile
Due: python3

mainhfcfixup nmop
  python3/tests/reviewdog.sh
Due: python3

main.yml/CI: Cleanup pytest and pytype: They are run by pre-commit now
  .github/workflows/main.yml
Due: none

pyproject.toml: Migrate pytype_reporter from scripts to python3
  pyproject.toml
Due: none

CP-47334: Not using f-string
  python3/libexec/nbd_client_manager.py
  python3/unittest/test_nbd_client_manager.py
Due: python3

CP-47334: Disable some pylint checks
  pyproject.toml
  python3/unittest/test_nbd_client_manager.py
Due: none

CP-47334: Change to a more readable exception name
  python3/libexec/nbd_client_manager.py
Due: python3

CP-47334: Raise exception if all nbd devices are connected
  python3/libexec/nbd_client_manager.py
Due: python3

Remove Cancel forkexec RPC
  ocaml/forkexecd/lib/fe.ml
  ocaml/forkexecd/src/child.ml
Due: ocaml

Remove Log_reopen forkexec RPC
  ocaml/forkexecd/lib/fe.ml
Due: ocaml

Fix typo in `XenServerPowerShell.csproj`
  ocaml/sdk-gen/powershell/autogen/src/XenServerPowerShell.csproj
Due: ocaml

CA-390109: Use `$PROFILE` path to store and read known cert list
  ocaml/sdk-gen/powershell/autogen/Initialize-Environment.ps1
  ocaml/sdk-gen/powershell/autogen/src/CommonCmdletFunctions.cs
  ocaml/sdk-gen/powershell/autogen/src/Connect-XenServer.cs
Due: ocaml

CP-38343: xenopsd: GC and memory RRD stats
  ocaml/xenopsd/xc/dune
  ocaml/xenopsd/xc/mem_stats.ml
  ocaml/xenopsd/xc/mem_stats.mli
  ocaml/xenopsd/xc/xenops_xc_main.ml
Due: ocaml

CP-46944: Update yum plugins to dnf plugins
  python3/Makefile
  python3/README.md
  python3/dnf_plugins/__init__.py
  python3/dnf_plugins/accesstoken.py
  python3/dnf_plugins/ptoken.py
  python3/tests/test_dnf_plugins.py
Due: python3

CA-381119: use JsonRPC V2 for error replies
  ocaml/xapi/api_server.ml
Due: ocaml

CP-46179 create backup VDI with determinstic UUID
  ocaml/libs/uuid/uuidx.ml
  ocaml/libs/uuid/uuidx.mli
  ocaml/xapi/sm.ml
  ocaml/xapi/sm_exec.ml
  ocaml/xapi/storage_smapiv1.ml
  ocaml/xapi/xapi_vdi.ml
Due: ocaml

CP-48466 Fix ci warnings for usb_scan.py
  pyproject.toml
  python3/libexec/usb_scan.py
  python3/unittest/test_usb_scan.py
Due: python3

Enable to (un)hide a PCI device through the API
  ocaml/idl/datamodel.ml
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi-cli-server/records.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_pci.ml
  ocaml/xapi/xapi_pci.mli
Due: ocaml

CP-46944: Update unittest to make github CI happy
  .github/workflows/main.yml
  python3/tests/stubs/dnf.py
  python3/tests/test_dnf_plugins.py
Due: python3

CP-46179 update metadata backup/restore to use deterministic UUID
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CP-46179 use -y (yes) flag to facilitate scripting
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CP-46179 improve quoting in shell code
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CA-378317 fix EBADF in waitpid_nohang (v2, 2/2)
  ocaml/libs/stunnel/stunnel.ml
Due: ocaml

CA-378317 fix EBADF in waitpid_nohang (v2, 1/2)
  ocaml/forkexecd/lib/forkhelpers.ml
  ocaml/forkexecd/lib/forkhelpers.mli
Due: ocaml

message-switch: Print more complete time info in diagnostics
  ocaml/message-switch/cli/dune
  ocaml/message-switch/cli/main.ml
Due: ocaml

git: ignore another revision (from xapi-storage-script)
  .git-blame-ignore-revs
Due: none

maintenance: add undeclared dune libraries
  ocaml/alerts/certificate/dune
  ocaml/alerts/dune
  ocaml/database/dune
  ocaml/forkexecd/lib/dune
  ocaml/libs/ezxenstore/core/dune
  ocaml/libs/ezxenstore/lib_test/dune
  ocaml/libs/ezxenstore/watch/dune
  ocaml/libs/http-lib/dune
  ocaml/libs/tracing/dune
  ocaml/libs/vhd/cli/dune
  ocaml/libs/vhd/vhd_format/dune
  ocaml/libs/vhd/vhd_format_lwt/dune
  ocaml/libs/vhd/vhd_format_lwt_test/dune
  ocaml/tests/alerts/dune
  ocaml/tests/dune
  ocaml/xapi-guard/lib/dune
  ocaml/xapi-guard/src/dune
  ocaml/xapi-guard/test/dune
  ocaml/xapi-idl/lib/dune
  ocaml/xapi-idl/lib_test/dune
  ocaml/xapi/dune
  ocaml/xcp-rrdd/bin/rrdd/dune
  ocaml/xcp-rrdd/bin/rrdp-iostat/dune
  ocaml/xenopsd/lib/dune
  ocaml/xenopsd/xc/dune
  ocaml/xs-trace/dune
  ocaml/xxhash/lib/dune
Due: ocaml

IH-397: Do not open Core
  ocaml/xapi-storage-script/main.ml
Due: ocaml

IH-397: Do not open Async
  ocaml/xapi-storage-script/main.ml
Due: ocaml

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
