Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

CP-49141: Mark the DB lock as high priority: try to avoid voluntary Thread.yield while we hold it
  ocaml/database/db_lock.ml
  ocaml/database/dune
Due: ocaml

CP-49140: [prep]: database: drop unused of_sexp conversions
  ocaml/database/schema.ml
Due: ocaml

CP-49140: [prep] database: use separate types, not string everywhere
  ocaml/database/db_cache_impl.ml
  ocaml/database/db_interface.ml
  ocaml/tests/dune
  ocaml/xapi/dune
Due: ocaml

CP-52744: Thread `TraceContext` as json inside debug_info
  dune-project
  ocaml/libs/tracing/dune
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/xapi-idl/lib/debug_info.ml
  xapi-tracing.opam
Due: ocaml

CP-52744: Update `trace_context` when starting a context span
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/xapi/context.ml
Due: ocaml

Bump up last_known_schema_hash
  ocaml/idl/schematest.ml
Due: ocaml

Update datamodel_lifecycle for pool.license_server
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

Document Xapi's auto-generated modules
  doc/content/xapi/internals/_index.md
  doc/content/xapi/internals/generated.md
Due: none

doc: walkthroughs/VM.start: Update the xenguest chapter (domain build)
  doc/content/xenopsd/walkthroughs/VM.start.md
Due: none

Fixed outdated copyright dates.
  doc/content/xen-api/topics/vm-lifecycle.md
  ocaml/idl/datamodel_pool.ml
  ocaml/sdk-gen/c/README.dist
  ocaml/sdk-gen/csharp/autogen/README.md
  ocaml/sdk-gen/csharp/autogen/src/README-NuGet.md
  ocaml/sdk-gen/csharp/autogen/src/XenServer.csproj
  ocaml/sdk-gen/go/README.md
  ocaml/sdk-gen/java/autogen/xen-api/src/main/resources/README.txt
  ocaml/sdk-gen/powershell/autogen/README.md
  ocaml/sdk-gen/powershell/autogen/README_51.md
  ocaml/sdk-gen/powershell/autogen/XenServerPSModule.psd1
Due: ocaml

CA-405754: Update xapi-storage-script state.db
  ocaml/xapi-storage-script/main.ml
Due: ocaml

CP-53161: Append `baggage` to the env vars list passed by `forkexecd`
  ocaml/libs/tracing/dune
  ocaml/libs/tracing/propagator.ml
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
Due: ocaml

CP-53161: Link traces even when `smapi` component is experimental
  python3/examples/XenAPI/XenAPI.py
Due: python3

CP-53161: `observer.py` adds the `baggage` to `smapi`'s attributes
  python3/packages/observer.py
Due: python3

CP-53161: Pass `baggage` back into `xapi` from `smapi`.
  python3/examples/XenAPI/XenAPI.py
Due: python3

Add Pool_role.is_master benchmarks
  ocaml/tests/bench/bench_cached_reads.ml
  ocaml/tests/bench/dune
Due: ocaml

Optimize fastpath in Pool_role
  ocaml/tests/bench/bench_cached_reads.ml
  ocaml/xapi-aux/pool_role.ml
Due: ocaml

debug traces for is_component_enabled
  ocaml/xapi/xapi_observer_components.ml
Due: ocaml

CP-53470 Rejoin orphaned spans forwarded to xenopsd to their traceparent
  ocaml/xenopsd/lib/xenops_migrate.ml
  ocaml/xenopsd/lib/xenopsd.ml
Due: ocaml

CP-53470 Additional spans in & around the pause section in VM.migrate
  ocaml/xenopsd/lib/xenops_server.ml
  ocaml/xenopsd/lib/xenops_task.ml
  ocaml/xenopsd/xc/device.ml
  ocaml/xenopsd/xc/domain.ml
  ocaml/xenopsd/xc/dune
  ocaml/xenopsd/xc/xenops_server_xen.ml
Due: ocaml

CP-52708: Avoid making Unix read/write calls for internal API calls: forward the API call directly like we do with the CLI for calls to the coordinator when we are the coordinator
  ocaml/xapi/helpers.ml
  ocaml/xapi/xapi.ml
Due: ocaml

CP-52708: make file descriptor argument optional in Server.dispatch_call
  ocaml/idl/ocaml_backend/gen_server.ml
  ocaml/tests/test_client.ml
  ocaml/xapi/api_server.ml
  ocaml/xapi/context.ml
  ocaml/xapi/context.mli
  ocaml/xapi/server.mli
  ocaml/xapi/server_helpers.mli
Due: ocaml

CA-405971: check tgroups_enabled feature flag before classifying threads
  ocaml/xapi/server_helpers.ml
Due: ocaml

CA-405971: avoid calling DB functions when in emergency mode
  ocaml/xapi/server_helpers.ml
Due: ocaml

Hugo docs: Support dark themes: Invert images to match the theme
  doc/layouts/partials/custom-footer.html
  doc/layouts/partials/menu-footer.html
Due: none

Hugo docs: Support dark themes: Fix class reference tables
  doc/assets/css/xenapi.css
Due: none

Hugo docs: Support dark themes: Manual striping is obsolete
  doc/assets/css/misc.css
  doc/layouts/partials/content.html
Due: none

Hugo docs: Allow for quick doc updates using the edit button
  doc/hugo.toml
Due: none

Hugo docs: Give images a very smooth shadow, not a flashy border
  doc/hugo.toml
Due: none

README: Submission: Add DCO, issues & remove the disabled xen-api list
  README.markdown
Due: none

docs/xenopsd: List the child pages using the children shortcode
  doc/content/xenopsd/design/_index.md
  doc/content/xenopsd/walkthroughs/_index.md
Due: none

CA-405820 guard /etc/init.d/functions in xe-toolstack-restart
  scripts/xe-toolstack-restart
Due: none

Use reverse application style
  ocaml/xapi/xapi_event.ml
Due: ocaml

Don't filter for event-related objects every time
  ocaml/xapi/xapi_event.ml
Due: ocaml

Factor out valid_ref_counts computation
  ocaml/xapi/xapi_event.ml
Due: ocaml

Restructure on_session_deleted
  ocaml/xapi/xapi_event.ml
Due: ocaml

Locally open Xapi_stdext_threads_scheduler
  ocaml/xapi/xapi_event.ml
Due: ocaml

Lazily search hash table for match, don't fold
  ocaml/xapi/xapi_event.ml
Due: ocaml

Restructure style of From.add
  ocaml/xapi/xapi_event.ml
Due: ocaml

Reformat record comments
  ocaml/xapi/xapi_event.ml
Due: ocaml
