Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

IH-397: Replace async with lwt in xapi-storage-script
  ocaml/xapi-storage-script/dune
  ocaml/xapi-storage-script/main.ml
Due: ocaml

IH-397: remove all dependencies on async and core
  Makefile
  dune-project
  message-switch-async.opam
  message-switch-async.opam.template
  message-switch.opam
  message-switch.opam.template
  ocaml/message-switch/async/dune
  ocaml/message-switch/async/protocol_async.ml
  ocaml/message-switch/async/protocol_async.mli
  ocaml/message-switch/core_test/async/client_async_main.ml
  ocaml/message-switch/core_test/async/dune
  ocaml/message-switch/core_test/async/server_async_main.ml
  ocaml/message-switch/core_test/basic-rpc-test.sh
  ocaml/message-switch/core_test/dune
  ocaml/xen-api-client/async/dune
  ocaml/xen-api-client/async/xen_api_async_unix.ml
  ocaml/xen-api-client/async/xen_api_async_unix.mli
  ocaml/xen-api-client/async_examples/dune
  ocaml/xen-api-client/async_examples/event_test.ml
  ocaml/xen-api-client/async_examples/list_vms.ml
  quality-gate.sh
  xapi-idl.opam
  xapi-idl.opam.template
  xapi-storage-script.opam
  xapi-storage-script.opam.template
  xen-api-client-async.opam
  xen-api-client-async.opam.template
Due: ocaml

IH-397: remove all core usages from xapi-storage-script
  ocaml/xapi-storage-script/dune
  ocaml/xapi-storage-script/main.ml
Due: ocaml

xapi-storage-script: do not try to daemonize
  ocaml/xapi-storage-script/main.ml
Due: ocaml

xapi-storage-script: Change directory creation
  ocaml/xapi-storage-script/main.ml
Due: ocaml

xapi-storage-script: don't duplicate code from message-switch
  ocaml/xapi-storage-script/main.ml
Due: ocaml

xapi-storage-script: remove custom id
  ocaml/xapi-storage-script/main.ml
Due: ocaml

xapi-storage-script: make conversion functions testable
  ocaml/xapi-storage-script/dune
  ocaml/xapi-storage-script/lib.ml
  ocaml/xapi-storage-script/lib.mli
  ocaml/xapi-storage-script/main.ml
  ocaml/xapi-storage-script/xapi_storage_script_types.ml
  quality-gate.sh
Due: ocaml

CP-48466 Fix ci warnings for usb_scan.py (#5511)
  pyproject.toml
  python3/libexec/usb_scan.py
  python3/unittest/test_usb_scan.py
Due: python3

CP-47653: Fix pylint `unused-variable` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Fix pylint `redefined-outer-name` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Fix pylint `attribute-defined-outside-init` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Fix pylint `unspecified-encoding` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Fix pylint `line-too-long` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Move perfmon.py to python3/bin
  python3/Makefile
  python3/bin/perfmon
  scripts/Makefile
Due: python3

CP-47653: Fix pylint `unused-argument` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Fix pylint `consider-using-in` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Format the script using black and isort tools
  python3/bin/perfmon
Due: python3

CP-47653: py2->py3 for perfmon
  python3/bin/perfmon
Due: python3

CP-47653: Fix pylint `consider-using-with` warnings
  pyproject.toml
  python3/bin/perfmon
Due: python3

CP-47653: Disable some pylint checks
  pyproject.toml
  python3/bin/perfmon
Due: python3

CP-47653: Move pylint disable statements to the specific lines.
  python3/bin/perfmon
Due: python3

CP-47653: Fix pylint `bare-except` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Fix pylint dict related warnings
  python3/bin/perfmon
Due: python3

CP-47653: Fix pylint `raise-missing-from` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Fix exception issues
  python3/bin/perfmon
Due: python3

CP-47653: Apply pytype to the new path
  pyproject.toml
Due: none

CP-47653: Disable pytype `attribute-error` warnings
  python3/bin/perfmon
Due: python3

CP-47653: Fix a minor bug where the variable "in_v_tag" was incorrectly written as "in_t_tag."
  python3/bin/perfmon
Due: python3

CP-47653: Use general exception for not getting data.
  python3/bin/perfmon
Due: python3

CA-390570: Py3 socket.sendto needs bytes instead of a string
  scripts/plugins/perfmon
Due: none

TBD: update the pgpu dom0 access in the PCI methods as well.
  ocaml/xapi/xapi_pci.ml
Due: ocaml

CP-47653: Add unit tests for perfmon
  .github/workflows/main.yml
  python3/bin/perfmon
  python3/unittest/test_nbd_client_manager.py
  python3/unittest/test_perfmon.py
Due: python3

CI configuration change for python unit test coverage
  .codecov.yml
Due: none

TBD: remove code duplication
  ocaml/xapi/xapi_pci.ml
  ocaml/xapi/xapi_pci_helpers.ml
  ocaml/xapi/xapi_pgpu.ml
Due: ocaml

Update ocaml/xapi/xapi_pci_helpers.ml
  ocaml/xapi/xapi_pci_helpers.ml
Due: ocaml

CP-46179 update metadata backup/restore to use deterministic UUID
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CP-46179 use -y (yes) flag to facilitate scripting
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CP-46179 create backup VDI with determinstic UUID
  ocaml/libs/uuid/uuidx.ml
  ocaml/libs/uuid/uuidx.mli
  ocaml/xapi/sm.ml
  ocaml/xapi/sm_exec.ml
  ocaml/xapi/storage_smapiv1.ml
  ocaml/xapi/xapi_vdi.ml
Due: ocaml

CP-46179 improve quoting in shell code
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
