Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

Simplify cases of may_be_side_effecting
  ocaml/idl/ocaml_backend/gen_server.ml
Due: ocaml

Drop count_mandatory_message_parameters
  ocaml/idl/ocaml_backend/gen_server.ml
Due: ocaml

message-switch/unix: reuse stdext's Mutex.lock
  ocaml/message-switch/unix/protocol_unix.ml
  ocaml/message-switch/unix/protocol_unix_scheduler.ml
Due: ocaml

message-switch/unix: Remove module from Cohttp's IO one
  ocaml/message-switch/unix/protocol_unix.ml
Due: ocaml

message-switch/unix: simplify the scheduler
  ocaml/message-switch/unix/dune
  ocaml/message-switch/unix/protocol_unix.ml
  ocaml/message-switch/unix/protocol_unix_scheduler.ml
  ocaml/message-switch/unix/protocol_unix_scheduler.mli
  quality-gate.sh
Due: ocaml

doc/hugo.toml: Use the theme font for mermaid diagrams too
  doc/hugo.toml
Due: none

xenopsd docs: Add Walk-through descriptions, show them on the index page
  doc/content/xenopsd/walkthroughs/VM.migrate.md
  doc/content/xenopsd/walkthroughs/VM.start.md
  doc/content/xenopsd/walkthroughs/_index.md
  doc/content/xenopsd/walkthroughs/live-migration.md
Due: none

docs: Add dedicated walk-throughs for VM.build and xenguest
  doc/content/xenopsd/walkthroughs/VM.build/Domain.build.md
  doc/content/xenopsd/walkthroughs/VM.build/VM_build.md
  doc/content/xenopsd/walkthroughs/VM.build/_index.md
  doc/content/xenopsd/walkthroughs/VM.build/xenguest.md
  doc/content/xenopsd/walkthroughs/VM.start.md
Due: none

python3: Resurrect metrics.py helper script
  python3/Makefile
  python3/libexec/metrics.py
Due: python3

python3: Resurrect a metricsgraph.py helper script
  python3/Makefile
  python3/libexec/metricsgraph.py
Due: python3

xenopsd docs: Fix headings in VM.build/xenguest.md
  doc/content/xenopsd/walkthroughs/VM.build/xenguest.md
Due: none

xenopsd docs: Fix the link on VM.build/VM.build.md to Domain.build.md
  doc/content/xenopsd/walkthroughs/VM.build/VM_build.md
Due: none

xenopsd docs: Fix the build_pre chapter in VM.build/Domain.build.md
  doc/content/xenopsd/walkthroughs/VM.build/Domain.build.md
Due: none

CP-52744: Thread `TraceContext` as json inside debug_info
  dune-project
  ocaml/libs/tracing/dune
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/xapi-idl/lib/debug_info.ml
  xapi-tracing.opam
Due: ocaml

CP-52744: Update `trace_context` when starting a context span
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/xapi/context.ml
Due: ocaml

http-lib: test invalid Accept header
  ocaml/libs/http-lib/http_test.ml
Due: ocaml

CA-406403: Do not return HTTP 500 when Accept header can't be parsed
  ocaml/libs/http-lib/http.mli
  ocaml/xcp-rrdd/bin/rrdd/rrdd_http_handler.ml
Due: ocaml

fix(CI) Coveralls is down for maintenance: do not fail the CI if coveralls is down
  .github/workflows/other.yml
Due: none

Python coverage: continue-on-error -> fail-on-error: false
  .github/workflows/other.yml
Due: none

docs: Update the VM.build flowchart, include it where useful for context
  doc/content/xenopsd/walkthroughs/VM.build/VM_build-chart.md
  doc/content/xenopsd/walkthroughs/VM.build/VM_build.md
  doc/content/xenopsd/walkthroughs/VM.build/_index.md
Due: none

Replace startswith and endswith with stdlib calls
  ocaml/database/parse_db_conf.ml
  ocaml/idl/datamodel_utils.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext_test.ml
  ocaml/mpathalert/mpathalert.ml
  ocaml/quicktest/qt.ml
  ocaml/rrd2csv/src/rrd2csv.ml
  ocaml/xapi/extauth_plugin_ADpbis.ml
  ocaml/xapi/fileserver.ml
  ocaml/xapi/gpg.ml
  ocaml/xapi/import.ml
  ocaml/xapi/nm.ml
  ocaml/xapi/workload_balancing.ml
  ocaml/xapi/xapi_network.ml
  ocaml/xapi/xapi_pif.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_pool_update.ml
  ocaml/xapi/xapi_secret.ml
  ocaml/xapi/xapi_xenops.ml
  ocaml/xe-cli/newcli.ml
Due: ocaml

Domain.build docs: Improve notes on node_affinity, move to new page
  doc/content/lib/_index.md
  doc/content/lib/xenctrl/_index.md
  doc/content/lib/xenctrl/xc_domain_node_setaffinity.md
  doc/content/xenopsd/walkthroughs/VM.build/Domain.build.md
Due: none

(CI) Use the default setup-python action again (2.7 is obsoleted)
  .github/workflows/other.yml
Due: none

(doc) xenopsd/walkthroughs/VM.migrate.md: Fix typos and spelling
  doc/content/xenopsd/walkthroughs/VM.migrate.md
  doc/content/xenopsd/walkthroughs/VM.start.md
Due: none

Remove mutable last_generation from Xapi_event
  ocaml/xapi/xapi_event.ml
Due: ocaml

Use records when accumulating events
  ocaml/xapi/xapi_event.ml
Due: ocaml

Factor out event reification
  ocaml/xapi/xapi_event.ml
Due: ocaml

(docs) VM.migrate.md: Rephrase and simplify, improve readability
  doc/content/xenopsd/walkthroughs/VM.migrate.md
  doc/content/xenopsd/walkthroughs/VM.start.md
  doc/content/xenopsd/walkthroughs/live-migration.md
Due: none

(docs) Improve two page titles to improve search results
  doc/content/squeezed/architecture/index.md
  doc/content/xenopsd/architecture/_index.md
Due: none

Design proposal for supported image formats
  doc/content/design/sm-supported-image-formats.md
Due: none

Use record type for individual event entries
  ocaml/xapi/xapi_event.ml
Due: ocaml

fixup! Design proposal for supported image formats
  doc/content/design/sm-supported-image-formats.md
Due: none

CP-53313: Add field services in VM_guest_metrics
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_common.ml
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/schematest.ml
  ocaml/xapi-cli-server/records.ml
  ocaml/xapi/import.ml
  ocaml/xapi/xapi_guest_agent.ml
  ocaml/xapi/xapi_vm_helpers.ml
Due: ocaml

Update datamodel_lifecycle for easier pool join.
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

Code refine.
  ocaml/xapi/xapi_pool.ml
Due: ocaml

CA-403867: Block pool join if IP not configured on cluster network
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

CA-403744: Implement other_config operations
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/schematest.ml
  ocaml/xapi/rbac.ml
  ocaml/xapi/rbac.mli
  ocaml/xapi/xapi_task.ml
Due: ocaml

CP-45795: Decompress compressed trace files without Forkexecd
  ocaml/xs-trace/xs_trace.ml
Due: ocaml

CP-53362: Rename hcp_nss to nss_override_id
  python3/plugins/extauth-hook-AD.py
  python3/tests/test_extauth_hook_AD.py
Due: python3
