Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

CP-49647 use URI for create_misc
  ocaml/xapi/create_misc.ml
Due: ocaml

CP-45235: Support for `xe-cli` to transmit `traceparent`
  ocaml/xapi-cli-server/xapi_cli.ml
  ocaml/xe-cli/newcli.ml
Due: ocaml

doc: add design review links (historical)
  doc/layouts/partials/content-header.html
Due: none

doc: RDP design: fix list nesting
  doc/content/design/RDP.md
Due: none

CP-48995: Instrument `XenAPI.py` to submit traceparent
  python3/packages/observer.py
  scripts/examples/python/XenAPI/XenAPI.py
Due: python3

CP-47869: Modified code using 2to3 /ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/volume.py
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/volume.py
Due: ocaml

CP-47869: Changed shebang to python3 /ocaml/xapi-storage/python/xapi/storage/__init__.py
  ocaml/xapi-storage/python/xapi/storage/__init__.py
Due: ocaml

CP-47869: Changed shebang to python3 /ocaml/xapi-storage/python/xapi/storage/api/v5/__init__.py
  ocaml/xapi-storage/python/xapi/storage/api/v5/__init__.py
Due: ocaml

CP-47869: Changed shebang to python3 ocaml/xapi-storage/python/xapi/storage/api/__init__.py
  ocaml/xapi-storage/python/xapi/storage/api/__init__.py
Due: ocaml

CP-47869: Replaced <> with != to support python3 /scripts/examples/python/provision.py
  scripts/examples/python/provision.py
Due: none

CP-47869: Fixed No attribute 'server' on module 'xmlrpc.client' [module-attr] in /scripts/examples/python/mini-xenrt.py
  scripts/examples/python/mini-xenrt.py
Due: none

CP-47869: Modified to python3 /ocaml/xapi-storage/python/Makefile
  ocaml/xapi-storage/python/Makefile
Due: ocaml

CP-47869: Changed shebang to python3 /ocaml/xapi-storage/python/xapi/storage/common.py
  ocaml/xapi-storage/python/xapi/storage/common.py
Due: ocaml

CP-47869: Updated to python3 .github/workflows/setup-xapi-environment/action.yml
  .github/workflows/setup-xapi-environment/action.yml
Due: none

CP-47869: Modified code using 2to3 /ocaml/xapi-storage/python/xapi/__init__.py
  ocaml/xapi-storage/python/xapi/__init__.py
Due: ocaml

CP-47869: removed smapiv2.py and mini-xenrt.py from expected_to_fail in pyproject.toml
  pyproject.toml
Due: none

CP-47869: fixed Name 'FilenotFoundError' is not defined [name-error] in scripts/examples/smapiv2.py
  scripts/examples/smapiv2.py
Due: none

CP-49768: Update GO SDK README file
  ocaml/sdk-gen/README.md
  ocaml/sdk-gen/go/README.md
Due: ocaml

Update datamodel_lifecycle.ml
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

CP-49768: Update GO SDK README file (#5671)
  ocaml/sdk-gen/README.md
  ocaml/sdk-gen/go/README.md
Due: ocaml

CP-49249: Implement SMAPIv3 CBT Forwarding
  ocaml/xapi-storage-script/main.ml
Due: ocaml

CA-393866: Add support for Infinity in Java SDK parser
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
Due: ocaml

CA-393507: Default cluster_stack value
  ocaml/xapi-idl/cluster/cluster_interface.ml
Due: ocaml

Remove fix_firewall.sh
  scripts/Makefile
  scripts/fix_firewall.sh
Due: none

CI/coverage: Fix addopts, migrate away from pytest-cov
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Revert "CP-47869: Modified code using 2to3 /ocaml/xapi-storage/python/xapi/__init__.py"
  ocaml/xapi-storage/python/xapi/__init__.py
Due: ocaml

CP-47869: Changed shebang to python3 /ocaml/xapi-storage/python/xapi/__init__.py
  ocaml/xapi-storage/python/xapi/__init__.py
Due: ocaml

CP-47869: Fix pylint reimport issue ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/sr.py
  ocaml/xapi-storage/python/examples/volume/org.xen.xapi.storage.simple-file/sr.py
Due: ocaml

CA-393119: Don't use HTTPS for localhost migrations
  ocaml/xapi/xapi_vm_migrate.ml
Due: ocaml

CP-49828: Remove iovirt script
  scripts/Makefile
  scripts/plugins/iovirt
Due: none

CP-49858: Fix phrasing in readme
  ocaml/sdk-gen/go/README.md
Due: ocaml

CP-47869: Deleted message_switch.py ocaml/message-switch/python/message_switch.py
  ocaml/message-switch/python/message_switch.py
Due: ocaml

CP-47869: Removed message_switch_test.py ocaml/message-switch/core_test
  ocaml/message-switch/core_test/message_switch_test.py
Due: ocaml

CP-47869: Removed rrdd-example.py ocaml/xcp-rrdd/scripts/rrdd/
  ocaml/xcp-rrdd/scripts/rrdd/rrdd-example.py
Due: ocaml

CP-47869: Removed has_vendor_device_test.py ocaml/tests/
  ocaml/tests/has_vendor_device_test.py
Due: ocaml

CP-47869: Removed mtcerrno-to-ocaml.py scripts/
  scripts/mtcerrno-to-ocaml.py
Due: none

CP-47869: Removed hatests from scripts/
  scripts/hatests
Due: none

CP-47869: Removed time-vm-boots.py from scripts/
  scripts/time-vm-boots.py
Due: none

CP-47869: Removed debian from scripts/templates/
  scripts/templates/debian
Due: none

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
