Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

github: restrict workflow permissions
  .github/workflows/1.249-lcm.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/hugo.yml
  .github/workflows/main.yml
  .github/workflows/other.yml
  .github/workflows/release.yml
  .github/workflows/shellcheck.yaml
Due: none

fixup! CP-53161: `observer.py` adds the `baggage` to `smapi`'s attributes
  python3/packages/observer.py
Due: python3

stdext: replace all ignore_type with annotated ignores
  ocaml/database/block_device_io.ml
  ocaml/libs/stunnel/stunnel.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-pervasives/pervasiveext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-pervasives/pervasiveext.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.ml
  ocaml/rrd2csv/src/rrd2csv.ml
  ocaml/xapi/repository_helpers.ml
  ocaml/xapi/xapi_host.ml
  ocaml/xapi/xapi_vdi_helpers.ml
  ocaml/xcp-rrdd/bin/rrdd/xcp_rrdd.ml
Due: ocaml

xapi_vdi_helpers: actually write raw vdi when possible
  ocaml/xapi/xapi_vdi_helpers.ml
Due: ocaml

Fix review comments and add unit test for guest_agent
  ocaml/tests/test_guest_agent.ml
  ocaml/xapi/xapi_guest_agent.ml
  ocaml/xenopsd/xc/xenops_server_xen.ml
Due: ocaml

Design proposal for supported image formats
  doc/content/design/sm-supported-image-formats.md
Due: none

(docs) Describe the flows of setting NUMA node affinity in Xen by Xenopsd
  doc/content/lib/xenctrl/xc_domain_node_setaffinity.md
  doc/content/lib/xenctrl/xc_vcpu_setaffinity-simplified.md
  doc/content/lib/xenctrl/xc_vcpu_setaffinity-xenopsd-notes.md
  doc/content/lib/xenctrl/xc_vcpu_setaffinity-xenopsd.md
  doc/content/lib/xenctrl/xc_vcpu_setaffinity.md
Due: none

CP-53161: `observer.py` adds the `baggage` to `smapi`'s attributes
  python3/packages/observer.py
Due: python3

CP-53161: Pass `baggage` back into `xapi` from `smapi`.
  python3/examples/XenAPI/XenAPI.py
Due: python3

CP-53779: Guard all `Tgroup` library call behind `tgroups-enabaled`
  ocaml/xapi-consts/constants.ml
  ocaml/xapi/server_helpers.ml
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_session.ml
Due: ocaml

CA-399631: Increase the max size of xcp-rrdd-plugins for bug-tool
  ocaml/xcp-rrdd/bugtool-plugin/rrdd-plugins.xml
Due: ocaml

fixup! CP-53747 document PEM/Certificate relation
  doc/content/xapi/internals/certificates.md
Due: none

CP-49147: Reduce size of the pool record (uefi_certificates)
  ocaml/idl/datamodel_common.ml
  ocaml/idl/datamodel_pool.ml
  ocaml/idl/json_backend/gen_json.ml
  ocaml/idl/schematest.ml
  ocaml/xapi/helpers.ml
  ocaml/xapi/xapi_host.ml
Due: ocaml

[maintenance] blkgetsize64: avoid warning about uninit value
  ocaml/libs/vhd/vhd_format_lwt/blkgetsize64_stubs.c
Due: ocaml

[maintenance] syslog_stubs.c: avoid using reserved identifier names
  ocaml/libs/log/syslog_stubs.c
Due: ocaml

unixpwd.c: fix error path file descriptor leak
  unixpwd/c/unixpwd.c
Due: none

[maintenance] xa_auth.h: avoid using reserved macro names
  ocaml/auth/xa_auth.h
Due: ocaml

CI: add a codechecker workflow
  .codechecker.json
  .github/workflows/codechecker.yml
  Makefile
Due: none

CP-52880: Use a Set instead of a list for checking VDI operations
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_vdi.ml
Due: ocaml

CP-52880: Avoid O(N^2) behaviour in Xapi_vdi.update_allowed_operations
  ocaml/xapi/xapi_vdi.ml
Due: ocaml

CP-52880: benchmark for Xapi_vdi.update_allowed_operations
  ocaml/tests/bench/bench_vdi_allowed_operations.ml
  ocaml/tests/bench/dune
Due: ocaml

CP-52880: optimize List manipulation
  ocaml/xapi/cancel_tasks.ml
  ocaml/xapi/xapi_vdi.ml
  ocaml/xapi/xapi_vdi.mli
Due: ocaml

CP-52880: change order of short-circuited boolean operator argument
  ocaml/xapi/xapi_vdi.ml
Due: ocaml

CA-405864: Drop usage of init.d functions
  ocaml/squeezed/scripts/init.d-squeezed
  ocaml/xcp-rrdd/bin/rrdp-scripts/rrdd-plugins-init
  scripts/Makefile
  scripts/attach-static-vdis
  scripts/on-master-start
  scripts/save-boot-info
  scripts/xapi-init
  scripts/xe-toolstack-restart
Due: ocaml

CP-53747 document PEM/Certificate relation
  doc/content/xapi/internals/certificates.md
Due: none

c_stubs: use 'new' acquire and release runtime functions
  ocaml/auth/xa_auth_stubs.c
  ocaml/libs/log/syslog_stubs.c
  ocaml/libs/vhd/vhd_format_lwt/blkgetsize64_stubs.c
  ocaml/libs/vhd/vhd_format_lwt/lseek64_stubs.c
  ocaml/libs/vhd/vhd_format_lwt/odirect_stubs.c
  ocaml/vhd-tool/src/direct_copy_stubs.c
  ocaml/xenopsd/c_stubs/xenctrlext_stubs.c
Due: ocaml

Hoist value access outside section without lock
  ocaml/auth/xa_auth_stubs.c
Due: ocaml

CA-407370: Use remote.conf for customer rsyslog forwarding rules
  scripts/xe-syslog-reconfigure
Due: none

(doc) Describe how xc_domain_claim_pages() is used to claim pages
  doc/content/lib/xenctrl/xc_domain_claim_pages.md
Due: none

CA-407564: Reintroduce try/with in Xapi_event
  ocaml/xapi/xapi_event.ml
Due: ocaml

CA-403851 expose Xapi_mgmt_iface.Server.stop ()
  ocaml/xapi/xapi_mgmt_iface.ml
  ocaml/xapi/xapi_mgmt_iface.mli
Due: ocaml

CA-403851 stop management server in Pool.eject ()
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Revert: Refactor Xapi_event #6306
  ocaml/xapi/xapi_event.ml
Due: ocaml

CA-407687/XSI-1834: get_subject_information_from_identifier should query xapi db, then fallback to query domain DC
  ocaml/xapi/xapi_auth.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_subject.ml
Due: ocaml

Update last_known_schema_hash and datamodel lifecycle
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/schematest.ml
Due: ocaml

CA-407687/XSI-1834: get_subject_information_from_identifier should query xapi db, then fallback to query domain DC
  ocaml/xapi/extauth.ml
  ocaml/xapi/xapi_auth.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_subject.ml
Due: ocaml
