Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

storage_access: avoid the addition of multiple SM with the same type
  ocaml/xapi/storage_access.ml
Due: ocaml

storage_access: split the code off that queries message switch for SMAPIv2 plugins
  ocaml/xapi/storage_access.ml
Due: ocaml

listext: add better description to set_difference
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/listext.mli
Due: ocaml

storage_access: share code for unregistering plugins
  ocaml/xapi/storage_access.ml
Due: ocaml

xapi_sm: Don't allow host_pending_features that are empty
  ocaml/xapi/xapi_sm.ml
Due: ocaml

xapi_sm: add interface
  ocaml/xapi/xapi_sm.ml
  ocaml/xapi/xapi_sm.mli
  quality-gate.sh
Due: ocaml

storage_access: log when there are SM duplicates on startup
  ocaml/xapi/storage_access.ml
Due: ocaml

xe-reset-networking: Update the messages and fix the logic
  python3/bin/xe-reset-networking
Due: python3

CA-414586 add message-limit to xapi.conf
  scripts/xapi.conf
Due: none

CP-311169: samba: include /etc/samba/smb.extra.conf
  ocaml/xapi/extauth_plugin_ADwinbind.ml
Due: ocaml

[doc] Update how to handle trusted certificates when pool.join
  doc/content/design/pool-certificates.md
  doc/content/design/trusted-certificates.md
Due: none

stunnel: add doccoments to the configuration functions
  ocaml/libs/stunnel/stunnel_client.mli
Due: ocaml

Add comment documenting the 'world' stunnel config
  ocaml/libs/stunnel/stunnel_client.mli
Due: ocaml

fixup! [doc] Update how to handle trusted certificates when pool.join
  doc/content/design/pool-certificates.md
Due: none

fixup! fixup! [doc] Update how to handle trusted certificates when pool.join
  doc/content/design/pool-certificates.md
Due: none

fixup! fixup! fixup! [doc] Update how to handle trusted certificates when pool.join
  doc/content/design/pool-certificates.md
Due: none

fixup! fixup! fixup! fixup! [doc] Update how to handle trusted certificates when pool.join
  doc/content/design/pool-certificates.md
Due: none

fixup! fixup! fixup! fixup! fixup! [doc] Update how to handle trusted certificates when pool.join
  doc/content/design/pool-certificates.md
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! [doc] Update how to handle trusted certificates when pool.join
  doc/content/design/pool-certificates.md
Due: none

fixup! fixup! fixup! fixup! fixup! fixup! fixup! [doc] Update how to handle trusted certificates when pool.join
  doc/content/design/pool-certificates.md
Due: none

Update ocaml-version from 5.3.0 to 5.4.0
  .github/workflows/main.yml
Due: none

Don't block switching to a different edition when HA is enabled
  ocaml/xapi/xapi_host.ml
Due: ocaml

xe-reset-networking: allow the user to perform a network reset without renaming the interface
  python3/bin/xe-reset-networking
Due: python3

CP-423204: add new xenctrl field claimed to xenctrlext
  ocaml/libs/xenctrl-ext/xenctrlext.ml
  ocaml/libs/xenctrl-ext/xenctrlext.mli
  ocaml/libs/xenctrl-ext/xenctrlext_stubs.c
Due: ocaml

CP-423204: use new xenctrlext field node_meminfo.claimed
  ocaml/xenopsd/xc/domain.ml
Due: ocaml

CP-423204: use new xenctrlext function HostNuma.numa_get_meminfo
  ocaml/libs/xenctrl-ext/xenctrlext.ml
  ocaml/xenopsd/xc/numa.ml
Due: ocaml

CP-311020: ldaps design: declare error codes
  doc/content/design/external-auth-ldaps.md
Due: none

CA-375277: xenctrlext_stubs.c: release OCaml runtime when calling xc_*
  ocaml/libs/xenctrl-ext/xenctrlext_stubs.c
Due: ocaml

CA-375277: reformat C code
  ocaml/libs/xenctrl-ext/xenctrlext_stubs.c
Due: ocaml

CA-423369: fix suspend-SR space check
  ocaml/xapi/helpers.ml
  ocaml/xapi/xapi_xenops.ml
Due: ocaml

CP-310090 Stunnel lib: Expose unix socket path for TLS proxy
  ocaml/libs/stunnel/stunnel.ml
  ocaml/libs/stunnel/stunnel.mli
  ocaml/libs/stunnel/stunnel_client.ml
  ocaml/libs/stunnel/stunnel_error.ml
  ocaml/libs/stunnel/stunnel_error.mli
Due: ocaml

Improve certificate_verity errors
  ocaml/libs/stunnel/stunnel.ml
Due: ocaml

Support check stunnel log with a assigned position
  ocaml/libs/stunnel/stunnel.ml
  ocaml/libs/stunnel/stunnel.mli
  ocaml/libs/stunnel/stunnel_log_scanner.ml
  ocaml/libs/stunnel/stunnel_log_scanner.mli
Due: ocaml

Add unit test for stunnel_log_scanner
  ocaml/libs/stunnel/test/data/certificate_expired.log
  ocaml/libs/stunnel/test/data/certificate_self_signed.log
  ocaml/libs/stunnel/test/data/configuration_failed.log
  ocaml/libs/stunnel/test/data/connection_refused.log
  ocaml/libs/stunnel/test/data/no_host_resolved.log
  ocaml/libs/stunnel/test/data/subject_checks_failed.log
  ocaml/libs/stunnel/test/data/successful_connection.log
  ocaml/libs/stunnel/test/dune
  ocaml/libs/stunnel/test/test_stunnel_log_scanner.ml
  ocaml/libs/stunnel/test/test_stunnel_log_scanner.mli
Due: ocaml

idl: bump the minor datamodel version for the 9.0 release
  ocaml/idl/datamodel_common.ml
Due: ocaml

bucket-table: Hard-code key data structure
  ocaml/libs/rate-limit/bucket_table.ml
  ocaml/libs/rate-limit/bucket_table.mli
  ocaml/libs/rate-limit/test/test_bucket_table.ml
  ocaml/xapi/server_helpers.ml
  ocaml/xapi/xapi_http.ml
  ocaml/xapi/xapi_rate_limit.ml
  ocaml/xapi/xapi_rate_limit.mli
Due: ocaml

rate-limit: Add lru-cache module
  ocaml/libs/rate-limit/lru.ml
  ocaml/libs/rate-limit/lru.mli
  ocaml/libs/rate-limit/test/dune
  ocaml/libs/rate-limit/test/test_lru.ml
  ocaml/libs/rate-limit/test/test_lru.mli
Due: ocaml

rate-limit: Implement wildcard indexing for clients
  ocaml/libs/rate-limit/bucket_table.ml
  ocaml/libs/rate-limit/bucket_table.mli
  ocaml/libs/rate-limit/test/test_bucket_table.ml
Due: ocaml

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
