Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

CA-391651 - docs: Update RRD design pages
  doc/content/design/plugin-protocol-v2.md
  doc/content/xcp-rrdd/design/plugin-protocol-v2.md
Due: none

CA-399396: Adjust the jemalloc parameters for memory performance
  ocaml/xenopsd/scripts/qemu-wrapper
  scripts/xapi-nbd.service
  scripts/xcp-networkd.service
  scripts/xcp-rrdd.service
Due: ocaml

CP-52039: Drop Semaphore from Xapi_stdext_threads
  ocaml/libs/http-lib/http_svr.ml
  ocaml/libs/http-lib/server_io.ml
  ocaml/libs/http-lib/server_io.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/semaphore.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/semaphore.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/threadext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/threadext.mli
  ocaml/networkd/lib/network_utils.ml
  ocaml/xapi-aux/throttle.ml
  ocaml/xapi/xapi_sr.ml
Due: ocaml

CA-400560: Fix version segment division error
  ocaml/tests/test_rpm.ml
  ocaml/xapi/rpm.ml
Due: ocaml

Do not include xapi-clusterd.service in toolstack.target
  scripts/toolstack.target
Due: none

Remove xapi-clusterd.service from toolstack.target
  scripts/toolstack.target
Due: none

CP-51836: Restrict/check binary_url of remote_pool repository
  ocaml/xapi-consts/constants.ml
  ocaml/xapi/repository.ml
  ocaml/xapi/repository_helpers.ml
Due: ocaml

CP-51836: UT for restrict/check binary_url
  ocaml/tests/test_repository.ml
Due: ocaml

CA-401324: Update pvsproxy socket location
  ocaml/networkd/bin/network_server.ml
Due: ocaml

CA-400560: Support tilde in RPM version/release comparison
  ocaml/tests/test_rpm.ml
  ocaml/xapi/rpm.ml
Due: ocaml

CA-401404: Only check previous active service status
  scripts/xe-toolstack-restart
Due: none

CP-51391: Implement handling for /repository/enabled
  ocaml/idl/datamodel.ml
  ocaml/xapi/repository.ml
  ocaml/xapi/repository.mli
  ocaml/xapi/xapi.ml
Due: ocaml

CA-401242: avoid long-running, idle connections on VDI.pool_migrate
  ocaml/xapi/message_forwarding.ml
Due: ocaml

xapi_vdi: replaces nested if-elses with monadic Result
  ocaml/tests/test_vdi_allowed_operations.ml
  ocaml/xapi/xapi_vdi.ml
  ocaml/xapi/xapi_vdi.mli
Due: ocaml

datamodel: Add all VDI operations to the SR operations variant
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_common.ml
  ocaml/idl/schematest.ml
  ocaml/tests/record_util/old_record_util.ml
  ocaml/xapi-cli-server/record_util.ml
Due: ocaml

CA-401242: avoid long-running, idle connections on VDI.pool_migrate, backport
  ocaml/xapi/message_forwarding.ml
Due: ocaml

CA-401498: Fix test_systemd occasional timeout
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/test_systemd.t
Due: ocaml

CA-399629: make daily-license-check aware of never
  ocaml/license/daily_license_check.ml
  ocaml/tests/alerts/test_daily_license_check.ml
Due: ocaml

license_check: update the concept of "never"
  ocaml/xapi/license_check.ml
Due: ocaml

license_check: clean up interface
  ocaml/tests/test_pool_license.ml
  ocaml/xapi/license_check.ml
  ocaml/xapi/license_check.mli
  ocaml/xapi/xapi_pool.ml
Due: ocaml

daily_license_check: Do not use floats for handling time
  ocaml/license/daily_license_check.ml
  ocaml/license/daily_license_check_main.ml
  ocaml/license/dune
  ocaml/tests/alerts/test_daily_license_check.ml
Due: ocaml

CA-399629: adopt previous commit to yangtze
  ocaml/license/daily_license_check.ml
Due: ocaml

CA-400060: Reject pool join if sm features mismatch
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

CA-400060: Introduce new field for sm class
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_common.ml
  ocaml/idl/datamodel_lifecycle.ml
  ocaml/idl/schematest.ml
  ocaml/sdk-gen/csharp/gen_csharp_binding.ml
  ocaml/tests/common/test_common.ml
Due: ocaml

CA-400060: Sm feature intersection
  ocaml/tests/test_sm_features.ml
  ocaml/xapi/dbsync_master.ml
  ocaml/xapi/dbsync_slave.ml
  ocaml/xapi/smint.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_sm.ml
Due: ocaml

Document Rbac module
  ocaml/xapi/rbac.ml
  ocaml/xapi/rbac.mli
  quality-gate.sh
Due: ocaml

CP-51988: Fix functions not work for remote_pool repo
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

CP-51988: UT for fix functions not work for remote_pool repo
  ocaml/tests/test_pool_repository.ml
Due: ocaml

fixup! CP-51680: C bindings for `pthread_setname_np` and `pthread_getname_np`
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/pthread_stubs.c
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/threadext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/threadext.mli
Due: ocaml

Increase wait-init-complete timeout
  scripts/xapi-wait-init-complete.service
Due: none

Update repository.binary_url description
  ocaml/idl/datamodel_repository.ml
Due: ocaml

CP-52245: Temp disable repo_gpgcheck when syncing from remote_pool repo
  ocaml/xapi/repository.ml
Due: ocaml

CP-50787 CP-51347: Support pool.sync_updates from remote_pool repo
  ocaml/idl/datamodel_errors.ml
  ocaml/idl/datamodel_pool.ml
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/helpers.ml
  ocaml/xapi/pool_periodic_update_sync.ml
  ocaml/xapi/repository.ml
  ocaml/xapi/repository.mli
  ocaml/xapi/repository_helpers.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_pool.mli
  python3/dnf_plugins/ptoken.py
  python3/dnf_plugins/xapitoken.py
  python3/tests/test_dnf_plugins.py
  scripts/Makefile
  scripts/yum-plugins/accesstoken.py
  scripts/yum-plugins/ptoken.py
  scripts/yum-plugins/xapitoken.conf
  scripts/yum-plugins/xapitoken.py
Due: ocaml, python3

CP-51694: Add testing of Go date deserialization
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/go-ci/action.yml
  ocaml/sdk-gen/go/autogen/src/convert_test.go
  ocaml/sdk-gen/go/autogen/src/export_test.go
Due: ocaml

Set non-UTC timezone for date time unit test runners
  .github/workflows/generate-and-build-sdks.yml
Due: none

message-switch: remove unused configure
  ocaml/message-switch/configure
  ocaml/message-switch/configure.ml
  ocaml/message-switch/dune
  quality-gate.sh
Due: ocaml

Adapt `firewall-port` to IPv6
  scripts/plugins/firewall-port
Due: none

Fix parsing of timezone agnostic date strings in Java deserializer
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/CustomDateDeserializer.java
Due: ocaml

Ensure C# date tests work when running under any timezone
  ocaml/sdk-gen/csharp/autogen/XenServerTest/DateTimeTests.cs
Due: ocaml

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
