Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

test_observer.py: Add setUp() and tearDown() of mock modules
  python3/tests/test_observer.py
Due: none

ci: remove warnings about outdated node versions
  .github/workflows/1.249-lcm.yml
  .github/workflows/docs.yml
  .github/workflows/hugo.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

pyproject.toml update settings for pytest etc for running CI locally
  pyproject.toml
Due: none

ci: install observer.py dependencies
  .github/workflows/main.yml
Due: none

fixup! scripts/xentrace: detect host CPU spikes and dump xentrace
  scripts/xe-xentrace
Due: none

opam: delete xapi-stdext package
  Makefile
  dune-project
  xapi-stdext.opam
Due: none

opam: create package xapi-tracing-export
  dune-project
  ocaml/libs/tracing/dune
  ocaml/xenopsd/lib/dune
  xapi-tracing-export.opam
Due: ocaml

opam: fix xapi-squeezed metadata
  xapi-squeezed.opam
  xapi-squeezed.opam.template
Due: none

datamodel_lifecycle: bump
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

IH-533: Remove usage of forkexecd daemon to execute processes
  Makefile
  ocaml/forkexecd/helper/.gitignore
  ocaml/forkexecd/helper/Makefile
  ocaml/forkexecd/helper/syslogger.c
  ocaml/forkexecd/lib/.gitignore
  ocaml/forkexecd/lib/Makefile
  ocaml/forkexecd/lib/close_from.c
  ocaml/forkexecd/lib/close_from.h
  ocaml/forkexecd/lib/dune
  ocaml/forkexecd/lib/fe_stubs.c
  ocaml/forkexecd/lib/fe_stubs_algo_fuzzer.c
  ocaml/forkexecd/lib/fe_stubs_redirect_algo.h
  ocaml/forkexecd/lib/forkhelpers.ml
  ocaml/forkexecd/lib/logs.c
  ocaml/forkexecd/lib/logs.h
  ocaml/libs/stunnel/stunnel.ml
Due: ocaml

CA-391859: Failed to stop varstord-guard
  scripts/xe-toolstack-restart
Due: none

CP-48777 Set up Github action Go container and set up JSON-RPC https server
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/golang-ct/action.yml
  .github/workflows/sdk-ci/action.yml
  ocaml/sdk-gen/tests/Dockerfile
  ocaml/sdk-gen/tests/docker-compose.yml
  ocaml/sdk-gen/tests/jsonrpc-client/go/client.go
  ocaml/sdk-gen/tests/jsonrpc-server/server.py
  ocaml/sdk-gen/tests/spec/session.json
Due: ocaml

Exposed methods to fetch the methods available in the API.
  ocaml/sdk-gen/csharp/autogen/src/Session.cs
  ocaml/sdk-gen/csharp/templates/JsonRpcClient.mustache
Due: ocaml

The github workflow artifacts for C contained unnecessary files.
  .github/workflows/generate-and-build-sdks.yml
Due: none

CP-48667: GO SDK part 2
  ocaml/sdk-gen/go/README.md
  ocaml/sdk-gen/go/autogen/src/go.mod
  ocaml/sdk-gen/go/autogen/src/jsonrpc_client.go
  ocaml/sdk-gen/go/templates/APIErrors.mustache
  ocaml/sdk-gen/go/templates/APIMessages.mustache
  ocaml/sdk-gen/go/templates/APIVersions.mustache
  ocaml/sdk-gen/go/templates/ConvertBatch.mustache
  ocaml/sdk-gen/go/templates/ConvertEnum.mustache
  ocaml/sdk-gen/go/templates/ConvertFloat.mustache
  ocaml/sdk-gen/go/templates/ConvertInt.mustache
  ocaml/sdk-gen/go/templates/ConvertInterface.mustache
  ocaml/sdk-gen/go/templates/ConvertMap.mustache
  ocaml/sdk-gen/go/templates/ConvertOption.mustache
  ocaml/sdk-gen/go/templates/ConvertRecord.mustache
  ocaml/sdk-gen/go/templates/ConvertRef.mustache
  ocaml/sdk-gen/go/templates/ConvertSet.mustache
  ocaml/sdk-gen/go/templates/ConvertSimpleType.mustache
  ocaml/sdk-gen/go/templates/ConvertTime.mustache
  ocaml/sdk-gen/go/templates/Methods.mustache
  ocaml/sdk-gen/go/templates/Option.mustache
  ocaml/sdk-gen/go/templates/Record.mustache
Due: ocaml

CP-48667: adjust generated json for templates changed
  ocaml/sdk-gen/go/gen_go_helper.ml
  ocaml/sdk-gen/go/test_data/api_errors.go
  ocaml/sdk-gen/go/test_data/api_messages.go
  ocaml/sdk-gen/go/test_data/record.go
  ocaml/sdk-gen/go/test_gen_go.ml
Due: ocaml

CP-47354: Generate messages functions Golang code for all classes
  ocaml/sdk-gen/go/gen_go_binding.ml
  ocaml/sdk-gen/go/gen_go_helper.ml
  ocaml/sdk-gen/go/test_data/methods.go
  ocaml/sdk-gen/go/test_gen_go.ml
Due: ocaml

CP-47356: Support backwards capability for Go SDK
  ocaml/sdk-gen/go/gen_go_helper.ml
Due: ocaml

python3/unittest: Replace import_file with import_helper
  python3/__init__.py
  python3/tests/test_observer.py
  python3/tests/test_usb_reset_mount.py
  python3/unittest/import_file.py
  python3/unittest/test_hfx_filename.py
  python3/unittest/test_nbd_client_manager.py
  python3/unittest/test_perfmon.py
  python3/unittest/test_usb_scan.py
Due: python3

CP-48855: fix go lint var-naming warnings
  ocaml/sdk-gen/go/gen_go_helper.ml
Due: ocaml

CP-47358: Generate Convert functions Go code
  ocaml/sdk-gen/go/gen_go_binding.ml
  ocaml/sdk-gen/go/gen_go_helper.ml
  ocaml/sdk-gen/go/gen_go_helper.mli
  ocaml/sdk-gen/go/test_data/batch.go
  ocaml/sdk-gen/go/test_data/enum_convert.go
  ocaml/sdk-gen/go/test_data/float.go
  ocaml/sdk-gen/go/test_data/int.go
  ocaml/sdk-gen/go/test_data/interface.go
  ocaml/sdk-gen/go/test_data/map.go
  ocaml/sdk-gen/go/test_data/option.go
  ocaml/sdk-gen/go/test_data/record_convert.go
  ocaml/sdk-gen/go/test_data/ref.go
  ocaml/sdk-gen/go/test_data/set.go
  ocaml/sdk-gen/go/test_data/simple_type.go
  ocaml/sdk-gen/go/test_data/time.go
  ocaml/sdk-gen/go/test_gen_go.ml
Due: ocaml

CP-47302: VM start with anti-affinity
  ocaml/xapi/xapi_vm_helpers.ml
Due: ocaml

CI: update to Ubuntu 22.04
  .github/workflows/main.yml
  .github/workflows/setup-xapi-environment/action.yml
Due: none

ci(nopin): pinning is very slow and not necessary
  .github/workflows/cleanup-xapi-environment/action.yml
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/main.yml
  .github/workflows/setup-xapi-environment/action.yml
Due: none

ci(opam-dune-cache): cache dune builds from opam
  .github/workflows/setup-xapi-environment/action.yml
Due: none

ci(norm): we have enough space now
  .github/workflows/setup-xapi-environment/action.yml
Due: none

ci: separate workflows
  .github/workflows/main.yml
  .github/workflows/other.yml
Due: none

Update README with different build instructions
  README.markdown
Due: none

CP-47302: UT for VM start with anti-affinity
  ocaml/tests/test_vm_helpers.ml
Due: ocaml

ci: trim dune cache
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/main.yml
Due: none

Address multiple review comments
  ocaml/forkexecd/lib/fe_stubs.c
  ocaml/forkexecd/lib/logs.c
Due: ocaml

Report first error setting up file descriptors
  ocaml/forkexecd/lib/fe_stubs.c
Due: ocaml

Close file before exiting forward_to_syslog
  ocaml/forkexecd/helper/syslogger.c
Due: ocaml

Removed header because it does not look good on github.
  ocaml/doc/basics.md
  ocaml/doc/vm-lifecycle.md
  ocaml/doc/wire-protocol.md
  ocaml/idl/autogen/api-ref-autogen.md
Due: ocaml

Rewrite fail function to support format and argument
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

Use fail instead of failwith if possible
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

Fix file descriptor leak in case safe_close_and_exec fails
  ocaml/forkexecd/lib/forkhelpers.ml
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

Use /proc/self instead of /proc/%d and pid if possible
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

Compute exe variable just once
  ocaml/forkexecd/test/fe_test.ml
Due: ocaml

Merge python3/unittest into python3/tests
  .codecov.yml
  .github/workflows/main.yml
  python3/tests/test_hfx_filename.py
  python3/tests/test_nbd_client_manager.py
  python3/tests/test_perfmon.py
  python3/tests/test_usb_scan.py
Due: none

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
