Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Add 'purpose' field in Certificate datamodel
  ocaml/idl/datamodel_certificate.ml
  ocaml/xapi-cli-server/records.ml
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/cert_refresh.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates.mli
  ocaml/xapi/certificates_sync.ml
  ocaml/xapi/xapi_host.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Add 'pinned' in type of Certificate
  ocaml/alerts/certificate/certificate_check.ml
  ocaml/alerts/certificate/certificate_check.mli
  ocaml/idl/datamodel_certificate.ml
  ocaml/xapi-consts/api_messages.ml
  ocaml/xapi/db_gc_util.ml
Due: ocaml

Add new APIs for trusted certificates (no impl.)
  ocaml/idl/datamodel_pool.ml
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_pool.mli
Due: ocaml

Implement APIs in xapi_pool.ml
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/cert_refresh.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates.mli
  ocaml/xapi/certificates_sync.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_host.ml
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Check if already exists when installing a certificate
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/certificates.ml
Due: ocaml

Update host_install
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates.mli
Due: ocaml

Update host_uninstall
  ocaml/xapi/certificates.ml
Due: ocaml

Make CertificateProvider.store_path support multiple paths
  ocaml/xapi/cert_distrib.ml
Due: ocaml

Add new constructors of certificate type for trusted certs
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/certificates.mli
Due: ocaml

Update copy_certs_to_host to include trusted certs
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates.mli
Due: ocaml

Use Cert_distrib instead of sync* in Certificates
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/cert_distrib.mli
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates.mli
  ocaml/xapi/xapi_pool.ml
Due: ocaml

Update how to update bundles
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/cert_refresh.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates.mli
  ocaml/xapi/certificates_sync.ml
  ocaml/xapi/helpers.ml
  scripts/update-ca-bundle.sh
Due: ocaml

Add collect_trusted_certs
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/cert_distrib.mli
Due: ocaml

Add pool.exchange_trusted_certificates_on_join
  ocaml/idl/datamodel_errors.ml
  ocaml/idl/datamodel_pool.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates.mli
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_pool.mli
Due: ocaml

Add collect_crls
  ocaml/xapi/cert_distrib.ml
  ocaml/xapi/cert_distrib.mli
Due: ocaml

Add pool.exchange_crls_on_join
  ocaml/idl/datamodel_pool.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_pool.mli
  ocaml/xapi/xapi_pool_helpers.ml
Due: ocaml

Fix certificate error messages
  ocaml/idl/datamodel_errors.ml
Due: ocaml

Cleanup trusted on ejected host
  ocaml/xapi/certificates.ml
  ocaml/xapi/certificates.mli
  ocaml/xapi/xapi_pool.ml
Due: ocaml

[doc] Update how to handle trusted certificates when pool.join
  doc/content/design/pool-certificates.md
  doc/content/design/trusted-certificates.md
Due: none

Bump up last_known_schema_hash
  ocaml/idl/schematest.ml
Due: ocaml

[Backport] Don't block switching to a different edition when HA is enabled
  ocaml/xapi/xapi_host.ml
Due: ocaml

CA-423556: print full checkout error msg in xe apply-edition
  ocaml/xapi-cli-server/cli_operations.ml
Due: ocaml

CP-310090 Stunnel lib: Expose unix socket path for TLS proxy
  ocaml/libs/stunnel/stunnel.ml
  ocaml/libs/stunnel/stunnel.mli
  ocaml/libs/stunnel/stunnel_client.ml
  ocaml/libs/stunnel/stunnel_client.mli
  ocaml/libs/stunnel/stunnel_error.ml
  ocaml/libs/stunnel/stunnel_error.mli
  ocaml/xapi-consts/constants.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/xapi_globs.ml
Due: ocaml

Improve certificate_verity errors
  ocaml/libs/stunnel/stunnel.ml
Due: ocaml

Support check stunnel log with input channel
  ocaml/libs/stunnel/stunnel.ml
  ocaml/libs/stunnel/stunnel.mli
  ocaml/libs/stunnel/stunnel_log_scanner.ml
  ocaml/libs/stunnel/stunnel_log_scanner.mli
Due: ocaml

Add unit test for stunnel_log_scanner
  ocaml/libs/stunnel/test/data/certificate_expired.log
  ocaml/libs/stunnel/test/data/certificate_self_signed.log
  ocaml/libs/stunnel/test/data/configuration_failed.log
  ocaml/libs/stunnel/test/data/connection_refused.log
  ocaml/libs/stunnel/test/data/empty.log
  ocaml/libs/stunnel/test/data/no_host_resolved.log
  ocaml/libs/stunnel/test/data/subject_checks_failed.log
  ocaml/libs/stunnel/test/data/successful_connection.log
  ocaml/libs/stunnel/test/dune
  ocaml/libs/stunnel/test/test_stunnel_log_scanner.ml
  ocaml/libs/stunnel/test/test_stunnel_log_scanner.mli
Due: ocaml

xe-reset-networking: allow the user to perform a network reset without renaming the interface
  python3/bin/xe-reset-networking
Due: python3

CP-309972: Configurable between ldap and ldaps during join domain
  ocaml/xapi/extauth_plugin_ADwinbind.ml
Due: ocaml

dune-project: Add conf-qemu-img dependency to vhd-tool
  dune-project
  opam/vhd-tool.opam
Due: none

CA-424473 Fix OpaqueRef:NULL in vm import
  ocaml/xapi/import.ml
Due: ocaml

CP-311020: ldaps design minior update
  doc/content/design/external-auth-ldaps.md
Due: none

makefile: add check and format actions
  Makefile
Due: none

git: add .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Use opam 2.0 metadata
  xapi-backtrace.opam
Due: none

lib: use Fun.protect
  lib/backtrace.ml
  test/reraise.t
Due: none

lib: use Stdlib for splitting strings on characters
  lib/backtrace.ml
  test/reraise.t
Due: none

lib: Provide new with_backtraces to avoid printing invalid backtraces
  lib/backtrace.ml
  lib/backtrace.mli
  test/log.ml
  test/log.mli
  test/raiser.ml
  test/reraise.t
Due: none

backtrace: keep old backtraces on reraise
  lib/backtrace.ml
  test/reraise.t
Due: none

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
