Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py

CP-49953: Remove parse_uri, switch to using Uri module instead
  ocaml/libs/http-lib/http.ml
  ocaml/libs/http-lib/http.mli
  ocaml/libs/http-lib/http_svr.ml
Due: ocaml

CA-394169: Allow task to have permissions on itself
  ocaml/xapi/taskHelper.ml
Due: ocaml

CI: use new version of codecov action
  .github/workflows/other.yml
Due: none

Merge .codecov.yml from feature/py3 to drop scripts checks
  .codecov.yml
Due: none

CP-49903: Moved echo.py from scripts/examples/python to python3/plugins directory
  python3/Makefile
  python3/plugins/echo.py
  scripts/Makefile
Due: python3

fixup! xapi.conf: introduce test_open
  Makefile
Due: none

Fall back to codecov v3 when v4 has no token, add coveralls
  .github/workflows/other.yml
Due: none

python3/plugins/echo.py: Fix spelling of the added comment
  python3/plugins/echo.py
Due: python3

CP-49903: mv echo plugin from scripts/examples/python/echo.py to python3/plugins (#5742)
  python3/Makefile
  python3/plugins/echo.py
  scripts/Makefile
Due: python3

CP-49928: test_static_vids.py: mv to py3, test list_vdis & fresh_name
  python3/tests/test_static_vdis.py
  scripts/test_static_vdis.py
Due: none

CP-49928: Fix pytype warnings in scripts/static-vdis
  pyproject.toml
  scripts/static-vdis
Due: none

CP-50055 Add Go SDK as a release package in XAPI
  .github/workflows/generate-and-build-sdks.yml
  .github/workflows/release.yml
Due: none

CI: codecov is unstable, use coveralls
  .github/workflows/other.yml
Due: none

CP-49911: Removed lvhd-api-test.py from scripts/examples/python/
  scripts/examples/python/lvhd-api-test.py
Due: none

CA-394921: Ignore unkown properties during Java SDK deserialisation
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
Due: ocaml

CP-49446: expose SR health values to Python
  ocaml/xapi-storage-script/main.ml
  ocaml/xapi-storage/generator/lib/control.ml
Due: ocaml

CP-50091: Moved inventory.py from scripts/examples/python/ to python3/packages/inventory.py - Fixed bare-except, unspecified-encoding and indentation issue
  python3/Makefile
  python3/packages/inventory.py
  scripts/Makefile
  scripts/examples/python/inventory.py
Due: python3

IH-628: add new package clock for timekeeping
  clock.opam
  dune-project
  ocaml/libs/clock/date.ml
  ocaml/libs/clock/date.mli
  ocaml/libs/clock/dune
  ocaml/libs/clock/test_date.ml
  ocaml/libs/clock/test_date.mli
  quality-gate.sh
Due: ocaml

opam: record correct authorship for stdext packages
  dune-project
  xapi-stdext-date.opam
  xapi-stdext-encodings.opam
  xapi-stdext-pervasives.opam
  xapi-stdext-threads.opam
  xapi-stdext-unix.opam
  xapi-stdext-zerocheck.opam
Due: none

xapi-stdext-date: move implementation to clock package
  clock.opam
  dune-project
  ocaml/libs/clock/date.ml
  ocaml/libs/clock/dune
  ocaml/libs/clock/test_date.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-date/date.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-date/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-date/test.ml
  xapi-stdext-date.opam
Due: ocaml

IH-628, clock: add timer module
  clock.opam
  dune-project
  ocaml/libs/clock/date.ml
  ocaml/libs/clock/dune
  ocaml/libs/clock/test_timer.ml
  ocaml/libs/clock/test_timer.mli
  ocaml/libs/clock/timer.ml
  ocaml/libs/clock/timer.mli
Due: ocaml

IH-628: remove deadlines from timers
  ocaml/libs/clock/timer.ml
  ocaml/libs/clock/timer.mli
Due: ocaml

log: add pretty printer module
  ocaml/libs/log/debug.ml
  ocaml/libs/log/debug.mli
  ocaml/libs/log/dune
  ocaml/xapi-guard/lib/disk_cache.ml
Due: ocaml

xapi_globs: add duration type for arguments
  ocaml/xapi/xapi_globs.ml
Due: ocaml

clock/date: Note procedence of the weekday algorithm
  ocaml/libs/clock/date.ml
Due: ocaml

Make: install library clock
  Makefile
Due: none

doc: remaining API docs
  doc/content/xen-api/classes/_index.html
  doc/content/xen-api/topics/_index.md
  doc/content/xen-api/topics/consoles.md
  doc/content/xen-api/topics/guest-agents.md
  doc/content/xen-api/topics/importexport.md
  doc/content/xen-api/topics/memory.md
  doc/content/xen-api/topics/metrics.md
  doc/content/xen-api/topics/snapshots.md
  doc/content/xen-api/topics/udhcp.md
  doc/content/xen-api/topics/vm-lifecycle.md
  doc/content/xen-api/topics/xencenter.md
  doc/content/xen-api/usage.md
Due: none

Printf.kprintf is deprecated, replace with Printf.ksprintf
  ocaml/forkexecd/lib/fe_argv.ml
  ocaml/forkexecd/lib/forkhelpers.ml
  ocaml/forkexecd/src/child.ml
  ocaml/forkexecd/src/fe_debug.ml
  ocaml/libs/log/debug.ml
  ocaml/mpathalert/mpathalert.ml
  ocaml/perftest/perfdebug.ml
  ocaml/rrd2csv/src/rrd2csv.ml
  ocaml/xapi/certificates_sync.ml
  ocaml/xapi/import.ml
  ocaml/xapi/importexport.ml
  ocaml/xapi/xapi_xenops.ml
  ocaml/xcp-rrdd/bin/rrdd/xcp_rrdd.ml
  ocaml/xe-cli/newcli.ml
  ocaml/xenopsd/lib/xenops_server.ml
  ocaml/xenopsd/pvs/pvs_proxy_setup.ml
  ocaml/xenopsd/xc/device.ml
  ocaml/xenopsd/xc/xenops_server_xen.ml
Due: ocaml

Fix misplaced inline attributes
  ocaml/libs/xapi-stdext/lib/xapi-stdext-encodings/encodings.ml
  ocaml/xenopsd/xc/domain.ml
Due: ocaml

CP-49633: Pass traceparent for non-local `XenAPI.py` sessions.
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

CP-50050 track CBT status for SMAPIv3 SRs
  ocaml/xapi-storage-script/main.ml
Due: ocaml

tracing: Instrument task related functionality
  ocaml/xapi/helpers.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/taskHelper.ml
  ocaml/xapi/xapi_task.ml
Due: ocaml

context: `complete_tracing` should be called last
  ocaml/xapi/taskHelper.ml
Due: ocaml

context: catch error inside span
  ocaml/xapi/context.ml
Due: ocaml

time: use `Date.now` over `Unix.time` in `taskHelper.ml`
  ocaml/xapi/taskHelper.ml
Due: ocaml

CP-49900: Moved scripts/templates to python3/templates directory - Modified code to using 2to3 - Fixed except issue - Removed templates from scripts/Makefile
  python3/Makefile
  python3/templates/debian
  python3/templates/debug
  scripts/Makefile
Due: python3

formatting: Use `let@` and `match` statements.
  ocaml/xapi/taskHelper.ml
Due: ocaml
