Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

xapi-stdext-std: replace String.filter_chars with Astring.filter
  ocaml/libs/tgroup/dune
  ocaml/libs/tgroup/tgroup.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.mli
  ocaml/xe-cli/dune
  ocaml/xe-cli/newcli.ml
Due: ocaml

opam: update metadata
  opam/xapi-debug.opam
  opam/xapi-storage-cli.opam
  opam/xapi-tools.opam
  opam/xapi-work-queues.opam
  opam/xapi.opam
Due: none

xapi-stdext-std: replace String.split_f with Astring functions
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext_test.ml
  ocaml/tests/test_guest_agent.ml
  ocaml/xapi/workload_balancing.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_host_crashdump.ml
  ocaml/xapi/xapi_pif.ml
  ocaml/xapi/xha_interface.ml
Due: ocaml

xapi-stdext-std: test String.replace
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext_test.ml
Due: ocaml

xapi-stdext-std: change String.replace to replace characters
  ocaml/idl/ocaml_backend/gen_rbac.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext_test.ml
  ocaml/rrd2csv/src/rrd2csv.ml
  ocaml/xapi/audit_log.ml
  ocaml/xapi/pciops.ml
  ocaml/xapi/pvs_proxy_control.ml
  ocaml/xapi/rbac_audit.ml
  ocaml/xapi/storage_mux.ml
Due: ocaml

quicktests: Force VDI format on creation
  ocaml/quicktest/qt.ml
  ocaml/quicktest/qt.mli
  ocaml/quicktest/quicktest_max_vdi_size.ml
  ocaml/quicktest/quicktest_vdi_ops_data_integrity.ml
Due: ocaml

xapi_globs: Add vhd_legacy_blocks_format feature flag
  ocaml/xapi/xapi_globs.ml
Due: ocaml

python3/qcow2-to-stdout: Implement Interval for checking sparse cluster allocation
  python3/libexec/qcow2-to-stdout.py
Due: python3

vhd_qcow_parsing: Add parse_header_interval for interval-based headers
  ocaml/xapi/qcow_tool_wrapper.ml
  ocaml/xapi/qcow_tool_wrapper.mli
  ocaml/xapi/stream_vdi.ml
  ocaml/xapi/vhd_qcow_parsing.ml
  ocaml/xapi/vhd_qcow_parsing.mli
  ocaml/xapi/vhd_tool_wrapper.ml
Due: ocaml

vhd-tool: Add cram tests for read_headers
  ocaml/vhd-tool/cli/dune
  ocaml/vhd-tool/cli/read_headers.t
Due: ocaml

vhd-tool: Add read_headers_interval to the cram test
  ocaml/vhd-tool/cli/read_headers.t
Due: ocaml

python3/qcow2-to-stdout: Switch to sparse interval format for nonzero_clusters
  python3/libexec/qcow2-to-stdout.py
Due: python3

qcow_tool_wrapper: Add note on using header information from VHD files
  ocaml/xapi/qcow_tool_wrapper.ml
Due: ocaml

vhd-tool: Add read_headers_interval command
  ocaml/libs/vhd/vhd_format/f.ml
  ocaml/libs/vhd/vhd_format/f.mli
  ocaml/vhd-tool/cli/main.ml
  ocaml/vhd-tool/src/impl.ml
  ocaml/vhd-tool/src/impl.mli
Due: ocaml

quicktest: Make default virtual size less magical
  ocaml/quicktest/qt.ml
  ocaml/quicktest/quicktest_vm_snapshot.ml
Due: ocaml

qcow_tool_wrapper: Call qemu-img instead of qcow-stream-tool
  ocaml/xapi/qcow_tool_wrapper.ml
  ocaml/xapi/vhd_qcow_parsing.ml
  ocaml/xapi/vhd_qcow_parsing.mli
  ocaml/xapi/xapi_globs.ml
  python3/libexec/qcow2-to-stdout.py
Due: ocaml, python3

qcow-stream-tool: Drop read_headers
  ocaml/qcow-stream-tool/qcow_stream_tool.ml
Due: ocaml

CP-312094: Update rate limiting design document
  doc/content/design/rate_limit.md
Due: none

dune-project: define missing opam dependencies
  dune-project
  opam/xapi-work-queues.opam
Due: none

fixup! CP-312094: Update rate limiting design document
  doc/content/design/rate_limit.md
Due: none

dune-project: Add conf-qemu-img dependency to vhd-tool
  dune-project
  opam/vhd-tool.opam
Due: none

CP-53843: tracing -- link internal subtasks traces
  ocaml/xapi-idl/lib/debug_info.ml
  ocaml/xapi-idl/lib/debug_info.mli
  ocaml/xapi/context.ml
  ocaml/xapi/context.mli
  ocaml/xapi/sm_exec.ml
Due: ocaml

CP-53843: refactor the code
  ocaml/xapi/sm_exec.ml
Due: ocaml

CP-53843: reusable session for sm_exec
  ocaml/xapi/sm_exec.ml
Due: ocaml

CP-53843: Move session handling logic out of `sm_exec`
  ocaml/xapi/sm_exec.ml
  ocaml/xapi/xapi_session.ml
  ocaml/xapi/xapi_session.mli
Due: ocaml

Use the latest version of System.Management.Automation (7.4.14).
  ocaml/sdk-gen/powershell/autogen/src/XenServerPowerShell.csproj
Due: ocaml

CA-423816 avoid double counting VM overhead memory
  ocaml/xenopsd/xc/xenops_server_xen.ml
Due: ocaml

CA-423816 disable workaround in quicktest
  ocaml/quicktest/quicktest_vm_memory.ml
Due: ocaml

CP-311908: Add a new RPC call VM.set_NVRAM_EFI_variables_v2 for the new varstored
  ocaml/idl/datamodel_vm.ml
  ocaml/tests/test_vm_check_operation_error.ml
  ocaml/xapi-guard/lib/server_interface.ml
  ocaml/xapi-guard/test/xapi_guard_test.ml
  ocaml/xapi-idl/guard/varstored/interface.ml
  ocaml/xapi-idl/lib_test/test_data/guard/varstored/requests/VM.set_NVRAM_EFI_variables_v2.request.0
  ocaml/xapi-idl/lib_test/test_data/guard/varstored/responses/VM.set_NVRAM_EFI_variables_v2.response.0
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_vm.ml
  ocaml/xapi/xapi_vm.mli
Due: ocaml

CP-312160: secureboot certificate update design doc
  doc/content/design/secureboot-certificate-expiry.md
Due: none

CA-425472: Signal correct daemon during log rotation
  ocaml/xcp-rrdd/bin/rrdp-scripts/logrotate-rrdd-plugins
  scripts/audit-logrotate
  scripts/xapi-logrotate.conf
Due: ocaml

CP-311905: add VM.update_secureboot_certificates_on_boot interface
  ocaml/idl/datamodel_vm.ml
  ocaml/tests/test_vm.ml
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi/message_forwarding.ml
  ocaml/xapi/xapi_vm.ml
  ocaml/xapi/xapi_vm.mli
Due: ocaml

Revert "log/debug: use Ptime's rfc3339 formatting when logging to stdout"
  ocaml/idl/ocaml_backend/dune
  ocaml/idl/ocaml_backend/gen_rbac.ml
  ocaml/libs/log/debug.ml
  ocaml/libs/log/debug.mli
  ocaml/libs/log/dune
Due: ocaml

Bump up schema_minor_vsn to 794
  ocaml/idl/datamodel_common.ml
Due: ocaml

VM.secureboot_certificates_state is lost during import
  ocaml/xapi/import.ml
Due: ocaml

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
