Repository xapi-project/xen-api: changes, and which Codecov flags are due for each by the changed paths.
All: ocaml, python3

maintenance: delete unused fields
  ocaml/database/master_connection.ml
  ocaml/idl/datamodel_values.ml
  ocaml/libs/http-lib/buf_io.ml
  ocaml/libs/http-lib/xmlrpc_client.ml
  ocaml/libs/stunnel/stunnel_cache.ml
  ocaml/libs/stunnel/stunnel_cache.mli
  ocaml/libs/vhd/vhd_format/f.ml
  ocaml/libs/vhd/vhd_format_lwt/block.ml
  ocaml/libs/vhd/vhd_format_lwt/iO.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-threads/threadext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/unixext.ml
  ocaml/libs/xml-light2/xml.ml
  ocaml/message-switch/switch/logging.ml
  ocaml/rrd2csv/src/rrd2csv.ml
  ocaml/xapi-idl/lib/scheduler.ml
  ocaml/xapi-idl/lib/task_server.ml
  ocaml/xapi/vgpuops.ml
  ocaml/xapi/xapi_dr_task.ml
  ocaml/xapi/xapi_event.ml
  ocaml/xcp-rrdd/bin/rrdd/rrdd_server.ml
  ocaml/xen-api-client/lib_test/xen_api_test.ml
  ocaml/xsh/xsh.ml
Due: ocaml

datamodel_lifecycle: automated bump
  ocaml/idl/datamodel_lifecycle.ml
Due: ocaml

maintenance: restore dune utop
  ocaml/sdk-gen/go/dune
  ocaml/xapi/dune
Due: ocaml

[maintenance]: clock doesn't need to be an external package
  Makefile
  clock.opam
  dune-project
  ocaml/libs/clock/dune
  xapi-stdext-date.opam
Due: ocaml

mirage-rng: Initialize it only in tests and selfcert
  dune-project
  ocaml/gencert/lib.ml
  ocaml/gencert/selfcert.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/dune
Due: ocaml

xapi: update mirage-crypto version
  dune-project
  ocaml/gencert/dune
  ocaml/gencert/lib.ml
  ocaml/gencert/selfcert.ml
  ocaml/gencert/test_lib.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/dune
  xapi.opam
  xapi.opam.template
Due: ocaml

clock: use external qcheck-alcotest
  clock.opam
  dune-project
  ocaml/libs/clock/dune
  ocaml/libs/clock/test_timer.ml
  quality-gate.sh
Due: ocaml

CP-50448: move quickcheck tests into internal libraries
  ocaml/libs/clock/dune
  ocaml/libs/clock/test_timer.ml
  ocaml/libs/clock/test_timer.mli
  ocaml/libs/clock/test_timer_run.ml
  ocaml/libs/clock/test_timer_run.mli
  ocaml/libs/http-lib/bufio_test.ml
  ocaml/libs/http-lib/bufio_test.mli
  ocaml/libs/http-lib/bufio_test_run.ml
  ocaml/libs/http-lib/bufio_test_run.mli
  ocaml/libs/http-lib/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test_run.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/unixext_test_run.mli
Due: ocaml

CP-50448: run the QuickCheck tests in QuickTest
  ocaml/quicktest/dune
  ocaml/quicktest/quicktest.ml
  ocaml/quicktest/quicktest_args.ml
Due: ocaml

Catch system exit in observer.py to close gracefully
  python3/packages/observer.py
Due: python3

CP-49214: Allowed operations for sync bundle
  ocaml/idl/datamodel_errors.ml
  ocaml/idl/datamodel_pool.ml
  ocaml/idl/schematest.ml
  ocaml/xapi-cli-server/record_util.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_pool_helpers.ml
Due: ocaml

CP-49214: Upload and sync bundle file
  ocaml/idl/datamodel.ml
  ocaml/idl/datamodel_errors.ml
  ocaml/xapi-cli-server/cli_frontend.ml
  ocaml/xapi-cli-server/cli_operations.ml
  ocaml/xapi-cli-server/cli_util.ml
  ocaml/xapi-consts/api_errors.ml
  ocaml/xapi-consts/constants.ml
  ocaml/xapi/repository.ml
  ocaml/xapi/tar_ext.ml
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_pool.mli
Due: ocaml

CP-49214: UT for upload and sync bundle file
  ocaml/tests/dune
  ocaml/tests/test_pool_repository.ml
  ocaml/tests/test_repository.ml
Due: ocaml

CP-49214: Refactor cli_operations
  ocaml/xapi-cli-server/cli_operations.ml
  quality-gate.sh
Due: ocaml

CP-49876: Create spans for observer.py itself
  python3/packages/observer.py
Due: python3

CP-49378: Expose XAPI API version in the output of HTTP API /updates
  ocaml/tests/test_updateinfo.ml
  ocaml/xapi/repository.ml
  ocaml/xapi/updateinfo.ml
  ocaml/xapi/updateinfo.mli
Due: ocaml

CP-50121: Remove bc package from XS9 dom0
  scripts/xe-xentrace
Due: none

dune: declare stresstests dependencies
  ocaml/libs/http-lib/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/dune
Due: ocaml

CP-49148: Fix ambiguous python shebang for XS9
  python3/libexec/restore-sr-metadata.py
Due: python3

CA-396479: Use default value for unknown enums in Java
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
Due: ocaml

CP-49148: fix pylint warning
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

Update qcheck-alcotest dependencies
  dune-project
  ocaml/libs/clock/dune
  xapi.opam
Due: ocaml

docs: add design documents for certificate-related features
  doc/content/design/pool-certificates.md
  doc/content/design/user-certificates.md
Due: none

Default to "UNRECOGNIZED" when using `toString()` of Type enums
  ocaml/sdk-gen/java/main.ml
Due: ocaml

CP-49148: Remove unused xc.py
  python3/tests/test_usb_scan.py
  pytype_reporter.py
  scripts/xc.py
Due: none

CP-49148: Convert rrdd-example.py to python3
  ocaml/xcp-rrdd/scripts/rrdd/rrdd-example.py
Due: ocaml

xapi-idl: Delete String.{explode,implode} functions
  ocaml/idl/markdown_backend.ml
  ocaml/libs/http-lib/http.ml
  ocaml/libs/http-lib/http.mli
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/xstringext.mli
  ocaml/perftest/createpool.ml
  ocaml/xapi-idl/lib_test/device_number_test.ml
  ocaml/xapi-idl/lib_test/device_number_test.mli
  ocaml/xapi-idl/lib_test/dune
  ocaml/xapi-idl/lib_test/test.ml
  ocaml/xapi-idl/xen/device_number.ml
  ocaml/xapi-idl/xen/device_number.mli
  ocaml/xapi-idl/xen/dune
  ocaml/xapi/dbsync_slave.ml
  ocaml/xapi/storage_access.ml
  ocaml/xapi/vbdops.ml
  ocaml/xapi/xapi_dr_task.ml
  ocaml/xapi/xapi_templates_install.ml
  ocaml/xapi/xapi_vbd.ml
  ocaml/xapi/xapi_vbd_helpers.ml
  ocaml/xapi/xapi_vm.ml
  ocaml/xapi/xapi_vm_helpers.ml
  ocaml/xapi/xapi_xenops.ml
  ocaml/xapi/xha_interface.ml
  ocaml/xapi/xmlrpc_sexpr.ml
  ocaml/xenopsd/cli/xn.ml
  ocaml/xenopsd/lib/xenops_server_simulator.ml
  ocaml/xenopsd/xc/device.ml
  ocaml/xenopsd/xc/xenops_server_xen.ml
  quality-gate.sh
  xapi-idl.opam
  xapi-idl.opam.template
Due: ocaml

xapi-idl: Refactor out find_index and add it to Listext
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/listext.ml
  ocaml/libs/xapi-stdext/lib/xapi-stdext-std/listext.mli
  ocaml/xapi-idl/xen/device_number.ml
  ocaml/xapi-idl/xen/dune
Due: ocaml

xapi-idl: do not use custom operators for bit manipulations
  ocaml/xapi-idl/xen/device_number.ml
Due: ocaml

CP-50426: Factor out module signature prefix
  ocaml/xapi/authx.ml
  ocaml/xapi/extauth_plugin_ADpbis.ml
  ocaml/xapi/extauth_plugin_ADwinbind.ml
Due: ocaml

CP-50426: Propagate __context in Auth_signature
  ocaml/tests/testauthx.ml
  ocaml/xapi/auth_signature.ml
  ocaml/xapi/authx.ml
  ocaml/xapi/extauth_plugin_ADpbis.ml
  ocaml/xapi/extauth_plugin_ADwinbind.ml
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_auth.ml
  ocaml/xapi/xapi_host.ml
  ocaml/xapi/xapi_pool.ml
  ocaml/xapi/xapi_session.ml
  ocaml/xapi/xapi_subject.ml
Due: ocaml

CP-50426: Add tracing to external auth functions
  ocaml/xapi/authx.ml
  ocaml/xapi/extauth_plugin_ADpbis.ml
  ocaml/xapi/extauth_plugin_ADwinbind.ml
Due: ocaml

ci: use the names of binaries, not libraries in stresstests
  ocaml/libs/http-lib/dune
  ocaml/libs/xapi-stdext/lib/xapi-stdext-unix/test/dune
Due: ocaml

CP-46112: Remove python2 compatible code from XenAPI
  scripts/Makefile
  scripts/examples/python/XenAPI/XenAPI.py
  scripts/examples/python/XenAPIPlugin.py
Due: none

CP-46112: Relocate XenAPI to python3 directory
  .github/workflows/release.yml
  .gitignore
  Makefile
  ocaml/sdk-gen/README.md
  pyproject.toml
  python3/Makefile
  python3/examples/Makefile
  python3/examples/README.md
  python3/examples/XenAPI/XenAPI.py
  python3/examples/XenAPI/__init__.py
  python3/examples/XenAPIPlugin.py
  python3/examples/pyproject.toml
  python3/examples/setup.cfg
  scripts/Makefile
Due: ocaml, python3

Revert "Merge pull request #5878 from psafont/up"
  dune-project
  ocaml/gencert/dune
  ocaml/gencert/lib.ml
  ocaml/gencert/selfcert.ml
  ocaml/gencert/test_lib.ml
  ocaml/xapi/certificates.ml
  ocaml/xapi/dune
  xapi.opam
  xapi.opam.template
Due: ocaml

CP-50117: Adds specialized socket for sm
  ocaml/xapi/context.ml
  ocaml/xapi/xapi.ml
  ocaml/xapi/xapi_globs.ml
  scripts/examples/python/XenAPI/XenAPI.py
Due: ocaml

CP-50118: Set thread priority based on `nice`
  ocaml/libs/http-lib/http_svr.ml
  ocaml/libs/http-lib/http_svr.mli
  ocaml/libs/http-lib/server_io.ml
  ocaml/libs/http-lib/server_io.mli
  ocaml/xapi/xapi.ml
Due: ocaml

Path conditions:
  ocaml: any of: ocaml/**, but not: **/test_*.py
  python3: any of: python3/**, but not: **/test_*.py
