Repository xapi-project/xen-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy-reviewdog, pylint, pytype

Path conditions:
  pytest: any of: python3/ and \.py$
  mypy-reviewdog: any of: python3/
  pylint: any of: python3/ and \.py$
  pytype: any of: python3/ and \.py$

CP-47653: Explicit exception chaining
  python3/bin/perfmon
Due: mypy-reviewdog

CP-46944: Fixup pylint warnings
  python3/dnf_plugins/accesstoken.py
  python3/dnf_plugins/ptoken.py
  python3/tests/test_dnf_plugins.py
Due: pytest, mypy-reviewdog, pylint, pytype

CP-46944: Update yum plugins to dnf plugins (#5526)
  .github/workflows/main.yml
  python3/Makefile
  python3/README.md
  python3/dnf_plugins/__init__.py
  python3/dnf_plugins/accesstoken.py
  python3/dnf_plugins/ptoken.py
  python3/tests/stubs/dnf.py
  python3/tests/test_dnf_plugins.py
Due: pytest, mypy-reviewdog, pylint, pytype

Routine feature branch sync (#5531)
  ocaml/libs/uuid/uuidx.ml
  ocaml/libs/uuid/uuidx.mli
  ocaml/message-switch/cli/dune
  ocaml/message-switch/cli/main.ml
  ocaml/quicktest/qt.ml
  ocaml/quicktest/qt.mli
  ocaml/quicktest/quicktest_vm_lifecycle.ml
  ocaml/xapi/sm.ml
  ocaml/xapi/sm_exec.ml
  ocaml/xapi/storage_smapiv1.ml
  ocaml/xapi/xapi_vdi.ml
  scripts/plugins/perfmon
  scripts/xe-backup-metadata
  scripts/xe-restore-metadata
Due: none

CA-388860: set xapi-guard cache capacity to 512
  ocaml/xapi-guard/lib/disk_cache.ml
Due: none

xapi-guard-test: Direct loglines to stdout
  ocaml/xapi-guard/test/cache_test.ml
Due: none

CP-47653: Fix a `bytes-str` bug
  python3/bin/perfmon
  scripts/plugins/perfmon
Due: mypy-reviewdog

CP-46576: Add standard http attributes
  ocaml/xapi/context.ml
Due: none

CP-46576: Add standard network attributes
  ocaml/xapi/context.ml
Due: none

fixup! CP-46576: Add standard network attributes
  ocaml/xapi/context.ml
Due: none

XenAPI.py: use correct type for 'verbose' and 'allow_none' with Python3
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

XenAPI: suppress pytype false positives
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

remove XenAPI.py from pytype expected to fail list
  pyproject.toml
Due: none

CP-48623: use persistent unix socket connection for SM to XAPI communication
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

CP-48623: avoid querying the API version, it is not used
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

CP-48623: avoid 4 additional API calls after each SM login
  scripts/examples/python/XenAPI/XenAPI.py
Due: none

CA-388860: xapi-guard cache now starts in the most efficient mode
  ocaml/xapi-guard/lib/disk_cache.ml
Due: none

CP-48385: xapi-guard cache: do not spam logs on errors
  ocaml/xapi-guard/lib/disk_cache.ml
Due: none

CA-388860: xapi-guard cache: protect against invalid keys
  ocaml/xapi-guard/lib/disk_cache.ml
  ocaml/xapi-guard/lib/types.ml
  ocaml/xapi-guard/lib/types.mli
  ocaml/xapi-guard/test/cache_test.ml
Due: none

CP-48385: xapi-guard: Remove the notion of temporary writes
  ocaml/xapi-guard/lib/disk_cache.ml
Due: none

CP-45921: Use dnf as package manager for XS9
  ocaml/xapi/pkg_mgr.ml
  ocaml/xapi/pkg_mgr.mli
  ocaml/xapi/repository.ml
  ocaml/xapi/repository_helpers.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_pool.ml
Due: none

CA-378317 fix EBADF in waitpid_nohang (v3)
  ocaml/forkexecd/lib/forkhelpers.ml
  ocaml/forkexecd/lib/forkhelpers.mli
Due: none

CA-384483: Can't export VDI to VHD file with base VDI
  ocaml/xapi/stream_vdi.ml
  ocaml/xapi/vhd_tool_wrapper.ml
Due: none

CP-47600: Move iovirt to python3/plugins
  python3/Makefile
  python3/plugins/iovirt
  scripts/Makefile
Due: mypy-reviewdog

CP-47600: Port iovirt to python3
  python3/plugins/iovirt
Due: mypy-reviewdog

CP-47600: Format the script using black and isort tools
  python3/plugins/iovirt
Due: mypy-reviewdog

CP-47600: Apply pytype check to the new path
  pyproject.toml
Due: none

CP-47600: Fix pylint warnings `unused variables`
  python3/plugins/iovirt
Due: mypy-reviewdog

CP-47600: Fix pylint warning `raise str`
  python3/plugins/iovirt
Due: mypy-reviewdog

CP-47600: Fix pylint warnings `undefined variable`
  python3/plugins/iovirt
Due: mypy-reviewdog

CP-47600: Fix pylint warnings of dict usage and exceptions
  python3/plugins/iovirt
Due: mypy-reviewdog

CP-47600: Add unit tests for iovirt
  pyproject.toml
  python3/plugins/iovirt
  python3/unittest/test_iovirt.py
Due: pytest, mypy-reviewdog, pylint, pytype

CP-47660 define anti-affinity feature
  ocaml/xapi-types/features.ml
  ocaml/xapi-types/features.mli
Due: none

CP-45921: Add unittest
  ocaml/tests/suite_alcotest.ml
  ocaml/tests/test_pkg_mgr.ml
Due: none

CP-45921: Add license header
  ocaml/xapi/pkg_mgr.ml
  ocaml/xapi/pkg_mgr.mli
Due: none

Use Magic MIME to determine fileserver's response content type
  ocaml/xapi/dune
  ocaml/xapi/fileserver.ml
Due: none

CP-45921: Code refine for - Move test code to its own suite - Replace active with manager, which is static - Add cmd_line record type to abstract cmd line type - Refine doc comment and license
  ocaml/tests/dune
  ocaml/tests/suite_alcotest.ml
  ocaml/tests/test_pkg_mgr.ml
  ocaml/xapi/pkg_mgr.ml
  ocaml/xapi/pkg_mgr.mli
  ocaml/xapi/repository.ml
  ocaml/xapi/repository_helpers.ml
  ocaml/xapi/xapi_pool.ml
Due: none

CP-45921: Use dnf as package manager for XS9 (#5534)
  ocaml/tests/dune
  ocaml/tests/test_pkg_mgr.ml
  ocaml/xapi/pkg_mgr.ml
  ocaml/xapi/pkg_mgr.mli
  ocaml/xapi/repository.ml
  ocaml/xapi/repository_helpers.ml
  ocaml/xapi/xapi_globs.ml
  ocaml/xapi/xapi_pool.ml
Due: none
